@charset "UTF-8";
body {
    font-family: 'Open Sans', 'PMingLiU', 'cwTeXMing', serif;
    line-height: 20px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #000;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #999;
    text-decoration: none;
}

header {
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    position: fixed;
    left: 0;
    bottom: 0;
    min-height: 60px;
    padding: 0 8vw;
}

header .logo {
    float: left;
    width: 115px;
    height: 42px;
    background: url(img/logo.png) no-repeat;
    background-size: 100%;
    margin: 9px 0;
}

header .logo:hover {
    background: url(img/logo-hover.png) no-repeat;
    background-size: 100%;
}

header .left {
    position: fixed;
    left: 40px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 315px;
}

header .right {
    position: fixed;
    right: 40px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 250px;
}

header .left>a,
header .right>a,
header .left>div {
    display: block;
    margin-bottom: 5px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    overflow: visible;
    position: relative;
}

header .left>div:nth-of-type(1) {
    background: url(img/left-menu01.png) no-repeat;
    background-size: 100%;
}

header .left>div:nth-of-type(1):hover,
header .left>.click-check:checked+div:nth-of-type(1) {
    background: url(img/left-menu01-hover.png) no-repeat;
    background-size: 100%;
}

header .left>div:nth-of-type(2) {
    background: url(img/left-menu02.png) no-repeat;
    background-size: 100%;
}

header .left>div:nth-of-type(2):hover,
header .left>.click-check:checked+div:nth-of-type(2) {
    background: url(img/left-menu02-hover.png) no-repeat;
    background-size: 100%;
}

header .left>div:nth-of-type(3) {
    background: url(img/left-menu03.png) no-repeat;
    background-size: 100%;
}

header .left>div:nth-of-type(3):hover,
header .left>.click-check:checked+div:nth-of-type(3) {
    background: url(img/left-menu03-hover.png) no-repeat;
    background-size: 100%;
}

header .left>a:nth-of-type(1) {
    background: url(img/left-menu04.png) no-repeat;
    background-size: 100%;
    margin-bottom: 0;
}

header .left>a:nth-of-type(1):hover {
    background: url(img/left-menu04-hover.png) no-repeat;
    background-size: 100%;
}

header .left>div>label {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

header .left>div>ul {
    position: absolute;
    left: 65px;
    top: 0;
    list-style: none;
    width: 0;
    height: 60px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    opacity: 0;
}

header .left>div:hover>ul {
    width: 66vw;
    opacity: 1;
}

header .left>div>ul:hover {
    overflow: visible;
}

header .left>div>ul>li {
    float: left;
    border-right: 1px solid #fff;
    position: relative;
    overflow: visible;
}

header .left>div>ul>li:last-child {
    border: 0;
}

header .left>div>ul>li>a {
    display: block;
    line-height: 60px;
    padding: 0 10px;
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    position: relative;
}

header .left>div>ul>li:hover>a {
    color: #000;
    background: rgba(153, 153, 153, 0.8);
}

header .left>div>ul>li>ol {
    width: auto;
    position: absolute;
    top: 60px;
    left: 0;
    display: none;
    padding-top: 5px;
}

header .left>div>ul>li:hover>a+ol {
    display: block;
}

header .left>div>ul>li>ol>a {
    display: block;
    line-height: 40px;
    padding: 0 10px;
    background: rgba(153, 153, 153, 0.8);
    white-space: nowrap;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

header .left>div>ul>li>ol>a:hover {
    background: rgba(76, 76, 76, 0.8);
    color: #fff;
}

header .left>div>ul>li>ol>a:last-child {
    border: 0;
}

header .right a:nth-of-type(1) {
    background: url(img/right-menu01.png) no-repeat;
    background-size: 100%;
}

header .right a:nth-of-type(1):hover {
    background: url(img/right-menu01-hover.png) no-repeat;
    background-size: 100%;
}

header .right a:nth-of-type(1).logout {
    background: url(img/right-menu02.png) no-repeat;
    background-size: 100%;
}

header .right a:nth-of-type(1).logout:hover {
    background: url(img/right-menu02-hover.png) no-repeat;
    background-size: 100%;
}

header .right a:nth-of-type(2) {
    background: url(img/right-menu03.png) no-repeat;
    background-size: 100%;
}

header .right a:nth-of-type(2):hover {
    background: url(img/right-menu03-hover.png) no-repeat;
    background-size: 100%;
}

header .right a:nth-of-type(3) {
    background: url(img/right-menu04.png) no-repeat;
    background-size: 100%;
    margin-bottom: 0;
    position: relative;
    width: 70px;
    height: 70px;
    margin-left: -5px;
}

header .right a:nth-of-type(3).full {
    background: url(img/right-menu04-active.png) no-repeat;
    background-size: 100%;
}

header .right a:nth-of-type(3) b {
    font-family: 'PMingLiU', 'cwTeXMing', serif;
    font-size: 13px;
    position: absolute;
    right: 17px;
    bottom: 10px;
    width: 14px;
    text-align: center;
    display: block;
    z-index: 1;
}

header .right a:nth-of-type(3):hover b {
    color: #000;
}

header .bottom {
    float: left;
}

header .bottom>label {
    width: 92px;
    height: 60px;
    float: left;
    margin-left: 60px;
    cursor: pointer;
}

header .bottom>label:nth-of-type(1) {
    background: url(img/link01.png) center no-repeat;
    background-size: 92px 20px;
    margin-left: 47px;
}

header .bottom>label:nth-of-type(2) {
    background: url(img/link02.png) center no-repeat;
    background-size: 92px 20px;
}

header .bottom>label:nth-of-type(3) {
    background: url(img/link03.png) center no-repeat;
    background-size: 92px 20px;
}

header .bottom>label:hover {
    filter: alpha(opacity=40);
    -moz-opacity: 0.40;
    opacity: 0.40;
}

header .bottom-menu {
    position: relative;
    background: #fff;
    width: calc(100% + 16vw);
    margin: 0 -8vw;
    border-left: 8vw solid #fff;
    border-right: 8vw solid #fff;
    padding-bottom: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

header .copyright {
    width: calc(100% + 16vw);
    margin: 0 -8vw;
    padding: 0 10px;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    background: #000;
    max-height: 0;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

header .copyright a {
    color: #fff;
}

header .copyright a,
header .copyright span {
    margin: 0 10px;
}

header .copyright a:hover {
    color: #ccc;
    text-decoration: underline;
}

header .bottom-menu .info {
    text-align: center;
    padding-top: 30px;
}

header .bottom-menu .info span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}

header .bottom-menu .info span.mail {
    display: block;
    margin: 10px 0 0 0;
}

#bottom-menu:checked+.bottom-menu+.copyright {
    max-height: 100px;
    padding: 10px;
}

#bottom-menu:checked+.bottom-menu {
    max-height: 1000px;
    padding-bottom: 15px;
}

header .bottom-menu ul {
    float: left;
    list-style: none;
    margin-left: 73px;
}

header .bottom-menu ul:nth-of-type(1) {
    float: right;
    margin-left: 0;
    margin-right: 89px;
}

header .bottom-menu ul:nth-of-type(2) {
    margin-left: 189px;
}

header .bottom-menu ul:nth-of-type(2),
header .bottom-menu ul:nth-of-type(3),
header .bottom-menu ul:nth-of-type(4) {
    list-style: disc;
}

header .bottom-menu ul li a {
    margin-top: 10px;
    display: block;
}

header .bottom-menu ul:nth-of-type(1) li a {
    width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

header .bottom-menu .close {
    position: absolute;
    right: 0;
    top: 15px;
    display: block;
    width: 29px;
    cursor: pointer;
}

header .bottom-menu .close img {
    width: 100%;
    display: block;
}

header .bottom-menu .close:hover {
    filter: alpha(opacity=40);
    -moz-opacity: 0.40;
    opacity: 0.40;
}

header .link {
    float: right;
    width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

header .link label {
    line-height: 60px;
    cursor: pointer;
}

header .link label:hover {
    color: #999;
}

header .fb {
    float: right;
    margin: 15px 0 16px 60px;
    width: 29px;
    height: 29px;
    background: url(img/fb-icon.png) no-repeat;
    background-size: 100%;
}

header .fb:hover {
    background: url(img/fb-icon-hover.png) no-repeat;
    background-size: 100%;
}

.click-check {
    display: none;
}

#main .space {
    width: 100vw;
    height: 100vh;
    background: #fff;
    position: relative;
}

#main .space img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 50%;
}

#main img {
    display: block;
    width: 100%;
}

.blocker {
    z-index: 999;
}

.modal {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    padding: 40px 50px;
    max-width: 400px;
}

.modal a.close-modal {
    right: 20px;
    top: 20px;
    width: 29px;
    height: 29px;
    background: url(img/close-icon.png) no-repeat;
    background-size: 100%;
}

.modal a.close-modal:hover {
    filter: alpha(opacity=40);
    -moz-opacity: 0.40;
    opacity: 0.40;
}

.modal h3 {
    margin: 0 auto 40px auto;
    height: 32px;
    text-align: center;
}

.modal h3 img {
    height: 100%;
    display: inline-block;
}

.modal a.fb {
    width: 100%;
    display: block;
}

.modal a.fb img {
    display: block;
    width: 100%;
}

.modal a.fb:hover {
    filter: alpha(opacity=90);
    -moz-opacity: 0.90;
    opacity: 0.90;
}

.modal .form {
    padding-top: 20px;
}

.modal .form>label {
    display: block;
    padding: 0 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #656565;
}

.modal .form>label input {
    float: right;
    width: calc(100% - 80px);
    height: 35px;
    border: 0;
    background: none;
    font-size: 13px;
}

.modal .form>label span {
    float: left;
    font-size: 17px;
    width: 75px;
    line-height: 35px;
    display: inline-block;
    vertical-align: top;
}

.modal .form>p {
    text-align: right;
    margin: -10px 0 20px 0;
}

.modal .form .btn a {
    width: 100%;
    margin: 5px auto;
    display: block;
}

.modal .form .btn a img {
    display: block;
    width: 100%;
}

.modal .form.login .btn a:nth-of-type(1):hover {
    background: url(img/login-btn01-hover.png) no-repeat;
    background-size: 100%;
}

.modal .form.login .btn a:nth-of-type(2):hover {
    background: url(img/signup-btn01-hover.png) no-repeat;
    background-size: 100%;
}

.modal .form.signup .btn a:nth-of-type(1):hover {
    background: url(img/signup-btn01-hover.png) no-repeat;
    background-size: 100%;
}

.modal .form.signup .btn a:nth-of-type(2):hover {
    background: url(img/signup-btn02-hover.png) no-repeat;
    background-size: 100%;
}

.modal .form .btn a:hover img {
    opacity: 0;
}

.mobile {
    display: none;
}

#main .page-left {
    width: 220px;
    height: 100vh;
    overflow-y: auto;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    padding: 130px 25px 20px 25px;
}

#main .page-left .title {
    padding: 15px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #000;
    display: block;
}

#main .page-left .title img {
    display: block;
    width: 70px;
}

#main .page-left .sub-menu {
    list-style: none;
}

#main .page-left .sub-menu li a {
    display: block;
    width: 100%;
    padding: 5px 0;
}

#main .page-left .sub-menu li.active a {
    color: #999;
}

#main .page-left .sub-menu li.small-title {
    display: none;
}

#main .page-left .sub-menu li.active+ol.small-title {
    display: block;
}

#main .page-left .sub-menu li.active+ol.small-title li {
    list-style: none;
    margin-left: 28px;
}

#main .page-left .sub-menu li.active+ol.small-title li.active,
#main .page-left .sub-menu li.active+ol.small-title li:hover {
    list-style: disc;
}

#main .page-right,
#main .slides {
    width: calc(100vw - 220px);
    float: right;
}

#main .page-right {
    background: #fff;
    padding: 0 20px 60px 20px;
}

#main .page-right h1 {
    font-size: 30px;
    float: left;
    margin: 20px 0;
    width: 160px;
    line-height: 40px;
}

#main .page-right h1.long {
    width: 65%;
    float: none;
}

#main .page-right .html-box {
    width: 65%;
}

#main .page-right .html-box p {
    margin-bottom: 20px;
    line-height: 25px;
}

#main .page-right>.title {
    float: left;
    width: calc(100% - 160px);
    line-height: 25px;
    margin: 12px 0 20px 0;
}

#main .page-right .one-list {
    width: calc(100% - 250px);
    margin: 0px auto;
    text-align: center;
}

#main .page-right .one-list a {
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    width: 90px;
    margin: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#main .page-right .one-list a img {
    display: block;
    width: 100%;
}

#main .page-right>.top-tab {
    float: left;
    width: calc(100% - 160px);
    margin: 25px 0 0 0;
}

#main .page-right>.top-tab a {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    border: 1px solid #000;
    color: #000;
    line-height: 25px;
    margin: 0 5px;
}

#main .page-right>.top-tab a:hover,
#main .page-right>.top-tab a.active {
    background: #000;
    color: #fff;
}

#main .page-right .two-list>div {
    margin: 30px 0 0 0;
    position: relative;
}

#main .page-right .two-list>div>a {
    float: left;
    width: 30%;
}

#main .page-right .two-list>div>a img {
    display: block;
    width: 100%;
}

#main .page-right .two-list>div>a img:hover {
    filter: alpha(opacity=60);
    -moz-opacity: 0.60;
    opacity: 0.60;
}

#main .page-right .two-list>div>div {
    float: right;
    width: calc(70% - 60px);
    margin: 0 30px;
}

#main .page-right .two-list>div>div h2 {
    font-size: 25px;
    border-bottom: 1px solid #b3b3b3;
    line-height: 30px;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

#main .page-right .two-list>div>div p {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 4px);
    padding: 10px 10px 0 10px;
}

#main .page-right .two-list>div>div p:nth-of-type(2) {
    color: #999999;
    padding-bottom: 40px;
}

#main .page-right .two-list>div>div p span:nth-of-type(1) {
    text-decoration: line-through;
}

#main .page-right .two-list>div>div a {
    position: absolute;
    right: 30px;
    bottom: 10px;
    display: inline-block;
    border: 1px solid #000;
    padding: 0 10px;
    line-height: 20px;
    font-size: 13px;
}

#main .page-right .two-list>div>div a:hover {
    background: #000;
    color: #fff;
}

#main .page-right .page-number {
    margin: 30px 0;
}

#main .page-right .page-number a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    font-size: 13px;
}

#main .page-right .page-number a.active {
    color: #999;
}

#main .page-right .contact-form {
    width: 65%;
}

#main .page-right .contact-form label {
    width: 100%;
    border: 0;
    padding: 0;
    margin: 20px auto 0 auto;
    display: block;
}

#main .page-right .contact-form label strong {
    font-size: 17px;
    color: #000;
    display: block;
    line-height: 30px;
    font-weight: normal;
    text-align: left;
    margin-bottom: 5px;
}

#main .page-right .contact-form label input {
    height: 40px;
}

#main .page-right .contact-form label input,
#main .page-right .contact-form label textarea {
    border: 0;
    border-top: 1px solid #656565;
    border-bottom: 1px solid #656565;
    width: 100%;
    padding: 5px 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

#main .page-right .contact-form label a {
    margin: 50px auto 30px auto;
    display: block;
    width: 100%;
    height: 40px;
    background: url(img/contact-form-btn.png) center no-repeat;
    background-size: auto 100%;
    border: 1px solid #000;
}

#main .page-right .contact-form label a:hover {
    background: url(img/contact-form-btn-hover.png) #000 center no-repeat;
    background-size: auto 100%;
}

#main .slides .slick-prev,
#main .slides .slick-next {
    display: none !important;
}

#main .slides .slick-dots {
    width: 100%;
    list-style: none;
    position: absolute;
    left: 0;
    bottom: 5px;
    text-align: center;
}

#main .slides .slick-dots li {
    display: inline-block;
    margin: 0 5px;
    width: 9px;
    height: 9px;
    background: rgba(255, 255, 255, 0.5);
    text-indent: -99999px;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    cursor: pointer;
}

#main .slides .slick-dots li.slick-active {
    background: rgba(255, 255, 255, 1);
}

#back-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
    width: 45px;
    height: 45px;
    cursor: pointer;
    background: url(img/back-top-btn.png) no-repeat;
    background-size: 100%;
}

#back-to-top:hover {
    background: url(img/back-top-btn-hover.png) no-repeat;
    background-size: 100%;
}

@media screen and (min-width: 768px) {
    header.page .left>div.active,
    header.page .left>a.active,
    header.page .right>a.active {
        position: fixed;
        top: 35px;
        left: 35px;
        cursor: default;
    }
    header.page .left>div.active>label {
        cursor: default;
    }
    header.page .left>div.active ul {
        display: none;
    }
    header.page .left>div:nth-of-type(1).active {
        background: url(img/left-menu01-hover.png) no-repeat;
        background-size: 100%;
    }
    header.page .left>div:nth-of-type(2).active {
        background: url(img/left-menu03-hover.png) no-repeat;
        background-size: 100%;
    }
    header.page .left>div:nth-of-type(3).active {
        background: url(img/left-menu03-hover.png) no-repeat;
        background-size: 100%;
    }
    header.page .left>a:nth-of-type(1).active {
        background: url(img/left-menu04-hover.png) no-repeat;
        background-size: 100%;
    }
    header.page .left {
        top: 35px;
        right: 255px;
        left: auto;
        bottom: auto;
        min-width: 210px;
        height: 60px;
    }
    header.page.member .left {
        right: 185px;
    }
    header.page .right {
        top: 35px;
        right: 35px;
        left: auto;
        bottom: auto;
        min-width: 150px;
        height: 60px;
    }
    header.page .left>div,
    header.page .left>a,
    header.page .right>a {
        float: left;
        margin: 0 5px;
    }
    header.page .right>a:nth-of-type(3) {
        margin-top: -5px;
    }
    header.page .left>div>ul {
        top: 60px;
        left: 0;
        padding-top: 10px;
        height: 70px;
    }
    header .left>div:nth-of-type(4),
    header .left>div:nth-of-type(5),
    header .left>div:nth-of-type(6) {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    header {
        padding: 0 30px;
    }
    header .left {
        left: 30px;
    }
    header .right {
        right: 30px;
    }
    header .bottom a {
        margin-left: 20px;
    }
    header .bottom a:nth-of-type(1) {
        margin-left: 25px;
    }
    header .fb {
        margin: 15px 0 16px 20px;
    }
    header .bottom>label:nth-of-type(1) {
        margin-left: 25px;
    }
    header .bottom>label {
        margin-left: 20px;
    }
    header .copyright {
        margin: 0 -30px;
    }
    #main .page-right .one-list {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    header .left {
        position: relative;
        height: auto;
        left: 0;
    }
    header .left>a,
    header .left>div {
        margin-bottom: 0;
        border-bottom: 1px solid #b2b2b2;
        width: 100vw;
        height: auto;
        line-height: 90px;
        text-align: center;
        padding: 0 10vw;
        font-size: 20px;
        background: none !important;
    }
    header .left>a span.hover,
    header .left>div span.hover {
        display: none;
    }
    header .left>a>span i,
    header .left>div>span i {
        position: absolute;
        right: 10vw;
        top: 0;
        width: 10px;
        height: 10px;
        display: block;
        font-style: normal;
        color: #aaa;
    }
    header .left>a:hover {
        color: #000;
    }
    header .left>div>ul,
    header .left>div:hover>ul {
        position: relative;
        left: -10vw;
        height: auto;
        max-height: 0;
        width: 100vw;
        background: #fff;
        font-size: 15px;
    }
    header .left>div>ul.contact {
        display: none;
    }
    header .left>.click-check:checked+div>ul.form {
        padding-top: 20px;
    }
    header .left>div>ul.form fieldset {
        width: calc(100% - 80px);
        border: 0;
        padding: 0;
        margin: 0px auto;
        display: block;
    }
    header .left>div>ul.form fieldset strong {
        font-size: 17px;
        color: #000;
        display: block;
        line-height: 30px;
        font-weight: normal;
        text-align: left;
    }
    header .left>div>ul.form fieldset:nth-of-type(1) strong,
    header .left>div>ul.form fieldset:nth-of-type(2) strong {
        margin-bottom: -20px;
    }
    header .left>div>ul.form fieldset:nth-of-type(3) strong {
        margin-bottom: 5px;
    }
    header .left>div>ul.form fieldset input {
        height: 40px;
        margin-top: -20px;
    }
    header .left>div>ul.form fieldset input,
    header .left>div>ul.form fieldset textarea {
        border: 0;
        border-top: 1px solid #656565;
        border-bottom: 1px solid #656565;
        width: 100%;
        padding: 5px 0;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
    }
    header .left>div>ul.form fieldset a {
        display: block;
        margin: 0px auto 30px auto;
        width: 100%;
    }
    header .left>div>ul.form fieldset a img {
        width: 100%;
        display: block;
    }
    header .left>div>ul.form fieldset a img:nth-of-type(2) {
        display: none;
    }
    header .left>div>ul.form fieldset a:hover img:nth-of-type(2) {
        display: block;
    }
    header .left>div>ul.form fieldset a:hover img:nth-of-type(1) {
        display: none;
    }
    header .left>.click-check:checked+div>ul {
        max-height: 1000px;
        opacity: 1;
        width: 100vw;
    }
    header .left>.click-check:checked+a span.hover,
    header .left>.click-check:checked+div span.hover {
        display: block;
    }
    header .left>.click-check:checked+a span.mobile:nth-of-type(1),
    header .left>.click-check:checked+div span.mobile:nth-of-type(1) {
        display: none;
    }
    header .left>.click-check:checked+a,
    header .left>.click-check:checked+div {
        background: #000 !important;
        color: #fff;
    }
    header .left>div>ul>li {
        float: none;
        width: 50vw;
        margin: 0px auto;
        display: block;
        line-height: 90px;
        border-bottom: 1px solid #b2b2b2;
    }
    header .left>div>ul>li:hover>a {
        color: #999;
        background: rgba(255, 255, 255, 1);
    }
    header .left>div>ul>li>ol {
        width: 100%;
        position: relative;
        top: 0;
        padding-top: 0;
    }
    header .left>div>ul>li>ol>a {
        background: rgba(255, 255, 255, 0.8);
        white-space: nowrap;
        color: #000;
    }
    header .left>div>ul>li>ol>a:hover {
        background: #fff;
        color: #999;
    }
    header .left>div>ul>li a.sub:before {
        content: "+";
        position: absolute;
        right: 10px;
        top: 0;
        color: #aaa;
    }
    header .left>div>ul>li:hover a.sub:before {
        content: "-";
    }
    header .left>div>label {
        width: 100%;
        height: 90px;
    }
    header .right {
        right: 20px;
        top: 20px;
        bottom: auto;
        height: 51px;
        z-index: 99;
    }
    header .right a,
    header .right label {
        display: inline-block;
        vertical-align: top;
        background: none !important;
        width: 51px;
        height: 51px;
        cursor: pointer;
    }
    header .right a:nth-of-type(3) {
        width: 51px;
        height: 51px;
        margin: 0;
    }
    #mobile:checked+header {
        overflow-x: hidden;
    }
    #mobile:checked+header .right,
    #mobile:checked+header .logo {
        position: absolute;
    }
    #mobile:checked+header .right label {
        background: url(img/mobile-menu-icon04.png) no-repeat !important;
        background-size: 100% !important;
    }
    #mobile:checked+header .right label img {
        opacity: 0;
    }
    #mobile:checked+header {
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 82px;
        overflow-y: scroll;
    }
    #mobile:checked+header .logo {
        opacity: 1;
    }
    #left-menu04+div,
    #left-menu05+div,
    #left-menu06+div {
        display: none;
    }
    #mobile:checked+header #left-menu04+div,
    #mobile:checked+header #left-menu05+div,
    #mobile:checked+header #left-menu06+div {
        display: block;
    }
    header .right a img,
    header .right label img {
        width: 100%;
    }
    header .right a:nth-of-type(3) b {
        right: 0;
        left: 0;
        margin: auto;
        bottom: 13px;
    }
    header {
        position: relative;
        padding: 0;
    }
    header .logo {
        background: url(img/logo-white.png) no-repeat;
        background-size: 100%;
        position: fixed;
        left: 20px;
        top: 20px;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }
    header .logo:hover {
        background: url(img/logo-white.png) no-repeat;
        background-size: 100%;
    }
    header .bottom-menu,
    #mobile:checked+header .bottom-menu {
        max-height: 1000px;
        margin: 0 0 30px 0;
        border: 0;
        width: 100%;
    }
    header .bottom-menu .home-login-btn {
        margin: 0 auto;
        display: block;
        width: calc(100vw - 100px);
        max-width: 280px;
    }
    header .bottom-menu .home-login-btn img {
        width: 100%;
        display: block;
    }
    header .bottom-menu .tab {
        width: 100vw;
    }
    header .bottom-menu .tab label {
        float: left;
        width: 33.3vw;
        border-right: 1px solid #f2f2f2;
        margin-top: 30px;
        line-height: 75px;
        text-align: center;
        cursor: pointer;
    }
    header .bottom-menu .tab label:last-child {
        border: 0;
    }
    header .bottom-menu .tab label:focus {
        background: #f2f2f2;
    }
    header .bottom-menu .click-check+ul {
        display: none;
    }
    header .bottom-menu .click-check:checked+ul {
        display: block;
        list-style: none;
        margin: 0 auto;
        width: 100vw;
        text-align: center;
    }
    header .bottom-menu .close {
        display: none;
    }
    header .bottom-menu ul:nth-of-type(1) {
        margin: 20px 0 30px 0;
        text-align: center;
        width: 100%;
    }
    header .bottom-menu ul:nth-of-type(1) li a {
        width: 100%;
    }
    header .copyright {
        margin: 0;
        max-height: 100px;
        padding: 10px;
        width: 100%;
    }
    #mobile:checked+header .bottom-menu .desktop,
    #mobile:checked+header .bottom-menu .mobile {
        display: none;
    }
    #mobile:checked+header .bottom-menu ul:nth-of-type(1) {
        margin: 20px 0 0 0;
    }
    .modal {
        padding: 20px;
    }
    #main .page-left,
    #main .page-right,
    #main .slides {
        width: 100vw;
        position: relative;
        height: auto;
    }
    #main .page-left {
        padding: 20px 25px 0 25px;
    }
    #main .page-right {
        padding: 0 20px 20px 20px;
    }
    header.page {
        background: none;
        min-height: 0;
    }
    header.page .logo {
        opacity: 1;
    }
    header.page .left,
    header.page .bottom-menu>ul:nth-child(1),
    header.page .bottom-menu>a:nth-child(2) {
        max-height: 0;
        overflow: hidden;
        margin: 0;
    }
    #mobile:checked+header.page .left,
    #mobile:checked+header.page .bottom-menu,
    #mobile:checked+header.page .bottom-menu>ul:nth-child(1) {
        max-height: 1000vh;
        overflow: auto;
    }
    #main .page-right h1,
    #main .page-right .title {
        width: 100%;
        text-align: center;
    }
    #main .page-right h1.long,
    #main .page-right .html-box {
        width: 100%;
    }
    #main .page-left .title {
        cursor: pointer;
        position: relative;
    }
    #main .page-left .title:after {
        content: "+";
        position: absolute;
        right: 0;
        top: 15px;
    }
    #main .page-left #sub-menu:checked+.title:after {
        content: "-";
    }
    #main .page-left .sub-menu {
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }
    #main .page-left #sub-menu:checked+.title+.sub-menu {
        max-height: 1000px;
        overflow: auto;
    }
    #main .page-right .one-list a {
        width: calc(33.3% - 25px);
        margin: 20px 10px;
    }
    #back-to-top {
        bottom: 10px;
        right: 10px;
    }
    #main .page-right>.top-tab {
        text-align: center;
        width: 100%;
    }
    #main .page-right>.top-tab a {
        width: calc(50% - 14px);
        margin: 5px;
    }
    #main .page-right .two-list>div>a,
    #main .page-right .two-list>div>div,
    #main .page-right .two-list>div>div p,
    #main .page-right .contact-form {
        width: 100%;
        margin: 0px auto;
    }
    #main .page-right .two-list>div>div a {
        right: 10px;
    }
    #main .page-right .page-number {
        margin: 30px 0 0 0;
    }
    #main .page-right .contact-form label a {
        margin: 50px auto 0 auto;
    }
}

@media screen and (max-width: 320px) {
    header .right {
        right: 15px;
        top: 15px;
    }
    header .logo {
        margin: 0;
        left: 15px;
        top: 15px;
    }
    header .right a,
    header .right label {
        width: 42px !important;
        height: 42px !important;
    }
}