@charset "UTF-8";
#footer {
  /* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
  /* HTML5 display-role reset for older browsers */
}

#footer * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#footer button,
#footer li {
  outline: none;
}

#footer html,
#footer body,
#footer div,
#footer span,
#footer applet,
#footer object,
#footer iframe,
#footer h1,
#footer h2,
#footer h3,
#footer h4,
#footer h5,
#footer h6,
#footer p,
#footer blockquote,
#footer pre,
#footer a,
#footer abbr,
#footer acronym,
#footer address,
#footer big,
#footer cite,
#footer code,
#footer del,
#footer dfn,
#footer em,
#footer img,
#footer ins,
#footer kbd,
#footer q,
#footer s,
#footer samp,
#footer small,
#footer strike,
#footer strong,
#footer sub,
#footer sup,
#footer tt,
#footer var,
#footer b,
#footer u,
#footer i,
#footer center,
#footer dl,
#footer dt,
#footer dd,
#footer ol,
#footer ul,
#footer li,
#footer fieldset,
#footer form,
#footer label,
#footer legend,
#footer table,
#footer caption,
#footer tbody,
#footer tfoot,
#footer thead,
#footer tr,
#footer th,
#footer td,
#footer article,
#footer aside,
#footer canvas,
#footer details,
#footer embed,
#footer figure,
#footer figcaption,
#footer footer,
#footer header,
#footer hgroup,
#footer menu,
#footer nav,
#footer output,
#footer ruby,
#footer section,
#footer summary,
#footer time,
#footer mark,
#footer audio,
#footer video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

#footer article,
#footer aside,
#footer details,
#footer figcaption,
#footer figure,
#footer footer,
#footer header,
#footer hgroup,
#footer menu,
#footer nav,
#footer section,
#footer main {
  display: block;
}

#footer body {
  line-height: 1;
}

#footer ol,
#footer ul,
#footer li,
#footer a {
  list-style: none;
}

#footer a {
  text-decoration: none;
}

#footer button {
  -webkit-appearance: none;
  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
  -moz-appearance: none;
  /* FireFox */
  appearance: none;
}

#footer select {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* for Chrome Firefox Edge */
}

#footer select::-ms-expand {
  display: none;
  /* for IE11 */
}

#footer textarea {
  -webkit-appearance: none;
}

#footer input,
#footer button {
  border-radius: 0;
}

#footer input[type="number"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

#footer input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

#footer button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

#footer a {
  color: inherit;
}

#footer {
  font-family: "Noto Sans TC", "PingFang TC", Microsoft JhengHei, "MicroSoft JhengHei", "微軟正黑體", serif;
  font-weight: normal !important;
}

#footer .footer-paragraph-wrap {
  background-color: #339fdd;
  color: #fff;
}

#footer .footer-paragraph-wrap .paragraph-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  cursor: pointer;
  height: 80px;
  font-weight: normal;
}

@media (max-width: 1279px) {
  #footer .footer-paragraph-wrap .paragraph-toggle {
    height: 62px;
    font-size: 16px;
  }
}

#footer .footer-paragraph-wrap .paragraph-toggle.opened span {
  background-image: url(../img/footer/btn-close-white.svg);
}

#footer .footer-paragraph-wrap .paragraph-toggle span {
  display: inline-block;
  width: 21px;
  height: 21px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/footer/btn-open-white.svg);
  margin-left: 17px;
}

@media (max-width: 1279px) {
  #footer .footer-paragraph-wrap .paragraph-toggle span {
    width: 15px;
    height: 16px;
    margin-left: 20px;
  }
}

#footer .footer-paragraph-wrap .paragraph-content {
  max-width: 1020px;
  margin: auto;
  padding: 10px 0 30px;
  line-height: 1.5;
  font-size: 16px;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}

#footer .footer-paragraph-wrap .paragraph-content:not(.active) {
  display: none;
}

@media (max-width: 1279px) {
  #footer .footer-paragraph-wrap .paragraph-content {
    font-size: 14px;
    padding: 7px 32px 32px 20px;
  }
}

#footer .footer-paragraph-wrap .paragraph-content li {
  list-style: decimal;
  margin-left: 2em;
}

#footer .footer-bottom-wrap {
  background-color: #a7a9ac;
  padding: 30px 0 30px;
  color: #fff;
  position: relative;
}

@media (max-width: 1279px) {
  #footer .footer-bottom-wrap {
    padding: 20px 20px 80px;
  }
}

#footer .footer-bottom-wrap #btn-footer-go-top {
  position: absolute;
  cursor: pointer;
  left: calc(50% + 600px);
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1279px) {
  #footer .footer-bottom-wrap #btn-footer-go-top {
    left: auto;
    right: 10px;
  }
}

#footer .footer-bottom-wrap #btn-footer-go-top img {
  margin-bottom: 10px;
}

#footer .footer-bottom-wrap #btn-footer-go-top span {
  font-size: 14px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#footer .footer-bottom-wrap .links-section .footer-logo {
  display: block;
  width: 188px;
  margin: auto;
  margin-bottom: 20px;
}

@media (max-width: 1279px) {
  #footer .footer-bottom-wrap .links-section .footer-logo {
    width: 165px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: 0;
  }
}

#footer .footer-bottom-wrap .links-section .links-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .footer-bottom-wrap .links-section .links-wrap .outer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1279px) {
  #footer .footer-bottom-wrap .links-section .links-wrap .outer-container {
    display: block;
    width: 50%;
  }
}

#footer .footer-bottom-wrap .links-section .links-wrap .outer-container .container {
  margin: 0 25px;
}

@media (max-width: 1279px) {
  #footer .footer-bottom-wrap .links-section .links-wrap .outer-container .container {
    margin: 0;
  }
}

#footer .footer-bottom-wrap .links-section .links-wrap .outer-container .container .main-item {
  display: block;
  font-size: 14px;
  line-height: 2.3;
  margin-bottom: 5px;
}

#footer .footer-bottom-wrap .links-section .links-wrap .outer-container .container .sub-item {
  display: block;
  font-size: 12px;
  line-height: 1.9;
}

@media (max-width: 1279px) {
  #footer .footer-bottom-wrap .links-section .links-wrap .outer-container .container .sub-item {
    margin-left: 1.2em;
  }
}

#footer .footer-bottom-wrap .links-section hr {
  display: block;
  max-width: 1140px;
  margin: 20px auto;
  height: 1px;
  background-color: #fff;
}

#footer .footer-bottom-wrap .bottom-desc {
  text-align: center;
  color: #fff;
  font-size: 12px;
}

@media (max-width: 1279px) {
  #footer .footer-bottom-wrap .bottom-desc {
    text-align: left;
  }
}

#footer .footer-bottom-wrap .bottom-desc br {
  display: none;
}

@media (max-width: 1279px) {
  #footer .footer-bottom-wrap .bottom-desc br {
    display: block;
  }
}

#footer .footer-bottom-wrap .bottom-desc p {
  line-height: 1.9;
}

#footer .footer-bottom-wrap .bottom-desc p:first-child {
  margin-bottom: 6px;
}
/*# sourceMappingURL=footer.css.map */