@charset "UTF-8";
@font-face {
  font-family: Avenir;
  src: url('avenir.ttc');
}
body {
  font-family: 'Avenir', 'Open Sans', 'Microsoft JhengHei', serif;
  color: #fff;
}
#wrapper {
  width: 100vw;
  height: 100vh;
  min-width: 1280px;
  min-height: 768px;
  position: relative;
  overflow: auto;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #ffd685;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
nav {
  width: 272px;
  height: 582px;
  position: absolute;
  left: -544px;
  top: 0;
  z-index: 2;
}
nav a {
  line-height: 44px;
  width: 100%;
  display: block;
  padding-left: 62px;
  text-align: left;
  letter-spacing: 2px;
  font-size: 16px;
  outline: 0;
}
nav a.logo {
  height: 235px;
  text-indent: -99999px;
}
nav a .img {
  background: url('menu.png') 0px 0px no-repeat;
  width: 272px;
  height: 505px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
nav a:focus .img,
nav a.active .img {
  background: url('menu.png') 0 -505px no-repeat;
  height: 582px;
}
nav a ul {
  opacity: 0;
  height: 0;
  overflow: hidden;
  margin: -10px 0 13px 0;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
nav a ul li {
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
}
nav a ul li .fa {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
nav a:hover ul li {
  color: #fff;
}
nav a:hover ul li:hover {
  color: #ffd685;
}
nav a ul li:hover .fa,
nav a ul li.active .fa {
  opacity: 1;
}
nav a:focus ul,
nav a.active ul {
  height: auto;
  overflow: auto;
  opacity: 1;
}
div.box {
  width: 328px;
  padding: 30px;
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  right: 120px;
  bottom: -200%;
  font-size: 16px;
  color: #666;
  letter-spacing: 1px;
  line-height: 24px;
  z-index: 2;
}
div.box h1 {
  font-size: 36px;
  color: #000;
  margin-bottom: 15px;
}
div.box input[type=radio] {
  display: none;
}
div.box label {
  font-size: 14px;
  color: #B3272D;
  letter-spacing: 1px;
  display: block;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
div.red {
  background: rgba(179,39,45,0.8);
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  line-height: 24px;
  position: absolute;
  width: 328px;
  padding: 30px;
  left: 0;
  top: 100%;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  z-index: 2;
}
div.red label {
  color: #fff;
}
div.box > input[type=radio]:checked + div.red {
  opacity: 1;
  height: 310px;
}
div.box > input[type=radio]:not(:checked) + div.red {
  opacity: 0;
  height: 0;
}
div.box input[type=radio]:checked + label,
div.box input[type=radio]:checked ~ label {
  opacity: 0;
}
div.box input[type=radio]:not(:checked) + label,
div.box input[type=radio]:not(:checked) ~ label {
  opacity: 1;
}
div.white {
  position: absolute;
  bottom: -500px;
  right: 0;
  left: 0;
  margin: auto;
  width: 100vw;
  min-width: 1280px;
  height: 330px;
  background: url('http://i.imgur.com/JIXAzXr.jpg') repeat;
  z-index: 0;
  opacity: 1;
  padding: 0 150px 0 350px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
input {
  display: none;
}
input:checked + div.white {
  opacity: 1;
  z-index: 1;
}
div.white #word {
  float: left;
  text-align: justify;
  text-justify:inter-ideograph;
  width: calc(100% - 500px);
  padding: 50px 0;
  color: #595757;
  font-size: 16px;
  line-height: 24px;
}
div.white #word h1 {
  font-size: 36px;
  margin-bottom: 15px;
    font-weight: bold;
}
div.white #slides {
  position: relative;
  height: 280px;
  overflow: hidden;
  width: 465px;
  margin: 15px auto;
  padding: 0 10px;
  float: right;
}
div.white #slides .number {
  display: block;
  color: #555;
  font-size: 14px;
  line-height: 30px;
  position: absolute;
  bottom: -10px;
  right: 25px;
}
div.white #slides .breadcrumb {
  position: absolute;
  right: 25px;
  top: -5px;
  line-height: 30px;
  color: #555;
  font-size: 14px;
}
div.white #slides .breadcrumb a {
  color: #b3272d;
  text-decoration: underline;
}
div.white #slides .breadcrumb a:hover {
  text-decoration: none;
}
div.white .pic {
  width: 200px;
  height: 200px;
  position: relative;
  -moz-box-shadow: 4px 4px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 4px 4px 2px rgba(0,0,0,0.2);
  box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
  display: inline-block;
  vertical-align: middle;
  margin: 40px 10px;
}
div.white .pic a,
div.white .pic label {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  color: #b4252d;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
}
div.white .pic a:hover,
div.white .pic label:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 0.95);
}
div.white .name {
  float: left;
  width: 150px;
  margin-top: 50px;
  color: #b4252d;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  cursor: pointer;
}
div.white .note {
  float: right;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  text-align: left;
  width: calc(100% - 160px);
  margin: 50px 0 0 0;
  overflow-y: scroll;
  height: 220px;
  padding-right: 10px;
}
div.white .note::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
div.white .note::-webkit-scrollbar
{
	width: 8px;
	background-color: #fff;
}
div.white .note::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(0, 0, 0, 0.5);
}
div.white .note::-moz-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
div.white .note::-moz-scrollbar
{
	width: 8px;
	background-color: #fff;
}
div.white .note::-moz-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(0, 0, 0, 0.5);
}
div.white #prev {
  position: absolute;
  top: 140px;
  left: 0;
  margin: auto;
  display: inline-block;
  color: #aaa;
}
div.white #next {
  position: absolute;
  top: 140px;
  right: 0;
  margin: auto;
  display: inline-block;
  color: #aaa;
}
div.white #prev:hover,
div.white #next:hover {
  color: #555;
}
footer {
  width: 100%;
  min-width: 1280px;
  line-height: 50px;
  border-top: 1px solid #FFF;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0 60px;
  text-align: center;
  font-size: 12px !important;
  letter-spacing: 1px;
}
footer .link {
  float: left;
}
