@charset "utf-8";
/*################################################################################################ 
Customized Style
################################################################################################*/
/*高度*/ 
.h-10 { height: 10px;}
.h-20 {	height: 20px;}
.h-30 {	height: 30px;}
.h-40 {	height: 40px;}
.h-50 {	height: 50px;}
.h-60 {	height: 60px;}
.h-70 {	height: 70px;}
.h-80 {	height: 80px;}
.h-90 {	height: 90px;}
.h-100 {height: 100px;}
.h-150 {height: 150px;}

.lh140pct {line-height: 140%!important;}
.lh150pct {line-height: 150%!important;}
.lh160pct {line-height: 160%!important;}
.lh180pct {line-height: 180%!important;}
.lh200pct {line-height: 200%!important;}
.lh220pct {line-height: 220%!important;}

/*文字大小*/
.f-n { font-weight: normal;}
.f-b { font-weight: bold;}
.f-12 { font-size: 12px; line-height: 140%;}
.f-14 { font-size: 14px; line-height: 140%;}
.f-15 { font-size: 15px; line-height: 140%;}
.f-16 { font-size: 16px; line-height: 140%;}
.f-17 { font-size: 17px; line-height: 140%;}
.f-18 { font-size: 18px; line-height: 140%;}
.f-20 {	font-size: 20px; line-height: 140%;}
.f-22 {	font-size: 22px; line-height: 140%;}
.f-24 { font-size: 24px; line-height: 140%;}
.f-28 {	font-size: 28px; line-height: 140%;}
.f-30 {	font-size: 30px; line-height: 140%;}
.f-36 {	font-size: 36px; line-height: 140%;}
.f-48 {	font-size: 48px; line-height: 140%;}
.f-60 {	font-size: 60px; line-height: 140%;}

/*文字顏色*/
a:link, a:visited {color:#fff; text-decoration: underline; }
a:hover  {color:#fff; text-decoration: none; }
.font-blue {color: #66ffff!important;}
.font-lightBlue {color: #99ffff!important;}
.font-green {color: #019f9b!important;}
.font-yellow {color: #ffff99!important;} 
.font-orange {color: #f9582e!important;}
.font-red {	color: #bd2a03!important;}
.font-pink {color: #fdc0d9!important;} 
.font-white {color: #fff!important;}
.font-dark {color: #333!important;}
.font-black {color: #000!important;}
.font-white {color: #fff!important;}
.font-lemon {color: #ffff00!important;}
.font-purple {color: #364386!important;}
.font-violet {color: #6060d0!important;}
.font-aqua {color: #99ffff!important;}
.font-lavender {color: #f1ddfd!important;}
.font-darkBlue {color: #0066cc!important;}

/*文字對齊*/
.center {text-align: center;}
.right {text-align: right;}
.left {text-align: left;}
.vam {vertical-align: middle;}

/*物件對齊*/
.fl {display:block; float:left;}
.fr {display:block; float:right;}
.fm {display:block; margin:0 auto;} 

/*文字連結-下底線*/
a:link.f-udl, a:visited.f-udl {  
	text-decoration: underline;}
a:hover.f-udl {  
	text-decoration: none;}

/*分隔線*/
hr {display: block;
	width: 100%;
	height: 2px;
	border: 2px dashed #ccc;
	border-width: 2px 0 0 0;
	margin:40px auto 0 auto;}

/*寬度(百分比)*/
.w10pct {width: 10%!important;}
.w15pct {width: 15%!important;}
.w20pct {width: 20%!important;}
.w25pct {width: 25%!important;}
.w33pct {width: 33.33333%!important;}
.w75pct {width: 75%!important;}
.w80pct {width: 80%!important;}
.w90pct {width: 90%!important;}
.w95pct {width: 95%!important;}
.w99pct {width: 99%!important;}
.w100pct {width: 100%!important;}
.w80 {width: 80px!important;}
.w60 {width: 60px!important;}
.w40 {width: 40px!important;}

/*外間距*/
.mg5 {margin: 5px;}
.mg10 {margin: 10px;}
.mg15 {margin: 15px;}
.mg20 {margin: 20px;}
.mg30 {margin: 30px;}
.mg50 {margin: 50px;}
.mg80 {margin: 80px;}
.mb5 {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px!important;}
.mb30 {margin-bottom: 30px!important;}
.mb50 {margin-bottom: 50px;}
.mb80 {margin-bottom: 80px;}
.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px!important;}
.mt20 {margin-top: 20px!important;}
.mt30 {margin-top: 30px;}
.mt50 {margin-top: 50px;}
.mt80 {margin-top: 80px;}
.mt-50 {margin-top: -50px!important;}
.mt-30 {margin-top: -30px!important;}
.mt-28 {margin-top: -28px!important;}
.mt-20 {margin-top: -20px!important;}

/*內間距*/
.pd5 {padding: 5px;}
.pd10 {padding: 10px;}
.pd15 {padding: 15px;}
.pd30 {padding: 30px!important;}
.pd50 {padding: 50px;}
.pd80 {padding: 80px;}
.pb5 {padding-bottom: 5px;}
.pb10 {padding-bottom: 10px;}
.pb15 {padding-bottom: 15px;}
.pb20 {padding-bottom: 20px;}
.pb30 {padding-bottom: 30px;}
.pb50 {padding-bottom: 50px;}
.pb80 {padding-bottom: 80px;}
.pb100 {padding-bottom: 100px;} 
.pt5 {padding-top: 5px;}
.pt10 {padding-top: 10px;}
.pt15 {padding-top: 15px!important;}
.pt20 {padding-top: 20px!important;}
.pt30 {padding-top: 30px!important;}
.pt50 {padding-top: 50px;}
.pt80 {padding-top: 80px;}
.pr30 {padding-right: 30px!important;}

/*框線*/
.bd-solid {border: 1px solid #ccc;}
.bd-dashed {border: 1px dashed #ccc;}
.bd-dotted {border: 1px dotted #ccc;}
.bd-bottom-solid {border-bottom: 1px solid #ccc;}
.bd-bottom-dashed {border-bottom: 1px dashed #ccc;}
.bd-bottom-dotted {border-bottom: 1px dotted #ccc;}
.bd-gray {border-color: #999!important;}
.bd-green {border-color: #01b6ad!important;}
.bd-blue {border-color: #008fc7!important;}
.bd-yellow {border-color: #ffcc33!important;}
.bd-orange {border-color: #ff8500!important;}
.bd-red {border-color: #ff3300!important;}
.bd-pink {border-color: #ff6666!important;}

/*背景色*/
.bg-lightgray {background-color: #ccc!important;}
.bg-gray {background-color: #717171!important;}
.bg-black {background-color: #000!important;}
.bg-green {background-color: #16bfa8!important;} 
.bg-blue {background-color: #73a5e6!important;}
.bg-yellow {background-color: #ffffcc!important;}
.bg-darkblue {background-color: #016e89!important;}
.bg-red {backf-ground-color: #ff3300!important;}
.bg-purple {background-color: #6481d4!important;}
.bg-lightpink {background-color: #ffd1cb!important;}
.bg-white {background-color: #fff!important;}
.bg-violet {background-color: #6481d4!important;}

/*圓弧區塊*/
.bd-radius15 {
	border-radius: 15px;
	padding: 15px!important;
	border: 1px solid;}
.bd-radius30 {
	border-radius: 30px;
	padding: 30px!important;
	border: 1px solid;}
.circle {
	border-radius: 50%;
	padding:10px;
	background-clip: padding-box;}

/*大區塊背景圖*/
.row-image-1 {
	background: url(../img/event/colorbox-bg.png) no-repeat center top;
	background-size:100%;  
	opacity: 1;}
@media (min-width:1921px){
.row-image-1 {
	background: url(../img/event/colorbox-bg.png) no-repeat center top;
	background-size:100%;
	height:150px;  
	opacity: 1;}
}/* 16:9*/ 

@media (min-width:1367px){
.row-image-1 {
	background: url(../img/event/colorbox-bg.png) no-repeat center top;
	background-size:100%; 
	height:170px;
	opacity: 1;}
}/* 16:9 notebook*/ 

@media (min-width:2160px){
.row-image-1 {
	background: url(../img/event/colorbox-bg.png) no-repeat center top;
	background-size:100%;
	height:170px;
	opacity: 1;}
}/* 2160 notebook*/

.row-image-2 {
	background: url(../img/event/colorbox-bg-2.png) no-repeat center top;
	background-size:100%;  
	opacity: 1;}
.row-image-3 {  
	background: url(../img/event/colorbox-bg-3.png) no-repeat center bottom;
	background-size:100%;  
	opacity: 1;}

.box-image {
	background: url(../img/event/box-image.png) no-repeat left top;
	background-size: cover;
	opacity: 1; }
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
.box-image {
	background: url(../img/event/box-image.png) no-repeat left top!important;
	background-size: 120%!important;
	opacity: 1;  }
}



/*################################################################################################ 
framework
################################################################################################*/

 

.clear, .group {
	display: block;}
.clear::before, .clear::after, .group::before, .group::after {
	display: table;
	content: "";}
.clear, .clear::after, .group, .group::after {clear: both;}
.clearfix {clear:both;}

a {	outline: none;text-decoration: none;}

.fl_left, .imgl {float: left;}
.fl_right, .imgr {float: right;}

img {
	width: auto;
	max-width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	border: none;
	line-height: normal;
	vertical-align: middle;}
.imgl {
	margin: 0 15px 10px 0;
	clear: left;}
.imgr {
	margin: 0 0 10px 15px;
	clear: right;}

/* Fonts */
.wrapper {  
	display: block;  
	width: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : portrait) {
.wrapper {  
	display: block; float:left;  
	width: 100%!important;
	margin: 0 auto;
	padding: 0; 
	word-wrap: break-word;}
} /*iPadPro in portrait*/ 
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : landscape) {
.wrapper {  
	display: block; float:left;  
	width: 100%!important;
	margin: 0;
	padding: 0; 
	word-wrap: break-word;}
} /*iPadPro in landscape*/ 

.hoc {
	display: block;
	margin: 0 auto;}
/* HTML 5 Overrides */
 
 
/* Grid */
.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter {
	display: inline-block;
	float: left;
	margin: 0 0 0 3.06748466257669%;
	list-style: none;}
.first {
	margin-left: 0;
	clear: left;}
.one_quarter {width: 22.69938650306748%;}
.one_third {width: 31.28834355828221%;}
.one_half, .two_quarter {width: 48.46625766871166%;}
.two_third {width: 65.6441717791411%;}
.three_quarter {width: 74.23312883435584%;}

/*################################################################################################ 
Base styles 
################################################################################################*/
 
a {color: #2483bb;}
a:active, a:focus {
	background: transparent;
}/* IE10 + 11 Bugfix - prevents grey background */
hr, .borderedbox {
	border-color: #D7D7D7;}
label span {
	color: #FF0000;
	background-color: inherit;}
input:focus, textarea:focus, *:required:focus {
border-color:#A1C6D9;}
.wrapper {width: 100%;}
.overlay {
	color: #FFFFFF;
	background-color: inherit;}
.overlay::after {
	color: inherit;
	background-color: rgba(0,0,0,.55);}
.pc-show {display: block;}
.mo-show {display: none;}


.btn {
	display: inline-block;  
	vertical-align: middle!important;}
a:link.btn, a:visited.btn {
	color: #FFF;
	background-color: #3754b5;
	border: 1px solid #3754b5;
	font-size: 30px;
	line-height:200%;
	border-radius: 15px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	padding: 18px 70px 13px 70px;}
a:hover.btn {
	color: #FFF;
	text-decoration: none;
	background-color: #1f3da0;
	border: 1px solid #1f3da0;}

.btn-light {
	display: inline-block;
	vertical-align: middle!important;
    border: 3px solid #fff;}
a:link.btn-light, a:visited.btn-light {
	color: #fff;
	background-color: #fe3d8a;
	border: 3px solid #fff;
	font-size: 20px;
	border-radius: 5px;
	vertical-align: middle;
	text-align: center;
	padding: 20px 40px;}
a:hover.btn-light {
	color: #fff;
	border: 3px solid #fff;
	background-color: #fe4e94; }

.link-underline-light {
	color:#fff;}
a:link.link-underline-light, a:visited.link-underline-light {
	color: #FFF; text-decoration: underline;}
a:hover.link-underline-light {
	color: #FFF; text-decoration: none;}


.txtoverlay .txtcaption {
	color: #FFFFFF;
	background-color: rgba(0,0,0,.5);}

/* hoc --*/
@media screen and (min-width:978px) {
.hoc {
	max-width: 978px;
}
}

@media screen and (max-width:900px) {
.hoc {
	max-width: 90%;
}
}

/* Header --*/
.header {
	background-color: #008fc7;
	height: 60px;
	width:99%;
	margin: 0.5% 0.5% 0.5% 0.5%;
	box-sizing: padding-box;
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {  
.header {
	background-color: #008fc7;	
	height: 60px;
	width:99%;
	margin: 0.5% 0.5% 0.5% 0.5%;
	box-sizing: padding-box;
}
} /*iPad in portrait & landscape*/

.header .logo {
	background: url(../img/event/logo1.png) no-repeat 15px 3px;
	background-size: 200px;
	width: 240px;
	height: 34px;}
a:h1.logo {
display:block;
float:left;
margin:0;
padding:0;
font-size:22px;
line-height:1;}
.header .tel-url {
	display: block;
	float: right;
	height: 50px;
	margin-top:10px;
	margin-right:15px;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	padding: 15px;}

/* Navigation --*/
.mainav {
	display: block;
	padding:0; 
	box-sizing: padding-box; 
	width:99%;
	margin: 0 0.5%;
	background-color: #3ba9df;
}
.mainav ul {  
	margin: 0;	
	padding: 0; 
	list-style: none;
	width:100%;
	text-align: center;
}
.mainav li {
	display: inline-block;
	box-sizing: border-box;
	color: #fff;
	text-align: center;	
	margin: 0;	
	padding:0;
	font-size: 18px; 
	width:24.6%;
	border-left:1px solid #ccc;
	background-color: #3ba9df;
}
.mainav li:first-child { border-left:0px solid #ccc; } 
.mainav li a:link, .mainav li a:visited { display:block; width:100%; padding:10px; text-decoration: none; color: #fff;}
.mainav li a:hover { text-decoration: none; color: #66ccff; }

/* Page Intro --*/ 
.pageintro { 
	display: block;  
	box-sizing: padding-box;
	padding: 100px 50px 100px 150px;
	margin: 0;
	background: url(../img/event/kv_16to9.png) no-repeat left 30px;
	background-size: 100%!important;
	background-color: #6481d4;
	width: 100%;
	min-height: 540px;
	text-align: left;}  

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
.pageintro {
	display: block; 
	box-sizing: padding-box;
	padding: 100px 50px 100px 150px;
	margin: 0!important;
	background: url(../img/event/kv_16to9.png) no-repeat left 30px;
	background-size: 100%!important;
	width: 100%!important;
	min-height: 522px!important;
	text-align: left;}
} /*iPad in landscape*/ 

@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : landscape) { 
.pageintro {  
	display: block;  
	box-sizing: padding-box;
	padding: 100px 50px 100px 350px;
	margin: 0!important;
	background: url(../img/event/kv_16to9.png) no-repeat center 30px;
	background-size:cover!important;
	width: 100%!important;
	min-height: 700px; 
	text-align: left; }
} /*iPadPro in landscape*/ 

@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : portrait) {
.pageintro {
	display: block;   
	box-sizing: padding-box;
	padding: 100px 50px 100px 350px;
	margin: 0!important;
	background: url(../img/event/kv_16to9.png) no-repeat center 30px;
	background-size:100%!important;
	width: 100%!important;
	height: 570px!important; 
	text-align: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}
} /*iPadPro in portrait*/ 

@media (min-width:1921px){
    .pageintro { 
	margin: 0!important;
	background:#6481d4 url(../img/event/kv_16to9.png) no-repeat center 30px;
	background-size:100%!important;  
	width: 100%!important;
	min-height: 990px!important;}
}/* 16:9*/ 

@media (min-width:1367px){
    .pageintro {  
	margin: 0!important;
	background:#6481d4 url(../img/event/kv_16to9.png) no-repeat center 30px;
	background-size:100%!important;   
	width: 100%!important;
	min-height: 998px!important;}
}/* 16:9 notebook*/ 

@media (min-width:2160px){
    .pageintro {  
	margin: 0!important;
	background:#6481d4 url(../img/event/kv_16to9.png) no-repeat center 30px;
	background-size:100%!important;   
	width: 100%!important;
	min-height: 1100px!important;}
}/* 2160px notebook*/ 

@media only screen 
and (min-device-width : 834px) 
and (max-device-width : 1112px) 
and (orientation : portrait) {
.pageintro { 
	display: block;  
	box-sizing: padding-box;
	padding: 100px 50px 100px 150px;
	margin:0;
	background:#6481d4 url(../img/event/kv_16to9.png) no-repeat left 50px;
	background-size: 100%!important;
	width: 100%;
	min-height: 450px!important; 
	text-align: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;} 
} /*iPad 10.5 in portrait*/

@media screen and (min-width: 835px) and (max-width: 899px) { 
.pageintro { 
	display: block;  
	box-sizing: padding-box;
	padding: 100px 50px 100px 150px; 
	margin: 0;
	background: url(../img/event/kv_16to9.png) no-repeat left 40px!important;
	background-size: 100%!important;
	background-color: #6481d4;
	width: 100%;
	min-height: 460px!important;
	text-align: left;} 
.step-1  {
	display: block;
	background:#4867c1 url(../img/event/step1.png) no-repeat center top;
	background-size:50%!important;  
	width: 100%;
	height: 330px;
	color:#fff; line-height:140%!important;
	padding:0 5px 30px 5px; border:3px solid #7c97e5; border-radius:10px;
	margin:0 auto;}   
.step-2{
	display: block;
	background:#4867c1 url(../img/event/step2.png) no-repeat center top;
	background-size: 50%!important;
	width: 100%;
	height: 330px;
	color:#fff; line-height:140%!important;
	padding:0 5px 30px 5px; border:3px solid #7c97e5; border-radius:10px;
	margin:0 auto;}
a:link.step-link,a:visited.step-link,  a:hover.step-link {display:block; width:100%; min-height:120px!important; text-decoration: none; }    
} /* 830~860W notebook*/


.pageintro .heading { 
	display: block;  
	padding: 15px 0 5px 0;
	font-size: 36px;
	font-weight: 800; }
/* text animation */
.kv-t1 {width:100%; margin-top:3px!important; }
.kv-t2 {width:100%; margin-top:10px!important; margin-left:-20px!important; }
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : portrait) {
.kv-t1 {width:100%; margin-top:-100px!important; margin-left:-320px!important; }
.kv-t2 {width:100%; margin-top:40px!important; margin-left:-320px!important; }
} /*iPadPro in portrait*/ 

.rsABlock {
	position: relative;
	display: block;
	left: auto;
	top: auto;}

.pageintro .btn {width: 25%;}

.box {  
	width:50%; 
    display: block;
	float: right;
	color: #FFF;
	background-color: #163645; 
	position:relative;
	margin:0; 
	padding:30px;}

/* Step pictures */ /*20181031*/
.step-a {
	display: block;  
	background: url(../img/event/step-a.png) no-repeat center top;
	background-size: 231px;
	width: 320px;
	height: 340px;
	margin:0 auto;}
.step-b {
	display: block; 
	background: url(../img/event/step-b.png) no-repeat center top;
	background-size: 300px;
	width: 320px;
	height: 260px;
	margin:0 auto;}
.step-c {
	display: block;  
	background: url(../img/event/step-c.png) no-repeat center top;
	background-size: 231px;
	width: 320px;
	height: 340px;
	margin:0 auto;}
.step-left {padding-left:120px;}
.step-right {padding-right:120px;}

/* Step pictures */
.step-1  {
	display: block;
	background:#4867c1 url(../img/event/step1.png) no-repeat center top;
	background-size:101%;  
	width: 100%;
	height: 330px;
	color:#fff; line-height:140%!important;
	padding:0 5px 30px 5px; border:3px solid #7c97e5; border-radius:10px;
	margin:0 auto;}
   
.step-2{
	display: block;
	background:#4867c1 url(../img/event/step2.png) no-repeat center top;
	background-size: 101%;
	width: 100%;
	height: 330px;
	color:#fff; line-height:140%!important;
	padding:0 5px 30px 5px; border:3px solid #7c97e5; border-radius:10px;
	margin:0 auto;}
a:link.step-link,a:visited.step-link,  a:hover.step-link {display:block; width:100%; min-height:150px; text-decoration: none; }

 
#breadcrumb a {
	color: inherit;
	background-color: inherit;
}
#breadcrumb li:last-child a {
	color: #A1C6D9;
}
.pagination a, .pagination strong {
	border-color: #D7D7D7;
}
.pagination .current * {
	color: #FFFFFF;
	background-color: #A1C6D9;
}
#back-to-top {
	display: block;
	background: url(../img/event/event-gotop.png) no-repeat;
	background-size: 70px;
	width: 70px;
	height: 70px;
	position: fixed;
	bottom: 20px;
	right: 5px;} 

/* Tables + Comments */
table, th, td, #comments .avatar, #comments input, #comments textarea {
	/*border-color: #D7D7D7;*/ }
#comments input:focus, #comments textarea:focus, #comments *:required:focus {
border-color:#A1C6D9;}
th {color: #FFFFFF;
	/*background-color: #373737;*/}
tr, #comments li, #comments input[type="submit"], #comments input[type="reset"] {
	color: inherit;
	background-color: #FBFBFB;}
tr:nth-child(even), #comments li:nth-child(even) {
	color: inherit;
	background-color: #ececec;}
table a, #comments a {
	background-color: inherit;}

/* Content Area
-------------------------------------------------------------------------------------------------------*/
.container {  padding: 0; }
/* Content */
.container .content { }

/* Sidebar */
.container .sidebar { }
.sidebar .sdb_holder { margin-bottom: 50px;}
.sidebar .sdb_holder:last-child {
	margin-bottom: 0;}

/*iPad in portrait & landscape*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
.colorbox {
	width: 100%!important;
	margin: 0;
	padding: 30px 120px!important;
}
.colorbox.w25pct {
	width: 50%!important;
	margin: 0;
	padding: 60px!important;
}
/*.pageintro {  
	width: 98.5%!important;
	margin: 6px 6px 0 6px;
	padding: 40px 60px!important;
	min-height: 320px;
}*/
.box-image {
	background: url(../img/event/box-image.png) no-repeat left top;
	background-size: cover;
	opacity: 1;}

}
/*iPad in portrait*/
@media only screen  
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
.box {   
	width:50%!important; 
    display: block;
	float: right!important;
	color: #FFF;
	background-color: #163645; 
	position:relative;
	margin: -57px 0 0 0!important; 
	padding:30px!important;
	box-sizing: border-box!important;} 
}

/*iPad in landscape*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
.box {   
	width:50%!important; 
    display: block;
	float: right!important;
	color: #FFF;
	background-color: #163645; 
	position:relative;
	margin: 0!important; 
	padding:30px!important;
	box-sizing: border-box!important;}
}

/*mobile phone in portrait & landscape*/
@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
.colorbox {
	width: 100%!important;
	margin: 0;
	padding: 30px;}
.box {   
	width:100%!important; 
    display: block;
	float: right!important;
	color: #FFF;
	background-color: #163645; 
	position:relative;
	margin: -57px 0 0 0!important; 
	padding:30px!important;
	box-sizing: border-box!important;}
}

/* Color Box */
.colorbox {
	display: block;
	float: left;
	margin: 0;
	color: #FFF;
	padding: 60px 30px;} 
.colorbox a:link, .colorbox a:visited {
	color: #FFF;
	text-decoration: underline;}
.colorbox a:hover {
	color: #FFF;
	text-decoration: none!important;}
.colorbox:nth-of-type(1) {
	background: #015480 url(../img/event/colorbox-bg1.png) no-repeat;
	background-size: cover;}
.colorbox:nth-of-type(2) {
	background: #507f27 url(../img/event/colorbox-bg2.png) no-repeat;
	background-size: cover;}
.colorbox:nth-of-type(3) {
	background: #057b82 url(../img/event/colorbox-bg3.png) no-repeat;
	background-size: cover;}
.colorbox:nth-of-type(4) {
	background: #9b3b02 url(../img/event/colorbox-bg4.png) no-repeat;
	background-size: cover;}
.colorbox:hover {
	background-color: #000;
	opacity: 1;}

a:link .colorbox-link-1, a:visited .colorbox-link-1, a:link .colorbox-link-2, a:visited .colorbox-link-2, a:link .colorbox-link-3, a:visited .colorbox-link-3, a:link .colorbox-link-4, a:visited .colorbox-link-4 {
	display: block;  
	float: left;
	margin: 0;
	color: #FFF;
	padding: 60px 30px;} 
a:hover .colorbox-link-1, a:hover .colorbox-link-2, a:hover .colorbox-link-3, a:hover .colorbox-link-4 {
	background-color: #000;
	opacity: 1;}
.colorbox-link-1  {
	background: #015480 url(../img/event/colorbox-bg1.png) no-repeat;
	background-size: cover;}
.colorbox-link-2 {
	background: #507f27 url(../img/event/colorbox-bg2.png) no-repeat;
	background-size: cover;}
.colorbox-link-3 {
	background: #057b82 url(../img/event/colorbox-bg3.png) no-repeat;
	background-size: cover;}
.colorbox-link-4 {
	background: #9b3b02 url(../img/event/colorbox-bg4.png) no-repeat;
	background-size: cover;}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {  
.colorbox-link-1, .colorbox-link-2, .colorbox-link-3, .colorbox-link-4 {
	display: block;
	width:100%!important;
	margin: 0;
	color: #FFF;
	padding: 30px 100px!important;}
}/*iPad in portrait & landscape*/

ul {padding:0; margin:0 0 0 20px;}
ul li {padding:0; margin:0;}



/* Copyright */
#copyright { 
	padding: 20px 0;
	font-size: 14px;
	line-height: 240%!important; }
#copyright a:link, #copyright a:visited { 
	text-decoration: underline;}
#copyright * {
	margin: 0;
	padding: 0;}
 
/* Back to Top */
#backtotop {
	z-index: 999;
	display: inline-block;
	position: fixed;
	visibility: hidden;
	bottom: 20px;
	right: 20px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	text-align: center;
	opacity: .2;}

/* Tables */
table, th, td {
	border: 1px solid;
	border-collapse: collapse;
	vertical-align: top;}
table, th {table-layout: auto;}
table {width: 100%;
	margin-bottom: 15px;}
th, td {padding: 15px 20px;}
td {border-width: 0 1px;}

/* Notice  */
#show-notice { 
	color:#fff;
	display:block;
	width:100%; 
	padding: 10px;
	margin-top: 30px;
	position: relative;
	cursor: pointer;
	border: 1px solid #92a6df;
    background:#4562b3 url(../img/event/left-arrowDown-dark.png) no-repeat 115px 20px;
	background-size: 11px 7px; }  
#notice-content {
	margin-top: -1px; 
	padding: 10px 30px 10px 10px;
	width:100%; 
	border: 1px solid #95a7db;
	background-color:#ccd7f7;
	color: #333; }
#notice-content a:link, #notice-content a:visited, #notice-content a:hover {color:#0066cc; font-weight:600; text-decoration: underline;}
#notice-content ul, #notice-content ul li {list-style:none; }
#notice-content ul li ol li{list-style:decimal; margin-left:8px; }
#notice-content ul li ol li ol li{list-style:disc;  }

#notice-content ol ol {
  counter-reset: item;
  list-style: none;
  text-indent: -24px;
  padding-left: 24px;
}
#notice-content ol ol li {
  counter-increment: item;
}
#notice-content ol ol li:before {
  content: "(" counter(item, decimal) ") ";
}

.none { display: none; }

 
/*=======================Customized=================*/
.leftblock {display:block;  border-right:6px dotted #63ddcd; padding-right:30px!important; } 
.rightblock {display:block; }

.tt1  {  
	display:block; float:left; /*border:1px solid green;*/  
	margin:0;
	width:60px; 
	height:203px;
	position: relative;
	left:50px; top:200px;
    background: url(../img/event/lock.gif) no-repeat left top;
	background-size: 60px 203px;
    clear:both;}   

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
.tt1 {  
	display:block; float:left;  
	margin:-30px 0 0 -150px!important; 
	width:50px; 
	height:169px; 
	position: relative; 
    background: url(../img/event/lock.gif ) no-repeat left top;
	background-size: 50px 169px!important; 
    clear:both;}  
} /*iPad in landscape*/

@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : portrait) {
.tt1 {  
	display:block; float:left; /*border:1px solid green;*/ 
	margin:0;
	width:60px; 
	height:203px;
	position: relative;
	left:-50px!important; top:150px!important;
    background: url(../img/event/lock.gif ) no-repeat left top;
	background-size: 60px 203px; 
    clear:both;} 
} /*iPadPro in portrait*/  

@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : landscape) { 
.tt1 {  
	display:block; float:left; 
	margin:0;
	width:60px; 
	height:203px;
	position: relative;
	left:100px!important; top:210px!important;
    background: url(../img/event/lock.gif) no-repeat left top;
	background-size: 60px 203px; 
    clear:both;}  
} /*iPadPro in landscape*/ 



 
 

 
