@charset "utf-8";
/*################################################################################################ 
mobile style
################################################################################################*/
.pc-show {display: none!important;}
.mo-show {display: block;}

.mt-120 {margin-top: -120px!important;}
.mt-100 {margin-top: -100px!important;}
.mt-80 {margin-top: -80px!important;}
.mt-30 {margin-top: -30px!important;}
.mt-28 {margin-top: -28px!important;}
.mt-20 {margin-top: -20px!important;}

.wrapper {  
	display: block;   
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) {  
.wrapper {  
	display: block;    
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}
} /*iPhone 6 in portrait*/ 

.container {padding: 5px 0;}
.group article {margin: 15px 0;}
.header {
	background-color: #008fc7;
	height: 55px;
	width: 99%;
	margin: 1% 0.5%;
	padding-top: 1px;
	box-sizing: padding-box;}
.header .logo {
	background: url(../img/event/logo1.png) no-repeat 15px top;
	background-size: 200px;
	width: 240px;
	height: 34px;}
/* Navigation --*/
.mainav {
	display: block;
	padding:0; 
	box-sizing: padding-box; 
	width:98%;
	margin: 0 1%;
	background-color: #3ba9df;}
.mainav ul {  
	margin: 0;	
	padding: 0; 
	list-style: none;
	width:100%;
	text-align: center;}
.mainav li {
	display: inline-block;
	box-sizing: border-box;
	color: #fff;
	text-align: center;	
	margin: 0;	
	padding:0;
	font-size: 14px; 
	width:23%;
	border-left:1px solid #ccc;
	background-color: #3ba9df;}
.mainav li a:link, .mainav li a:visited { display:block; width:100%; padding:10px 3px; text-decoration: none; color: #fff;}

/* Page Intro --*/ 
.pageintro {  
	display: block;  
	box-sizing: border-box;
	padding: 0 10px 50px 10px;
	margin: 0;
	background: url(../img/event/kv_M.png) no-repeat left 50px;
	background-size: 100%;
	background-color: #6481d4;
	width: 100%;
	min-height: 415px;  
	text-align: left;}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) { 
.pageintro {  
	display: block;  
	box-sizing: padding-box;
	padding: 0 50px 100px 150px;
	margin: 0;
	background:#6481d4 url(../img/event/kv_M.png) no-repeat center 50px;
	background-size: 100%;
	width: 100%;
	min-height: 400px;
	text-align: left;} 	
} /*iPhone 5 in portrait*/

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 736px) 
and (orientation : portrait) { 
.pageintro {  
	display: block;  
	box-sizing: padding-box;
	padding: 0 50px 100px 150px;
	margin: 0;
	background:#6481d4 url(../img/event/kv_M.png) no-repeat center 50px;
	background-size: 100%;
	width: 100%;
	min-height: 450px;
	text-align: left;} 	
} /*iPhone 6, 7, & 8 Plus in portrait*/

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 736px) 
and (orientation : landscape) {  
.pageintro {  
	display: block;  
	box-sizing: padding-box;
	padding: 0 50px 100px 150px;
	margin: 0;
	background:#6481d4 url(../img/event/kv_16to9.png) no-repeat center 50px;
	background-size: 100%;
	width: 100%;
	min-height: 370px!important;
	text-align: left;} 	
} /*iPhone 6 ,6 Plus in landscape*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
.pageintro {  
	display: block;  
	box-sizing: padding-box;
	padding: 100px 50px 100px 150px;
	margin:0;
	background:#99ffff url(../img/event/kv_16to9.png) no-repeat left 50px;
	background-size: 100%;
	width: 100%;
	min-height: 400px!important; 
	text-align: left;}
} /*iPad in portrait*/

@media screen and (min-width: 415px) and (max-width: 899px) {
.pageintro { 
	display: block;  
	box-sizing: padding-box;
	padding: 100px 50px 100px 150px; 
	margin: 0;
	background:#99ffff url(../img/event/kv_16to9.png) no-repeat left 40px!important;
	background-size: 100%!important;
	background-color: #6481d4;
	width: 100%;
	min-height: 440px!important;
	text-align: left;} 
.step-1  {
	display: block;
	background:#4867c1 url(../img/event/step1.png) no-repeat center top;
	background-size:50%!important;  
	width: 100%;
	height: 330px;
	color:#fff; line-height:140%!important;
	padding:0 5px 30px 5px; border:3px solid #7c97e5; border-radius:10px;
	margin:0 auto;}   
.step-2{
	display: block;
	background:#4867c1 url(../img/event/step2.png) no-repeat center top;
	background-size: 50%!important;
	width: 100%;
	height: 330px;
	color:#fff; line-height:140%!important;
	padding:0 5px 30px 5px; border:3px solid #7c97e5; border-radius:10px;
	margin:0 auto;}
a:link.step-link,a:visited.step-link,  a:hover.step-link {display:block; width:100%; min-height:120px!important; text-decoration: none; }    
} /* 830~860W notebook*/


.pageintro .heading {  
	display: block;
	margin-bottom: 15px!important;
	padding: 30px 0 0 0;
	font-size: 34px!important;
	font-weight: 800; 
	line-height:110%;}
.pageintro p {margin: 5px 0;}

.kv-t1 {width:80%; margin-top:50px!important; }
.kv-t2 {width:100%; margin-top:10px!important; }

.pageintro .btn {min-width: 40%;}
a:link.btn, a:visited.btn {
	color: #FFF;
	background-color: #3754b5;
	border: 1px solid #3754b5;
	font-size: 24px;
	border-radius: 5px;
	vertical-align: middle;
	text-align: center;
	padding: 10px 50px;margin: 5px 0;}
a:hover.btn {
	color: #fff;
	background-color: #2240a3;
	border: 1px solid #2240a3;}

.box-image {
	background: url(../img/event/box-image.png) no-repeat left top;
	background-size: cover;
	opacity: 1; }
.colorbox-link-1, .colorbox-link-2, .colorbox-link-3, .colorbox-link-4 {
	display: block;
	width:100%!important;
	margin: 0;
	color: #FFF;
	padding: 60px 30px;} 

.f-12 {
	font-size: 12px;
	line-height: 140%;}
.f-14 {
	font-size: 14px;
	line-height: 140%;}
.f-15 {
	font-size: 15px;
	line-height: 140%;}
.f-16 {
	font-size: 16px;
	line-height: 140%;}
.f-18 {
	font-size: 18px;
	line-height: 140%;}
.f-20 {
	font-size: 18px;
	line-height: 140%;}
.f-24 {
	font-size: 20px;
	line-height: 120%;}
.f-28 {
	font-size: 22px;
	line-height: 140%;}
.f-30 {
	font-size: 20px;
	line-height: 140%;}
.f-36 {
	font-size: 24px;
	line-height: 140%;}
.f-48 {	
	font-size: 30px; 
	line-height: 140%;}
.f-60 {
	font-size: 36px;
	line-height: 140%;}

.imgl, .imgr {
	display: inline-block;
	float: none;
	margin: 0 0 10px 0;}
.fl_left, .fl_right {
	display: block;
	float: none;}
.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter {
	display: block;
	float: none;
	width: auto;
	margin: 0 0 30px 0;
	padding: 0;}

/* Split Box */
.split .box {
	width: 115%!important;
	color: #FFFFFF;
	background-color: #163645;
	padding: 30px 10px 30px 60px;}
/* Step pictures */
.step-a {
	display: block;
	background: url(../img/event/step-a.png) no-repeat center -8px;
	background-size: 200px;     
	width: 320px; margin:0 auto -8px auto;  
	height: 300px; }
.step-b {
	display: block;
	background: url(../img/event/step-b.png) no-repeat center -8px;
	background-size: 150px;    
	width: 320px; margin:0 auto -8px auto;  
	height: 130px; }
.step-c {
	display: block;
	background: url(../img/event/step-c.png) no-repeat center -8px;
	background-size: 200px;  
	width: 320px; margin:0 auto -8px auto; 
	height: 300px; }

/* Step pictures */
.step-1 {
	display: block;
	background:#4867c1 url(../img/event/step1.png) no-repeat center top;
	background-size: 101%;
	width: 100%;
	height: 290px;
	color:#fff; line-height:140%!important;
	padding:0 5px 30px 5px; border:3px solid #7c97e5; border-radius:10px;
	margin:0 auto;}
.step-2 {
	display: block;
	background:#4867c1 url(../img/event/step2.png) no-repeat center top;
	background-size: 101%;
	width: 100%;
	height: 260px;
	color:#fff; line-height:140%!important;
	padding:0 5px 30px 5px; border:3px solid #7c97e5; border-radius:10px;
	margin:0 auto;}
a:link.step-link,a:visited.step-link,  a:hover.step-link {display:block; width:100%; min-height:115px; text-decoration: none; }

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : landscape) { 
.step-1 {
	display: block;
	background:#4867c1 url(../img/event/step1.png) no-repeat center top;
	background-size: 101%;
	width: 100%;
	height: 380px;
	color:#fff; line-height:140%!important;
	padding:0 5px 30px 5px; border:3px solid #7c97e5; border-radius:10px;
	margin:0 auto;}
.step-2 {
	display: block;
	background:#4867c1 url(../img/event/step2.png) no-repeat center top;
	background-size: 101%;
	width: 100%;
	height: 380px;
	color:#fff; line-height:140%!important;
	padding:0 5px 30px 5px; border:3px solid #7c97e5; border-radius:10px;
	margin:0 auto;}
a:link.step-link,a:visited.step-link,  a:hover.step-link {display:block; width:100%; min-height:190px; text-decoration: none; }
} /*iPhone 6, 7, & 8 Plus in landscape*/

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait) { 
.step-1 {
	display: block;
	background:#4867c1 url(../img/event/step1.png) no-repeat center top;
	background-size: 101%;
	width: 100%;
	height: 290px;
	color:#fff; line-height:140%!important;
	padding:0 5px 30px 5px; border:3px solid #7c97e5; border-radius:10px;
	margin:0 auto;}
.step-2 {
	display: block;
	background:#4867c1 url(../img/event/step2.png) no-repeat center top;
	background-size: 101%;
	width: 100%;
	height: 260px;
	color:#fff; line-height:140%!important;
	padding:0 5px 30px 5px; border:3px solid #7c97e5; border-radius:10px;
	margin:0 auto;}
a:link.step-link,a:visited.step-link,  a:hover.step-link {display:block; width:100%; min-height:115px; text-decoration: none; }
} /*iPhone 6, 7, & 8 Plus in portrait*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
.step-1 {
	display: block;
	background:#4867c1 url(../img/event/step1.png) no-repeat center top;
	background-size: 101%;
	width: 100%;
	height: 400px;
	color:#fff; line-height:140%!important;
	padding:0 5px 30px 5px; border:3px solid #7c97e5; border-radius:10px;
	margin:0 auto;}
.step-2 {
	display: block;
	background:#4867c1 url(../img/event/step2.png) no-repeat center top;
	background-size: 101%;
	width: 100%;
	height: 400px;
	color:#fff; line-height:140%!important;
	padding:0 5px 30px 5px; border:3px solid #7c97e5; border-radius:10px;
	margin:0 auto;}
a:link.step-link,a:visited.step-link,  a:hover.step-link {display:block; width:100%; min-height:220px; text-decoration: none; }
} /*iPad in portrait*/ 
 
 
/*分隔線*/
hr {display: block;
	width: 100%;
	height: 2px;
	border: 2px dotted #ccc;
	border-width: 2px 0 0 0;
	margin:10px auto 0 auto;}

#footer {padding-bottom: 50px;}

/* Copyright */
#copyright {
	padding: 20px 0;
	font-size: 12px;
	line-height: 160%!important; }

/*Customized*/
.h-150 {height:200px;}
.pd30 {padding:10px;}

.tt1 {  
	display:block; float:left;  
	margin:0;
	width:60px; 
	height:203px;
	position: relative;
	left:55px!important; top:150px!important;
    background: url(../img/event/lock.gif) no-repeat left top;
	background-size: 60px 203px;  
    clear:both;} 

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 736px) 
and (orientation : landscape) {  
.tt1 {  
	display:block; float:left;  
	margin:0;
	width:60px; 
	height:203px;
	position: relative;
	left:55px; top:150px;
    background: url(../img/event/lock.gif) no-repeat left top;
	background-size: 60px 203px;  
    clear:both;} 
} /*iPhone 6 ,6 Plus in landscape*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
.tt1 {  
	display:block; float:left;  
	margin:0;
	width:60px; 
	height:203px;
	position: relative;
	left:50px!important; top:60px!important;
    background: url(../img/event/lock.gif) no-repeat left top;   
	background-size: 60px 203px;  
    clear:both;}  
} /*iPad in portrait*/ 

 
