@charset "utf-8";
/* CSS Document */

/*font-----------------------------------------------------------------------------------*/
html { font-family:  'Microsoft JhengHei', '微軟正黑體', Verdana, sans-serif; }

/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  padding: 40px 16px 24px;
}
body h1 {
  width: 100%;
  text-align: center;
  color: #3999cb;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}
.btn-group, .btn-group2 {
  width: 100%;
  height: 40px;
  margin-top: 16px;
}
.btn-group span, .btn-group2 span {
  float: left;
  width: calc((100% - 3px) /4);
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  display: inline-block;
  color: #FFF;
  background-color: #ccc;
  text-align: center;
  cursor: pointer;
  transition: .5s;
}
.btn-group span.open, .btn-group2 span.open {
  background-color: #666;
}
.btn-group span + span, .btn-group2 span + span {
  margin-left: 1px;
}
.info_block, body .info_block2 { 
  width: 100%; 
  min-height:200px;  
  margin-top: 2px; 
  padding:10px 0!important;
  background-color: #fff;
  padding: 16px;
  line-height:180%;
  color: #404040; 
  font-size: 14px;
  font-weight: 400;
}
.info_block span,  .info_block2 span {
  color: #316fc9;
}


/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media screen and (max-width: 599px) {
 .info_block,  .info_block2  {
    min-height: 360px;  
  }
}


/*20210820*/
 