/*font-----------------------------------------------------------------------------------*/
html { font-family: Verdana, 'Microsoft JhengHei', '微軟正黑體', sans-serif;}
/*@font-face {
  font-family: 'cwTeXHei';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format('opentype');
}*/

/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*html {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}*/
body {
  height: 100vh;
  padding: 96px 24px 80px;
  /*height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;*/
}
body .w3-center {
  height: 100%;
}
body .w3-center .w3-row {
  height: 100%;
}
body .w3-center .w3-row .w3-col {
  height: 100%;
}
body .w3-center .w3-row .w3-col.playlist {
  overflow: auto;
}
body .w3-center .w3-row .w3-col .w3-ul {
  line-height: 0.8;
}
body .w3-center .w3-row .w3-col .w3-ul .w3-bar {
  width: 100%;
  padding: 0 16px 0 32px;
  border: none;
}
body .w3-center .w3-row .w3-col .w3-ul .w3-bar a {
  display: flex;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid #f0f0f0;
}
body .w3-center .w3-row .w3-col .w3-ul .w3-bar a img {
  padding: 0;
  width: 72px;
  height: 48px;
}
body .w3-center .w3-row .w3-col .w3-ul .w3-bar a h3 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: left;
  color: #4a4a4a;
  padding: 0 12px;
  width: calc(100% - 140px);
}
body .w3-center .w3-row .w3-col .w3-ul .w3-bar a .w3-right {
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #4a4a4a;
}
body .w3-center .w3-row .w3-col .w3-ul .w3-bar.active,
body .w3-center .w3-row .w3-col .w3-ul .w3-bar.active:hover {
  background: #f6f6f6 url(../svg/ic_play_video_16px.svg) 11px 50% no-repeat;
}
body .w3-center .w3-row .w3-col .w3-ul .w3-bar:hover {
  background: #f6f6f6;
}

/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media screen and (max-width: 992px) {
  body {
    padding: 64px 0 0;
  }
  body .w3-center .w3-row .w3-col.video_container {
    height: 42%;
  }
  body .w3-center .w3-row .w3-col.playlist {
    height: 58%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media screen and (max-width: 812px) and (orientation: landscape) {
  body {
    padding: 40px 0 16px;
  }
  body .w3-center .w3-row .w3-col {
    height: 100%;
  }
  body .w3-center .w3-row .w3-col.l4 {
    width: 33.33333%;
  }
  body .w3-center .w3-row .w3-col.l8 {
    width: 66.66666%;
  }
  body .w3-center .w3-row .w3-col.video_container {
    height: 100%;
  }
  body .w3-center .w3-row .w3-col.playlist {
    height: 100%;
  }
  body .w3-center .w3-row .w3-col .w3-ul .w3-bar a {
    display: block;
  }
  body .w3-center .w3-row .w3-col .w3-ul .w3-bar a img {
    display: none;
  }
  body .w3-center .w3-row .w3-col .w3-ul .w3-bar a h3 {
    width: 100%;
  }
  body .w3-center .w3-row .w3-col .w3-ul .w3-bar a span {
    float: none !important;
    clear: both;
    text-align: right;
    padding-top: 10px !important;
  }
}
@media screen and (max-width: 600px) {
  body {
    padding: 60px 0 16px;
  }
  body .w3-center .w3-row .w3-col .w3-ul .w3-bar a h3 {
    width: calc(100% - 68px);
  }
}
@media screen and (max-width: 600px) and (orientation: landscape) {
  body .w3-center .w3-row .w3-col .w3-ul .w3-bar a {
    display: block;
  }
  body .w3-center .w3-row .w3-col .w3-ul .w3-bar a img {
    display: none;
  }
  body .w3-center .w3-row .w3-col .w3-ul .w3-bar a h3 {
    width: 100%;
  }
  body .w3-center .w3-row .w3-col .w3-ul .w3-bar a span {
    float: none !important;
    clear: both;
    text-align: right;
    padding-top: 10px !important;
  }
}
