@charset "utf-8";
/* CSS Document */

/*font-----------------------------------------------------------------------------------*/
html { font-family:  'Microsoft JhengHei', '微軟正黑體', Verdana, sans-serif; }

/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  padding: 40px 24px 39px;
}
body h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 3px;
  text-align: center;
  color: #3999cb;
}
body table {
  margin-top: 40px;
  width: 100%; 
  border-collapse: collapse;
}
body table tbody tr {
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  letter-spacing: 1px;
}
body table tbody tr:nth-child(1) th {
  font-size: 14px;
}
body table tbody tr th {
  color: #3999cb; border:1px solid #ccc;
  font-weight: 500;
  background: #d9eaf3;
}
body table tbody tr td {
  background-color: #fff; border:1px solid #ccc;
  text-align: center; 
  color: #4a4a4a;
}
body table tbody tr td.true {
  color: #3999cb;
}
body table tbody tr td.false {
  color: #949494;
}
body table tbody tr br {
  display: none;
}


/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media screen and (max-width: 599px) {
  body {
    padding: 40px 12px 24px;
  }
  body table tbody tr {
    font-size: 14px;
  }
  body table tbody tr:nth-child(1) th {
    font-size: 12px;
    line-height: 20px;
  }
  body table tbody tr:nth-child(2) td {
    line-height: 20px;
  }
  body table tbody tr br {
    display: inline-block;
  }
}

.p1-4 { display:inline-block; margin:10px 3px; width:40px!important; height:25px;  border-radius:5px; background-color:#ddd; font-size:14px; font-weight:bold; color:#666; text-align: center; padding:5px 2px!important; line-height: 100%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; }

.no1 th { background-color: #ddeee4; }
.no2 th { background-color: #dde8ee; }


