/*font-----------------------------------------------------------------------------------*/
html { font-family: Verdana, 'Microsoft JhengHei', '微軟正黑體', sans-serif; }
/*@font-face {
  font-family: 'cwTeXHei';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format('opentype');
}*/

/*color-------------------------------------------------------------------------------------*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 56px 108px 25px;
  min-height: 415px;
}
body img {
  width: 100%;
  max-width: 480px;
}
body h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 3px;
  text-align: center;
  color: #4668cb;
  margin-bottom: 32px;
}
body .content {
  text-align: center;
  margin-bottom: 32px;
}
body .content div {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.8px;
}
body .content div span {
  word-break: break-all;
  color: #4668cb;
}
body .btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
}
body .btn-container .btn {
  border: none;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-align: center;
  width: 154px;
  height: 48px;
  margin: 0 12px;
  box-sizing: border-box;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  cursor: pointer;
  outline: none;
}
body .btn-container .btn.cancel {
  color: #4668cb;
  background-color: transparent;
  border: solid 1px #4668cb;
}
body .btn-container .btn.cancel:hover {
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #4668cb;
}
body .btn-container .btn.confirm {
  color: #ffffff;
  background-color: #4668cb;
}
body .btn-container .btn.confirm:hover {
  outline: none;
  color: #ffffff;
  background-color: #90a4e0;
}
body .memo {
  max-width: 400px;
  padding-top: 14px;
  border-top: solid 1px #f0f0f0;
}
body .memo h5 {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 1px;
  text-align: left;
  color: #949494;
}

/*color-------------------------------------------------------------------------------------*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media screen and (max-width: 690px) {
  body {
    padding: 56px 108px 25px;
    padding: 0;
    min-height: 407px;
  }
  body h1 {
    max-width: 446px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 3px;
    text-align: center;
    color: #4668cb;
    margin-bottom: 32px;
  }
  body .btn-container .btn {
    border: none;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.5px;
    width: 120px;
    height: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
}

/*color-------------------------------------------------------------------------------------*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media screen and (max-width: 600px) {
  body {
    padding: 56px 16px 24px;
    min-height: 325px;
  }
  body h1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 16px;
  }
  body .content {
    text-align: center;
    margin-bottom: 32px;
  }
  body .content h2 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.5px;
    color: #4a4a4a;
    margin-bottom: 16px;
  }
  body .content div {
    margin-bottom: 16px;
  }
  body .content div h3 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.5px;
  }
  body .content div h3 span {
    color: #4668cb;
  }
  body .btn-container .btn {
    font-size: 16px;
    letter-spacing: 1.5px;
    width: 120px;
    height: 40px;
    margin: 0 8px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
  body .memo {
    padding-top: 8px;
  }
  body .memo h5 {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 1px;
  }
}
