/*font-----------------------------------------------------------------------------------*/
html { font-family: Verdana, 'Microsoft JhengHei', '微軟正黑體', sans-serif;}
/*@font-face {
  font-family: 'cwTeXHei';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format('opentype');
}*/

/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  padding: 40px 80px 24px;
}
body .field {
  position: relative;
  max-width: 272px;
  min-width: 272px;
}
body .field label {
  margin-top: 16px;
  line-height: 22px;
  font-size: 14px;
  font-weight: 300;
  color: #7f7f7f;
}
body .field.fix p {
  margin: 0;
  line-height: 24px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}
body .field.text input {
  display: block;
  border: none;
  border-bottom: 1px solid #c0c0c0;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 300;
  margin-top: 4px;
  margin-bottom: 0;
  width: 100%;
}
body .field.text input::placeholder {
  color: #c0c0c0;
}
body .field.text input::-ms-clear {
  display: none;
}
body .field.text input:focus {
  border-bottom-color: #000;
  border-bottom-width: 2px;
  margin-bottom: -1px;
}
body .field.text span {
  display: none;
  position: absolute;
  line-height: 20px;
  font-size: 12px;
}
body .field.text.error input {
  margin-bottom: -1px;
  border-bottom-width: 2px;
  border-bottom-color: #f77ebc;
}
body .field.text.error input:focus {
  margin-bottom: -1px;
  border-bottom-width: 2px;
  border-bottom-color: #f77ebc;
}
body .field.text.error span {
  display: block;
  color: #f77ebc;
  letter-spacing: .5px;
}
body .field.text.memo span {
  position: relative;
  display: block;
  color: #316fc9;
  letter-spacing: 1px;
}
body h1 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.44;
  letter-spacing: 1px;
  text-align: center;
  color: #316fc9;
  margin-bottom: 16px;
}
body .intro {
  margin: 0;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  letter-spacing: 1px;
  text-align: center;
  color: #000000;
}
body .intro.left {
  text-align: left;
}
body .fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
body .fields .field {
  margin-bottom: 24px;
}
body .fields .field:last-child {
  margin-bottom: 0px;
}
body .buttons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 24px;
}
body .buttons a {
  margin: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 48px;
  border-radius: 100px;
  color: #01b1b1;
  background-color: #ffffff;
  border: solid 1px #01b1b1;
}
body .buttons .color {
  height: 48px;
  color: white;
  border-radius: 100px;
  background-image: linear-gradient(90deg, #093e7e, #2ad2b8);
  border: none;
}
body .notice {
  margin: 0;
  width: 100%;
  border-top: 1px solid #e0e0e0;
  padding-top: 4px;
  line-height: 20px;
  color: #7f7f7f;
  text-align: left;
  letter-spacing: 1px;
  font-size: 12px;
}


/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media screen and (max-width: 599px) {
  body {
    padding: 40px 16px 24px;
  }
  body .field {
    width: 100%;
    max-width: 100%;
    min-width: 0;
  }
  body .buttons a {
    width: auto;
    flex: 1;
    margin: 0;
    margin-left: 16px;
  }
  body .buttons a:first-child {
    margin-left: 0;
  }
}
