.nav_container@charset "UTF-8";
/*font-----------------------------------------------------------------------------------*/
html { font-family:  '微軟正黑體', 'Microsoft JhengHei',  Verdana, sans-serif; font-weight: 400;  }

.pc-show {display:block!important;}
.mo-show {display:none!important;} 
@media only screen and (max-width : 768px) { 
.pc-show {display:none!important;}
.mo-show {display:block!important;} 
}											

/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  /*init--------------------------------------------------*/ 
  font-size: 15px;
}
body input:focus,
body select:focus,
body textarea:focus,
body form:focus,
body a:focus,
body button:focus {
  outline: 0;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body input { 
  margin: 0;
}
body button {
  font-family:  "Microsoft JhengHei", "微軟正黑體", sans-serif;
}
body a {
  text-decoration: none;
}
body .faq .fancybox-slide--iframe .fancybox-content {
  height: 80% !important;
}
body .small_lightbox .fancybox-slide--iframe .fancybox-close-small:after {
  color: #FFF;
}
body .small_lightbox .fancybox-slide--iframe .fancybox-content {
  min-width: 288px;
  max-width: 288px;
  width: 288px;
}
body .alert .fancybox-slide--iframe .fancybox-content {
  min-width: 600px;
  max-width: 600px;
  width: 600px;
}
body .alert_icon .fancybox-content:before {
  content: "";
  background-image: url('../svg/alert_icon.svg');
  width: 32px;
  height: 32px;
  background-color: transparent;
  position: absolute;
  top: -16px;
  left: calc(50% - 16px);
}
body .alert_icon .fancybox-slide--iframe .fancybox-content {
  min-width: 600px;
  max-width: 600px;
  width: 600px;
}
body .alert_full .fancybox-slide--iframe .fancybox-content {
  min-width: 600px;
  max-width: 600px;
  width: 600px;
}
body .investment .fancybox-slide--iframe .fancybox-content {
  max-width: 900px;
  width: 900px;
}
body .loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.36);
  z-index: 100;
  top: 0;
  left: 0;
}
body .loading .fancybox-loading {
  border: 6px solid rgba(100, 100, 100, 0.4);
  border-top: 6px solid rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  height: 50px;
  width: 50px;
  -webkit-animation: fancybox-rotate 0.8s infinite linear;
  animation: fancybox-rotate 0.8s infinite linear;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}
.fancybox-show {
  overflow-x: initial;
}
.fancybox-slide--iframe .fancybox-content {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
.fancybox-slide--iframe .fancybox-close-small {
  pointer-events: auto;
  right: 16px;
  top: 16px;
}
.fancybox-slide--iframe .fancybox-close-small:after { 
  font-size: 28px;
  color: #4668cb;
}
.fancybox-slide--iframe .fancybox-close-small:hover:after {
  color: white;
  background-color: #4668cb;
  font-size: 22px;
}
.fancybox-bg {
  background-color: black;
}
.fancybox-is-open .fancybox-bg {
  -moz-opacity: 0.32;
  -khtml-opacity: 0.32;
  -webkit-opacity: 0.32;
  opacity: 0.32;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=32);
  filter: alpha(opacity=32);
  height: 100vh;
}
.fancybox-iframe,
.fancybox-image {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
.hide {
  display: none;
}
/*nav bar--------------------------------------------------*/
header {
  width: 100%;
  height: 56px;
  padding: 18px 32px;
  background-color: #0098bc;  /*20210805 New Header Green*/															
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; 
}
header .nav_container { /*20201202*/
  margin: 4px auto 0 auto;
}
header .nav_container:after {
  content: "";
  display: table;
  clear: both;
}
header .nav_container .fubon-logo { /*20210318*//*W*/   
  width: 219px;
  height: 20px;
  text-indent: -9999px;
  position: relative;
  background: url(../img/logo.png) no-repeat left top;
  background-size: contain; 
  cursor: pointer;
  padding: 0;
  margin-top: -4px;
}
header .nav_container .fubon-logo span { /*20210318*/ /*W*/  
  text-indent: 0;   
  cursor: pointer;
  position: absolute;
  left: 125px;  
  top:2px;
  color: white;
  text-indent: initial;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-left: 12px;  
}
header .nav_container nav .w3-bar-item { /*20210318*/
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  color: white;
  padding: 0;
  margin-left: 25px;
  cursor: pointer;
  line-height: 18px;
  height: 20px;
}
 
header .nav_container nav .w3-bar-item.CRM {
    display: block;
    height: 20px;
    background: url(../img/bunny.png) left top no-repeat;
    background-size: 21px 21px;
    padding: 3px 5px 0 0; 
    text-indent: 25px;
    margin: -3px 0 0 20px!important; }
} /*Responsive*/

header .nav_container nav .w3-bar-item.active {
  border-radius: 100px;
  background-color: #4668cb;
}
header .nav_container nav .w3-bar-item.menuSpItem {
  border-right: solid 1px #fff;
  padding-right: 24px;
}
header .nav_container nav .w3-bar-item.login { /*20210318*//*W*/ 
  margin-left: 15px; 
  /*background: url(../svg/sign-in.svg) left center no-repeat;
  background-size: 24px 24px;
  text-indent: 28px;*/
}
header .nav_container nav .w3-bar-item.logout { /*20210318*/
  margin-left: 15px; 
  /*background: url(../svg/sign-out.svg) left center no-repeat;
  background-size: 24px 24px;
  text-indent: 28px;*/
}
header .nav_container nav .w3-bar-item.dashboard { /*20210318*//*W*/   
  margin-left: 15px;  
  /*background: url(../svg/investment.svg) left 1px no-repeat;
  text-indent: 24px;*/
}
header .nav_container .nav-logout { /* 2019-04-19 */
  width: 30px;
  position: fixed;
  top: 12px;
  right: 20px;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
header .nav_container .nav-logout img {
  width: 100%;
  height: 100%;
}
header .nav_container .nav-logout:hover {
  background-color: transparent !important;
}
header .nav_container .nav-login {  /* 2019-04-19 */
  width: 30px;
  position: fixed;
  top: 12px;
  right: 20px;
  margin: 0;
  padding: 0;
  background-color: transparent; 
}
header .nav_container .nav-login img {
  width: 100%;
  height: 100%;
}
header .nav_container .nav-login:hover {
  background-color: transparent !important;
}
header .nav_container .nav-hamburger {
  width: 48px;
  height: 48px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 18px 15px;
  margin-top: 4px;
  background-color: transparent;
}
header .nav_container .nav-hamburger.w3-button:hover {
  opacity: 0.65;
  background: none !important;
}
header .nav_container .nav-hamburger .hamburger-icon {
  position: relative;
  display: block;
}
header .nav_container .nav-hamburger .hamburger-icon,
header .nav_container .nav-hamburger .hamburger-icon:after,
header .nav_container .nav-hamburger .hamburger-icon:before {
  width: 100%;
  height: 2px;
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #fff;
}
header .nav_container .nav-hamburger .hamburger-icon:after,
header .nav_container .nav-hamburger .hamburger-icon:before {
  position: absolute;
  top: -5px;
  left: 0;
  content: "";
}
header .nav_container .nav-hamburger .hamburger-icon:after {
  top: 5px;
}
header .nav_container .nav-hamburger.hamburger-open .hamburger-icon {
  background-color: transparent;
}
header .nav_container .nav-hamburger.hamburger-open .hamburger-icon:after,
header .nav_container .nav-hamburger.hamburger-open .hamburger-icon:before {
  top: 0;
}
header .nav_container .nav-hamburger.hamburger-open .hamburger-icon:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
header .nav_container .nav-hamburger.hamburger-open .hamburger-icon:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/*footer (W)--------------------------------------------------*/
footer {  
  width: 100%;
  padding: 19px 32px 18px;
  background-color: #017698;
  color:#fff; font-size:13px;
  height: 140px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box; }
footer .logos {font-size:16px; font-weight:bold; padding:0 0 5px 0;  margin:10px 0;   } 
footer img.f-logo  { width:125px; padding:0; margin:-10px 8px 0 0;  vertical-align: middle;  }   
.pc-show {display:block!important;}
.mo-show {display:none!important;} 
footer .nano-logo {
  display: block;
  float: left;
  font-size: 15px;
  font-weight: 600;
  padding: 0 0 0 10px;
  margin-top: 2px;}
footer .fl, footer .fr {
  color: #fff;
  font-size: 14px;
  margin: 20px 0 0 0;}
footer .fr {
  text-align: right;}
footer a:link, footer a:visited, footer a:hover {
  color: #fff;
  text-decoration: none !important;} 
footer .footer_container {
  margin: 0 auto;  
}
footer .footer_container .w3-bar {
  overflow: visible;  
}
footer .footer_container .w3-bar .fubon-logo {  
  width: 219px;
  height: 20px;
  text-indent: -9999px;
  position: relative;
  background: url(../img/logo.png) no-repeat;
  background-size: contain;
  background-position-y: center;
  cursor: pointer;
  padding: 0;
}
footer .footer_container .w3-bar .fubon-logo span {   
  text-indent: 0;
  cursor: pointer;
  position: absolute;
  left: 137px;  
  top:2px;
  color: white;
  text-indent: initial;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;  
  height: 24px;
}
footer .footer_container .w3-bar nav .w3-bar-item {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
  padding: 0;
  margin-left: 48px;
  cursor: pointer;
  line-height: 18px;
  height: 20px;
}
footer .footer_container .w3-bar nav .w3-bar-item.active {
  border-radius: 100px;
  background-color: #4668cb;
}
footer .footer_container .w3-bar nav .w3-bar-item:first-child {
  margin-left: 0;
}
footer .footer_container .privacy {
  margin: 33px 0 10px;
  color: white;
  font-size: 14px;
  letter-spacing: 1.5px;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  filter: alpha(opacity=80);
}
footer .footer_container .privacy a {
  color: white;
}
footer .footer_container .w3-row {
  color: white;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  filter: alpha(opacity=80);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
}
footer .footer_container .w3-row .w3-col {
  width: 217px;
} 

.section-100 {
  min-height: 100vh;
}

/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media screen and (max-width: 1300px) {
  footer .footer_container .w3-bar nav .w3-bar-item {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.33;
  }
  footer .footer_container .w3-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  footer .footer_container .w3-row .w3-rest {
    margin-top: 8px;
  }
}

/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
bady { width:100%; height:auto; overflow: hidden; } 
header .nav_container .nav-investment {  
    top: 15px!important;
    right: 120px!important; 
}
header .nav_container .nav-login {  
  top: 15px!important;
  right: 70px!important; 
}
} /*iPad9.7 in portrait*/

/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media screen and (max-width: 992px) {
  body .investment .fancybox-slide--iframe .fancybox-content {
    max-width: 640px;
    width: 100%;
  }
  .fancybox-slide--iframe .fancybox-content {
    width: calc(100% - 96px);
    max-width: initial;
  }
  /*nav bar--------------------------------------------------*/
  header { 
    height: 56px;
    padding: 16px 24px;
    overflow: visible !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
  }
  header.open .overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.54);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  header .nav_container {  
    margin: 0;
  }
  header .nav_container .fubon-logo { /*20210318*//*M*/ 
    /*width: 196px;*/ width: 176px;  
    height: 18px;
    margin-left: 25px;
    float: none;
    margin-top: 1px;
  }
  header .nav_container .fubon-logo span { /*20210318*//*M*/    
    margin-top: 1px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 17px;
    height: 16px;
    left: 110px;
  }
  header .nav_container nav {
    float: none !important;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    padding: 18px 16px;
    overflow-y: hidden;
    background-color: #0098bc; /*20210805 New Hamburger Background Green*/
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
  header .nav_container nav.open {
    -webkit-transition: all 0.45s cubic-bezier(0.55, 0, 0.1, 1);
    -moz-transition: all 0.45s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: all 0.45s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.45s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  header .nav_container nav.close {
    -webkit-transition: all 0.45s cubic-bezier(0.55, 0, 0.1, 1);
    -moz-transition: all 0.45s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: all 0.45s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.45s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
  header .nav_container nav .w3-bar-item { /*open nav*/  
    margin: 0;
    width: 100%; 
    vertical-align: middle; 
    margin: 20px 0 1px 0;
    text-align: center;
    letter-spacing: 1.9px;
    font-size: 16px; 
    height: 30px;
  }
  header .nav_container nav .w3-bar-item.active {
    background-color: #fff;
    color: #4668cb;
  }
  header .nav_container nav .w3-bar-item.menuSpItem { 
    padding: 0;
    border-right: none;
  }
  header .nav_container nav .w3-bar-item.login { 
    margin-left: 0;
    background-position: 67px 6px;      
  }
  header .nav_container nav .w3-bar-item.logout {
    margin-left: 0;
    background-position: 67px 6px; 
  }
  header .nav_container nav .w3-bar-item.dashboard {  /*open nav*//*20210318*/ 
    margin-left: 0;
    background-position: 41px 11px;
    /*text-indent: 21px;*/
  }
  header .nav_container nav .fubon-logo { /*open nav*/ /*20210318*/ 
    height: 20px;
    margin: 0;
    padding: 0 0 0 15px; 
  }
  header .nav_container nav .fubon-logo span { /*open nav*//*20210318*/
    margin: 0;  
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 100%;  padding:4px 0 0 30px;
  }
  header .nav_container nav .fubon-logo:hover {
    background-color: transparent;
    border-radius: 0;
  }
  header .nav_container.event .fubon-logo {
    margin-left: 0;
    float: left;
  }
  header .nav_container.event nav {
    float: right !important;
    position: relative;
    background: none;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    transform: none;
    width: auto;
    padding: 0;
  }
  header .nav_container.event nav .w3-bar-item {
    width: auto;
    padding: 0;
    margin-bottom: 0;
    margin-right: 32px;
  }
  header .nav_container.event nav .w3-bar-item:last-child {
    margin-right: 0;
  }
	

 /*footer .footer_container {
    position: relative;
  }
footer .footer_container .w3-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  } 
  footer .footer_container .w3-bar .fubon-logo { 
    width: 188px;
    height: 18px;
    padding: 0;
  }
  footer .footer_container .w3-bar .fubon-logo span {   
    margin-top: -1px; 
	left:125px;
    font-size: 15px;
	font-weight:bold;
    letter-spacing: 1px; 
    height: 18px;
  }
  footer .footer_container .w3-bar nav {
    margin-top: 19px;
  }
  footer .footer_container .w3-bar nav .w3-bar-item {
    margin-left: 24px;
  }
  footer .footer_container .privacy {
    font-size: 12px;
    letter-spacing: 1.1px;
    position: absolute;
    right: 0;
    bottom: 6px;
  }
  footer .footer_container .w3-row {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    letter-spacing: 1.1px;
    margin-top: 26px;
  }
  footer .footer_container .w3-row .w3-col,
  footer .footer_container .w3-row .w3-rest { 
    margin-top: 0;
    width: 100%;
    text-align: left !important;
    margin-bottom: 16px;
  }	
footer {display:block; width:100%; height: 500px!important; color:#fff; padding:20px 30px; position: static; z-index: 1;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; }
footer .logos {  display:block; width:190px; margin:0 auto; }
footer img.f-logo  { width:120px; display:block; float:left; padding:10px 0 3px 0; }
footer .nano-logo { width:60px; display:block; float:left; font-size:16px; padding:11px 0 0 20px; }
footer .links {text-align: center; font-size:14px; margin:20px 0 0 0; line-height: 240%; } 
footer .M-footer-CRM {margin:0 auto; width:100px; }
footer .copyright {color:#fff; font-size:13px; margin:20px 0; text-align: center; line-height: 180%; } 	
} */
/*20210812*/
footer {
  display: block;
  width: 100%;
  height: 140px;
  background-color: #017698;
  color: #fff;
  font-size: 13px;
  padding: 20px 30px;
  position: static;
  z-index: 1;
}
footer .logos {
  text-align: left;
}
footer img.f-logo {
  width: 125px;
  display: block;
  float: left;
  padding: 0;
}
footer .nano-logo {
  display: inline-block;
  float: left;
  font-size: 16px;
  font-weight: 600;
  padding: 0 0 0 4px;
  margin-top: -8px;
}
@media screen and (max-width: 768px) { 
footer { padding:45px 0 0 0; }
footer .nano-logo {
  display: inline-block; 
  font-size: 14px;
  font-weight: 600;
  padding: 0 0 0 5px;
  margin-top: 0; }
footer img.f-logo  { width:100px; padding:0; margin:0 3px 0 15px;  vertical-align: middle;  } 
.M-footer-CRM
}   

footer .fl, footer .fr {
  color: #fff;
  font-size: 14px;
  margin: 20px 0 0 0;
}
footer .fr {
  text-align: right;
}
footer a:link, footer a:visited, footer a:hover {
  color: #fff;
  text-decoration: none !important;
}

/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media screen and (max-width: 600px) {
  body .faq .fancybox-slide--iframe .fancybox-content {
    width: calc(100% - 32px) !important;
  }
  body .alert .fancybox-slide--iframe .fancybox-content {
    min-width: 0 !important;
    margin: 0;
    max-width: 310px !important;
    width: 100% !important;
  }
  body .alert_icon .fancybox-slide--iframe .fancybox-content {
    min-width: 0 !important;
    margin: 0;
    max-width: 310px !important;
    width: 100% !important;
  }
  body .alert_full .fancybox-slide--iframe .fancybox-content {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    min-width: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
  }
  body .alert_full .fancybox-iframe,
  body .alert_full .fancybox-image {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  body .investment .fancybox-slide--iframe .fancybox-content {
    margin: 0;
    max-width: 310px !important;
    width: 100% !important;
  }
  .fancybox-slide--iframe .fancybox-content {
    width: calc(100% - 32px);
  }
  .fancybox-slide--iframe .fancybox-close-small {
    right: 16px;
    top: 16px;
  }
  .fancybox-slide--iframe .fancybox-close-small:after {
    font-size: 20px;
    line-height: 24px;
    width: 24px;
    height: 24px;
  }
  .fancybox-slide--iframe .fancybox-close-small:hover:after {
    font-size: 18px;
  }
  /*nav bar--------------------------------------------------*/
  header {
    height: 48px;
    padding: 12px 24px;
  }
  header .nav_container .nav-hamburger {
    margin-top: 0;
  }
  header .nav_container .nav-logout {   /* 2019-04-19 */
    top: 10px;
  }
  header .nav_container .nav-login {    /* 2019-04-19 */
    top: 10px;
  }
  /*footer .footer_container .w3-bar .fubon-logo {
    margin: 0 auto;
    float: none;
  }
  footer .footer_container .w3-bar nav {
    width: 100%;
    float: none !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .footer_container .w3-bar nav .w3-bar-item {
    margin: 0;
    margin-bottom: 12px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1.5px;
    line-height: 20px;
  }
  footer .footer_container .privacy {
    text-align: center !important;
    font-size: 14px;
    letter-spacing: 1.3px;
    margin: 12px 0 24px;
    position: static;
  }
  footer .footer_container .w3-row {
    flex-direction: column-reverse;
    font-size: 11px;
    letter-spacing: 1px;
    margin-top: 0;
  }
  footer .footer_container .w3-row .w3-col,
  footer .footer_container .w3-row .w3-rest {
    margin-bottom: 8px;
    text-align: center !important;
  }
  footer .footer_container .w3-row .w3-col span,
  footer .footer_container .w3-row .w3-rest span {
    display: block;
  }*/
}

/*20190227*//*20190319*/
header .nav_container nav .w3-bar-item.invite {display: block; height:30px!important; border-radius:3px; background-color: #3475b9; padding:7px 15px 5px 15px!important; margin-top:-7px; text-aligh:center!important; } 
@media screen and (max-width: 768px) {
header .nav_container nav .w3-bar-item.invite {display: block; height:30px!important; border:0; background-color:#0a4082!important; padding:7px 15px 5px 15px!important; margin-top:-7px; text-align:center!important; }    
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 667px) 
and (orientation : portrait) {  
header .nav_container nav .w3-bar-item.invite {display: none!important;}
.m-nav-invite {
  width: 24px;
  height: 24px;
  position: fixed;
  top: 16px;
  right: 40px;
  margin: 0;
  padding: 0;
  border-radius:3px; background-color: #3475b9; padding:4px 8px 3px 8px!important; margin-top:-4px; text-aligh:center!important;color:#fff; font-size:12px; }
} /*iphone 6.7.8 in portrait*/

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 736px) 
and (orientation : landscape) {  
header .nav_container nav .w3-bar-item.invite {display: none!important;}
.m-nav-invite {
  width: 24px;
  height: 24px;
  position: fixed;
  top: 16px;
  right: 40px;
  margin: 0;
  padding: 0;
  border-radius:3px; background-color: #3475b9; padding:4px 8px 3px 8px!important; margin-top:0px!important; text-aligh:center!important;color:#fff; font-size:12px; }
} /*iphone in landscape*/

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (orientation : landscape) {
header .nav_container nav .w3-bar-item.invite {display: none!important;}
.m-nav-invite {
  width: 24px;
  height: 24px;
  position: fixed;
  top: 16px;
  right: 40px;
  margin: 0;
  padding: 0;
  border-radius:3px; background-color: #3475b9; padding:4px 8px 3px 8px!important; margin-top:0px!important; text-aligh:center!important;color:#fff; font-size:12px; } 
} /*iphoneX in landscape*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
header .nav_container nav .w3-bar-item.invite {display: none!important;}
.m-nav-invite {
  width: 24px;
  height: 24px;
  position: fixed;
  top: 16px;
  right: 60px;
  margin: 0;
  padding: 0;
  border-radius:3px; background-color: #3475b9; padding:4px 8px 3px 8px!important; margin-top:0px; text-aligh:center!important;color:#fff; font-size:12px; }
} /*iPad 9.7 in portrait*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {  
.invite {display: block; height:30px!important; border:0; background-color:#3475b9!important; padding:7px 15px 5px 15px!important; margin-top:-7px; text-align:center!important; }
header .nav_container nav .w3-bar-item {  
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  color: white;
  padding: 0;
  margin-left: 25px!important;
  cursor: pointer;
  line-height: 18px;
  height: 20px;}
} /*iPad 9.7 in landscape*/

@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : portrait) {  
header .nav_container nav .w3-bar-item {  
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  color: white;
  padding: 0;
  margin-left: 25px!important;
  cursor: pointer;
  line-height: 18px;
  height: 20px;}
} /*iPadPro in portrait*/

@media screen and (min-width: 830px) and (max-width: 1151px){ 
header .nav_container nav .w3-bar-item.invite {display: none!important;}
.m-nav-invite {
  width: 24px;
  height: 24px;
  position: fixed;
  top: 16px;
  right: 40px;
  margin: 0;
  padding: 0;
  border-radius:3px; background-color: #3475b9; padding:4px 8px 3px 8px!important; margin-top:0px; text-aligh:center!important;color:#fff; font-size:12px; }
} /*ThinkPad 830*/

/*20190319*/
header .nav_container nav .w3-bar-item.CRM {display: block; height:20px;    
background: url(../img/bunny.png) left top no-repeat;  
background-size: 21px; padding:3px 20px 0 0;
text-indent: 27px;
margin:-3px 0 0 20px;} 

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 736px) 
and (orientation : portrait) {   
header .nav_container nav .w3-bar-item.CRM {display: block; width:160px; height:30px; 
background: url(../img/bunny.png) 10px 2px no-repeat; 
background-size: 25px; padding:6px 0 0 0; text-align: left;
text-indent: 45px;
margin:15px 0 1px 35px!important;}
.M-footer-CRM {display: block; width:160px; height:30px;    
background: url(../img/bunny.png) 10px 2px no-repeat; 
background-size: 20px; padding:0; text-align: left;
text-indent: 36px;
margin:10px 0 15px 25px;}
} /*iphone 6.7.8,plus in portrait*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
header .nav_container nav .w3-bar-item.CRM {display: block; width:160px; height:30px;    
background: url(../img/bunny.png) 10px 2px no-repeat; 
background-size: 25px; padding:6px 0 0 0; text-align: left;
text-indent: 45px;
margin:20px 0 1px 25px;}
} /*iPad 9.7 in portrait*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {  
.invite {display: block; height:30px!important; border:0; background-color:#3475b9!important; padding:7px 15px 5px 15px!important; margin-top:-7px; text-align:center!important; }
header .nav_container nav .w3-bar-item {  
  font-size: 15px;  
  font-weight: 300;
  letter-spacing: 1px;
  color: white;
  padding: 0;
  margin-left: 15px;
  cursor: pointer;
  line-height: 18px;
  height: 20px; }
} /*iPad 9.7 in landscape*/

@media only screen 
and (min-device-width : 834px) 
and (max-device-width : 1112px) 
and (orientation : portrait) { 
header .nav_container nav .w3-bar-item.CRM {display: block; width:160px; height:30px;    
background: url(../img/bunny.png) 10px 2px no-repeat; 
background-size: 25px; padding:0; text-align: left;
text-indent: 40px!important;
/* margin:10px 0 15px 25px!important; */}
} /*iPad 10.5 in portrait*/

@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : portrait) {  
header .nav_container nav .w3-bar-item.CRM {display: block; height:20px;    
background: url(../img/bunny.png) left top no-repeat; 
background-size: 21px; padding:3px 20px 0 0;
text-indent: 27px;
margin:-3px 0 0 20px;}
header .nav_container nav .w3-bar-item { 
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1px;
  color: white;
  padding: 0;
  margin-left: 15px;
  cursor: pointer;
  line-height: 18px;
  height: 20px; }
} /*iPadPro in portrait*/ 


.pcshow {display:block!important;}
.moshow {display:none!important;}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 736px) 
and (orientation : portrait) {   
.pcshow {display:none!important;}
.moshow {display:block!important;}
} /*iphone 6.7.8 plus in portrait*/


/* 2019-04-19 */
header .nav_container .nav-investment {
    width: 60px;
    position: fixed;
    top: 12px;
    right: 68px;
    margin: 0;
    padding: 0;
    background-color: transparent;
}
header .nav_container .nav-investment {
    top: 10px;
} 
header .nav_container .nav-investment img {
  width: 100%;
  height: 100%;
}
header .nav_container .nav-investment:hover {
  background-color: transparent !important;
}
div.noticePink, 
.content .dialog section div.noticePink, 
.content .dialog section div > ul > li > ul > li p.noticePink,
span.noticePink,
.content .dialog > ul ~ p.noticePink {
	color: #f77ebc;
	display: inline;
	font-weight: bold;
	text-decoration: underline;
}
.content .dialog section div.noticePink{
	padding-right: 0px;
    margin-right: 0px;
}
span.noticeBlue, li.noticeBlue{
	color: #316fc9;
}
span.underline{
	text-decoration: underline;
}
span.bold{
	font-weight: bold;
}
.content .read-more > div > ol > li > ol > li.secondLayerDisplayInline{
	display:inline;
}

#show-notice  { 
	color:#666;
	display:block;
	width:90%; 
	padding: 10px;
	margin: 20px auto 50px auto;
	position: relative;
	cursor: pointer;
	border: 1px solid #c8c8c8;
    font-size:14px;
    background:#ddd url(../img/arrowDown-white.png) no-repeat 105px 17px;
	background-size: 11px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box; }  
#notice-content {
	margin: -51px auto 50px auto; 
	padding: 10px 30px 10px 10px;
	width:90%; 
    font-size:14px; 
	line-height: 190%;
	border: 1px solid #c8c8c8;
	color: #999;
    background-color: #fff;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box; }
#notice-content ol, #notice-content ul { margin: 0 0 0 25px; }
#notice-content ol li, #notice-content ul li  { margin: 0 0 0 0px; }
	
/*20210813*/	
.fl{ float:left; }
.fm {margin:0 auto;}
.fr { float:right; }
.tal {text-align: left}
.tac {text-align: center}
.tar {text-align: right}
.w100pct { width:100%; }
.w96pct { width:96%; }
.f-14 { font-size:14px; }
.f-blue { color:#4084b8; }
.f-b { font-weight:600; }
.lh180   { line-height: 180%;  }
	

