@charset "utf-8";
/* CSS Document */
.clearfix { overflow: auto; zoom: 1;}
.clear {clear:both;}

.left {float:left;}
.right {float:right;}
.center {margin:0 auto;}

.tal {text-align: left;}
.tar {text-align:right;}
.tac {text-align:center;}

.ph10 {padding:0 10px;}
.pv10 {padding:10px 0;}

.w100pct {width:100%;}
.w90pct {width:90%;}
.w140 {width:140px;}
.w215 {width:215px;}

.f-orange {color:#fb7a23!important;}
.f-yellow {color:#ffff00!important;}
.f-aqua {color:#99ffff!important;}
.f-blue {color:#3399ff!important;}
 
.mt10 {margin-top:10px!important;}
.mt20 {margin-top:20px!important;}
.mt30 {margin-top:30px!important;}
.mt45 {margin-top:45px!important;}
.mt60 {margin-top:60px!important;}
.mt80 {margin-top:80px!important;}
.mt100 {margin-top:100px!important;}
.mt150 {margin-top:150px!important;}
.mt-10 {margin-top:-10px!important;}
.mt-15 {margin-top:-15px!important;}
.mt-30 {margin-top:-30px!important;}
.mt-80 {margin-top:-80px!important;}
.mt-120 {margin-top:-120px!important;}
.ml10 {margin-left:10px!important;}
.ml20 {margin-left:20px!important;}
.mr10 {margin-right:10px!important;}
.mr20 {margin-right:20px!important;}

.h10 {height:10px!important;}
.h20 {height:20px!important;}
.h30 {height:30px!important;}
.h60 {height:60px!important;}
.h100 {height:100px!important;}
.h150 {height:150px!important;}

.f-b {font-weight:800;}
.f-12 {font-size:12px!important;}
.f-14 {font-size:14px;}
.f-15 {font-size:15px!important;}
.f-16 {font-size:16px;}
.f-18 {font-size:18px!important;}
.f-20 {font-size:20px;}
.f-24 {font-size:24px;}
.f-30 {font-size:30px;}
.f-36 {font-size:36px;}

.bg-lavender {background-color:#e8ebff; }

.letter-space-0 {letter-spacing:0!important; }

.f-udl {text-decoration:underline;}
a:link.f-udl, a:visited.f-udl  {text-decoration:underline;}
a:hover.f-udl { text-decoration:none; }

/*------ index- 投資報告按鈕 -----------------------------------------------*/
a:link.m-report, a:visited {display:none;} 

/*------ PC -----------------------------------------------*/
.pc-show {display:block;}
.mo-show {display:none;}
.event { background: url(../img/event_W.png) no-repeat center top;  
	background-size: 90%;   
	display:block;   
	width: 100%;
	height: auto;
	margin: -170px auto 0 auto;
	color:#fff; font-size:20px;
	line-height: 200%; 
	text-align:center;
	padding: 0 200px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
.event .countdown { background: url(../img/countdown.png) no-repeat center top; margin:-30px auto 40px auto; padding: 100px 20px 10px 20px; background-size: 100%; width:600px; height:350px; display:block; font-size:40px; line-height: 140%; font-weight:600; }
.event .countdown .text-s { margin: 0 auto -20px auto; padding: 30px 20px 10px 20px; font-size:18px; letter-spacing: 6px; }
.btn a:link,.btn a:visited  { width:300px; padding: 10px 25px; background-color:#29adf2; margin:60px auto 0 auto!important; border-radius:5px; font-size:22px; clear:both; }
.btn a:hover { background-color:#3c9ce6; } /*20180723*/ 

/*------ Pad -----------------------------------------------*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {  /*20180723*/
.event { background: url(../img/event_W.png) no-repeat center 50px!important;
	background-size: 90%;  
	display:block;   
	width: 100%;
	min-height: 370px!important;
	margin: -170px auto 0 auto;
	color:#fff; font-size:20px;
	line-height: 200%; 
	text-align:center;
	padding: 30px 200px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
.event .countdown .text-s { margin: 0 auto -20px auto; padding: 30px 20px 10px 20px; font-size:18px; letter-spacing: 6px; }
} /*iPad in landscape*/

@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : portrait) { 
.event {background: url(../img/event_W.png) no-repeat center 150px;
	background-size:100%!important;    
	display:block;   
	width: 100%;
	min-height: 600px;
	margin: -250px auto 0 auto!important;
	color:#fff; font-size:18px;
	line-height: 240%; 
	text-align:center;
	padding: 30px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}   
.event .countdown .text-s { margin: 0 auto -15px auto; padding: 0px 20px 10px 20px; font-size:18px; letter-spacing: 6px; }
} /*iPadPro in portrait*/
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : landscape) { 
.event {background: url(../img/event_W.png) no-repeat center top;
	background-size: 110%!important;   
	display:block;   
	width: 100%;
	min-height: 400px;
	margin: -150px auto 0 auto;
	color:#fff; font-size:18px;
	line-height: 160%; 
	text-align:center;
	padding: 30px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	} 
} /*iPadPro in landscape*/

@media only screen 
and (min-device-width : 834px) 
and (max-device-width : 1112px) 
and (orientation : landscape) {
.event {background: url(../img/event_W.png) no-repeat center 20px;
	background-size: 110%!important;   
	display:block;   
	width: 100%;
	min-height: 400px;
	margin: -150px auto 0 auto;
	color:#fff; font-size:18px;
	line-height: 160%; 
	text-align:center;
	padding: 30px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	}
.event .btn {margin-top:80px!important;}
} /*iPad 10.5 in landscape**/

@media screen and (min-width: 835px) and (max-width: 899px) { 
.event {background: url(../img/event_W.png) no-repeat center 80px;
	background-size: 110%!important;   
	display:block;   
	width: 100%;
	min-height: 400px;
	margin: -150px auto 0 auto;
	color:#fff; font-size:18px;
	line-height: 160%; 
	text-align:center;
	padding: 30px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	}
.event .btn {margin-top:80px!important; }
} /* 830~860W notebook*/

/*------ 結果頁 -----------------------------------------------*/
.item-L,.item-R { font-size:17px; padding:0 8px; margin-top:-10px;}
.item-L {text-align:right; width:48%; display:block;float:left; } 
.item-R {text-align:left; width:52%; display:block;float:right; } 
.notice {display:block; border-radius:50px; width:100%; background-color: #fee3d3; font-size:14px; text-align:left; clear:both; margin:0 auto; padding:30px 35px 1px 10px!important; color:#930; line-height: 160%; } 
.notice-top { background: url(../img/confirm-notice.png) no-repeat center top; background-size: 100%;   width:30px; height:20px; margin: -43px auto 7px auto!important; }
.notice-cube { background: url(../img/role_cube/emoji-robot-02-b@3x.png) no-repeat left top;  
background-size: 100%; width:50px; height:80px; float:left; margin: -5px 10px 0 25px!important;  }
.notice-txt { text-align: center; color:#666; font-size:13px; margin-top: -10px!important; margin-bottom: 30px!important; }
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
.scrollContainer .content { margin-top:60px!important;}
} /*iPad in portrait*/

 
/*------ 對話招呼頁 -----------------------------------------------*/
.dialog-txt { width:50%; text-align: center; color:#fff; font-size:18px; line-height: 140%; margin-top:-40px; }
.dialog-txt a:link, .dialog-txt a:visited {color:#ffff00; text-decoration:underline;}
.dialog-txt a:hover {text-decoration:none;}
.dialog-tips {font-size:15px; line-height: 220%; width:380px; padding: 0 0 0 30px; margin:0px auto 0 auto; color:#d4eafd; 
background: url(../img/role_cube/robot-explain@3x.png) no-repeat left 3px; background-size: 30px; }

/*------ 活動提示彈窗 -----------------------------------------------*/
.EDM { background: url(../img/EDM.png) no-repeat center top; background-size: 100%; width:580px;
height:440px; margin:-20px auto 45px auto; }
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
.EDM { background: url(../img/EDM_M.png) no-repeat center top; background-size: 100%; width:440px!important; height:270px; margin:5px auto 20px auto;} 
.btn-container {margin-top:140px!important;}
} /*iPad in portrait*/

/*------ 報告頁 -----------------------------------------------*/  
.report-date {margin:4px 6px 2px 2px;}



