@charset "UTF-8";
html { font-family: Verdana, 'Microsoft JhengHei', '微軟正黑體', sans-serif;
-webkit-overflow-scrolling: touch;} 

.pc-show {display:block!important;}
.mo-show {display:none!important;} 

header {
  background-image: none;
  background-color: #15bd7a;
}
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : portrait) { 
.w3-right { }
a.w3-bar-item.menuItem { margin:0 0 0 5px!important;}  
header .nav_container nav .w3-bar-item { 
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  color: white;
  padding: 0; margin-left: 8px;
  cursor: pointer;
  line-height: 18px;
  height: 20px;}
header .nav_container nav .w3-bar-item.CRM {
    display: block;
    height: 20px;
    background: url(../img/bunny.png) left top no-repeat;
    background-size: 21px;
    padding: 3px 5px 0 0;
    text-indent: 25px;
    margin: -3px 0 0 20px!important;}
} /*iPadPro in portrait*/ 

footer {display:block; width:100%; background-color: #27c788; color:#fff; padding:20px 30px; position: static; z-index: 1;}
footer .logos {text-align:left;}
footer img.f-logo  { width:125px; display:inline-block; padding:10px 0 5px 0; }
footer .nano-logo { display:inline-block; font-size:17px; padding:5px 0 0 20px; }
footer .fl, footer .fr {color:#fff; font-size:14px; margin:20px 0 0 0;}   
footer .fr { text-align: right;}
  
.main-wrap {
  display: block; 
  width: 100%;
  padding: 0;
  margin: 56px 0 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
 
@media screen and (min-width: 769px) and (max-width: 829px){
.main-wrap { display: block;width: 100%!important;padding: 0;margin: 56px 0 0 0; }
} /*Responsive*/

@media screen and (min-width: 830px) and (max-width: 1151px){
.main-wrap { display: block;width: 100%;padding: 0;margin: 56px 0 0 0;}
} /*ThinkPad 830*/

@media screen and (min-width: 1152px) and (max-width: 1279px){
.main-wrap { display: block;width: 100%;padding: 0;margin: 56px 0 0 0;}
} /* 4:3 desktop*/ 

@media screen and (min-width: 1280px) and (max-width: 1365px){
.main-wrap { display: block;width: 100%;padding: 0;margin: 56px 0 0 0;}
} /* notebook*/

@media screen and (min-width: 1366px) and (max-width: 1439px){
.main-wrap { display: block;width: 100%;padding: 0;margin: 56px 0 0 0;}
}

@media screen and (min-width: 1440px) and (max-width: 1599px){
.main-wrap { display: block;width: 100%;padding: 0;margin: 56px 0 0 0;}
} 

@media screen and (min-width: 1600px) and (max-width: 1919px){ 
.main-wrap { display: block;width: 100%;padding: 0;margin: 56px 0 0 0;}
}

@media screen and (min-width: 1920px) and (max-width: 2047px){ 
.main-wrap { display: block;width: 100%;padding: 0;margin: 56px 0 0 0;}
} 

@media screen and (min-width: 2048px) and (max-width: 2159px){
.main-wrap { display: block;width: 100%;padding: 0;margin: 56px 0 0 0;}
} 

@media screen and (min-width: 2160px) { 
.main-wrap { display: block;width: 100%;padding: 0;margin: 56px 0 0 0;}
}     



.main-content {
  display: block;
  width: 100%;
  padding: 30px;
  min-height: 100px;
}
/* KV --*/ 
.KV-estmate {
  display: block;  
  box-sizing: border-box;
  font-size:36px; font-weight:bolder; text-align:center;
  padding: 10px 10% 30px 10%; 
  margin: 0;
  background: #a4dcb5 url(../img/estmate/KV.jpg) no-repeat center top;
  background-size: 1120px;
  width: 100%;
  height: 330px; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; border-bottom:5px solid #a4dcb5;} 
.KV-tree { background: url(../img/estmate/KV-tree.gif) no-repeat left top;
  background-size: 85%; margin:0 auto;
 width:200px; height:248px;} 
.KV-estmate .txt-L {font-size:54px;  }
.KV-estmate .txt-M {font-size:46px;  }
 
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
 
} /*iPad9.7 in landscape*/
@media only screen 
and (min-device-width : 834px) 
and (max-device-width : 1112px) 
and (orientation : portrait) {  
} /*iPad10.5 in portrait*/ 

@media only screen 
and (min-device-width : 834px) 
and (max-device-width : 1112px) 
and (orientation : portrait) {   
} /*iPad10.5 in portrait*/
 

h2 {	
  font-size: 30px;	
  font-weight:800;	
  text-align: center;	
}

/*---toggle---*/
.box-close .award {
    height: 400px; overflow-y: hidden;}
.box-open .award {
    height: auto;overflow-y: hidden;}

.box-wrap .toggle {
    font-size: 16px;
	width: 98px;
	height: 23px;
	display:block;
    position:relative; 
    margin:-30px 30px 0 0;
}
.box-wrap.box-open .toggle:after {
    content: "";
	background: url(../img/index/arrow-up.png) no-repeat left top;
	background-size: 98px 23px;
	width: 98px;
	height: 23px;
	display:block;
}
.box-wrap.box-close .toggle:after {
    content: "";
	background: url(../img/index/arrow-down.png) no-repeat left top;
	background-size: 98px 23px;
	width: 98px;
	height: 23px;
	display:block;
} 
.box-wrap { width: 65%; margin: 0px auto 30px auto;}


/*slide*/ 
.carousel {
position: relative;  
width:1000px;
margin:0 auto;
}

#slides {
overflow: hidden;
position: relative;
width: 730px; margin:0 auto;
height: 255px;  
}

#slides ul {
list-style: none;
width:100%;
height:250px;
margin: 0;
padding: 0;
position: relative;
}

#slides li {
width:100%;
height:250px;
float:left;
text-align: center;
position: relative; 
}
/* Styling for prev and next buttons */
.btn-bar{
    width: 100%;
    margin: 0 auto;
    display: block;
    position: relative;  
}

#buttons { width: 85%; padding:0; margin:0 auto;  }

#buttons a {  
text-align:center;
display:block;
font-size:70px; 
line-height:100%;
margin:100px 0 0 0;
color:#fff;
text-decoration:none; 
padding:0;
width:60px;}
a#prev:hover, a#next:hover { color:#FFF; } 
#prev { float:left; }
#next { float:right; }

@media screen and (min-width: 830px) and (max-width: 1151px){
.carousel {
position: relative;  
width:800px;
margin:0 auto;
}
#slides {
overflow: hidden;
position: relative;
width: 560px; margin:0 auto;
height: 255px; }
} /*ThinkPad 830*/
@media screen and (min-width: 769px) and (max-width: 829px){
.carousel {
position: relative;  
width:700px;
margin:0 auto;
}
#slides {
overflow: hidden;
position: relative;
width: 460px; margin:0 auto;
height: 255px; }
} /*Responsive*/
 
.quote-phrase {  
height: 200px; over-flow:hidden;
font-size:16px;
color:#FFF;  
text-align:left;}
.quoteContainer, .authorContainer {  
display:block; margin:0 auto; text-align:left; background-color:#fff; border-radius:15px;
width: 100%; height: 200px; over-flow:hidden;}
@media only screen 
and (min-device-width : 834px) 
and (max-device-width : 1112px) 
and (orientation : portrait) { 
.quote-phrase {  
height: 320px; over-flow:hidden;
font-size:16px;
color:#FFF;  
text-align:left;}
} /*iPad10.5 in portrait*/ 

.news-left {
  display: block; float: left;  
  width: 30%; text-align:right;
  padding: 25px 20px 0 0;
  margin: 0; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}
.news-left img {width: 80%; border-radius:8px;}
@media screen and (min-width: 1366px) and (max-width: 1439px){ 
.news-left img {width: 70%; }
}
@media screen and (min-width: 1920px) and (max-width: 2047px){ 
.news-left img {width: 50%; margin:0 30px; 0 0;}
} 
@media screen and (min-width: 2048px) and (max-width: 2159px){ 
.news-left img {width: 45%; margin:0 30px; 0 0;}
} 
@media screen and (min-width: 2160px) {
.news-left img {width: 45%; margin:0 30px; 0 0;}
}   
.news-right {  
  display: block;  
  float: left;
  width: 69%;
  padding: 20px 20px 20px 30px;
  margin: 0;
  text-align: left;
  line-height: 190%;
  font-size: 17px;
  color: #666;   
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height:190px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.fee {display:block;width:100%; min-height:320px; padding:15px 4%; 
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; }
.fee-section {display:block; width:97%; margin:0 auto; min-height:220px; color:#666; font-size:18px; line-height:200%; border-bottom:2px dotted #ccc; }	
.fee-section h3 {font-size:22px; font-weight:800; color:#86a6cf;}
@media only screen 
and (min-device-width : 834px) 
and (max-device-width : 1112px) 
and (orientation : portrait) {  
.fee-section {min-height:210px; font-size:15px; }
.fee .one_third {width:28%!important; }
} /*iPad10.5 in portrait*/
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : portrait) { 
.fee-section {min-height:210px; font-size:15px; }
.fee .one_third {width:30%!important;} 
} /*iPadPro in portrait*/
@media screen and (min-width: 830px) and (max-width: 1151px){
.fee-section {min-height:210px; font-size:15px; }
.fee .one_third {width:30%!important; }
} /*ThinkPad 830*/
@media screen and (min-width: 1152px) and (max-width: 1279px){ 
.fee-section {min-height:210px; font-size:16px; }
.fee .one_third {width:31%!important; }
} /* 4:3 desktop*/
@media screen and (min-width: 769px) and (max-width: 829px){
.fee-section {min-height:210px; font-size:15px; }
.fee .one_third {width:30%!important; }
} /*Responsive*/

 
/*POPUP*/
.button { }
.button:hover { }

.overlay-pop { 
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5); 
  visibility: hidden;
  opacity: 0;
}
.overlay-pop:target {
  visibility: visible;
  opacity: 1;
}

.popup {   
  margin: 70px auto; 
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  width: 500px;
  height:470px;
  overflow:hidden;
  position: relative;
  z-index: 99999998;
}

.popup h2 {
  margin-top: 0;
  color: #333; 
}
.popup .close {
  position: absolute; 
  width:30px; height:32px; dispaly:block; 
  background: url("../img/index/ico_close.png") no-repeat left top;
  background-size: 30px; 
  right: 36px;  
  z-index: 99999999;
}
.popup .close:hover {
 width:30px; height:32px;
 background: url("../img/index/ico_close_hover.png") no-repeat left top;
 background-size: 30px;
}
.popup .content { height:580px; overflow-y: scroll; }
.popup .content iframe {width:100%; height:580px; overflow: hidden; }
.popup .content::-webkit-scrollbar { display: none;}

/* universal ========================================*/
/*行距*/
.lh100 {
  line-height: 100% !important;
}
.lh120 {
  line-height: 120% !important;
}
.lh140 {
  line-height: 140% !important;
}
.lh170 {
  line-height: 170% !important;
}
.lh180 {
  line-height: 180% !important;
}
.lh200 {
  line-height: 200% !important;
}
.lh220 {
  line-height: 220% !important;
}
.lh240 {
  line-height: 240% !important;
}
.lh260 {
  line-height: 260% !important;
}
.lh300 {
  line-height: 300% !important;
}
/*文字大小*/
.f-n {
  font-weight: normal;
}
.f-b {
  font-weight: bold;
}
.f-12 {
  font-size: 12px;
  line-height: 140%;
}
.f-13 {
  font-size: 13px;
  line-height: 140%;
}
.f-14 {
  font-size: 14px!important;
  line-height: 140%;
}
.f-15 {
  font-size: 15px;
  line-height: 140%;
}
.f-16 {
  font-size: 16px!important;
  line-height: 140%;
}
.f-18 {
  font-size: 18px;
  line-height: 140%;
}
.f-20 {
  font-size: 20px;
  line-height: 140%;
}
.f-22 {
  font-size: 22px;
  line-height: 140%;
}
.f-24 {
  font-size: 24px;
  line-height: 140%;
}
.f-28 {
  font-size: 28px;
  line-height: 140%;
}
.f-30 {
  font-size: 30px;
  line-height: 140%;
}
.f-36 {
  font-size: 36px;
  line-height: 140%;
}
.f-48 {
  font-size: 48px;
  line-height: 140%;
}
.f-60 {
  font-size: 60px;
  line-height: 140%;
}
/*文字顏色*/
.f-blue {
  color: #365dd8!important;
}
.f-GrayC {
  color: #c1c1c1!important;
}
.f-lightGray {
  color: #999!important;
}
.f-gray {
  color: #777!important;
}
.f-skyBlue {
  color: #02cef3!important;
}
.f-orange {
  color: #f60!important;
}
.f-red {color: #f06b60;}
.f-pink {color: #ff7973;}
.f-green {color: #1ab06d;}
.f-lightGreen {color: #62e189;}
.f-deepGreen {color: #2f9659;}
.f-lightGreen {color: #8dc184;}
.f-white { color: #fff!important; } 

/*文字對齊*/
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.tal {
  text-align: left;
}
.vam {
  vertical-align: middle;
}
/*物件對齊*/
.fl {
  display: block;
  float: left;
}
.fr {
  display: block;
  float: right;
}
.fm {
  display: block;
  margin: 0 auto!important;
}
/*文字連結-下底線*/
a:link.f-udl, a:visited.f-udl {
  text-decoration: underline;
}
a:hover.f-udl {
  text-decoration: none;
}
/*寬度(百分比)*/
.w10pct {
  width: 10% !important;
}
.w15pct {
  width: 15% !important;
}
.w20pct {
  width: 20% !important;
}
.w25pct {
  width: 25% !important !important;
}
.w33pct {
  width: 33.33333% !important;
}
.w50pct {
  width: 50% !important;
}
.w70pct {
  width: 70% !important;
}
.w75pct {
  width: 75% !important;
}
.w80pct {
  width: 80% !important;
}
.w90pct {
  width: 90% !important;
}
.w95pct {
  width: 95% !important;
}
.w100pct {
  width: 100% !important;
}
.w250px {
  width: 250px;
}
/*外間距*/
.mg5 {
  margin: 5px;
}
.mg10 {
  margin: 10px;
}
.mg15 {
  margin: 15px;
}
.mg20 {
  margin: 20px;
}
.mg30 {
  margin: 30px;
}
.mg50 {
  margin: 50px;
}
.mg80 {
  margin: 80px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb80 {
  margin-bottom: 80px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt50 {
  margin-top: 50px;
}
.mt80 {
  margin-top: 80px;
}
.mt-15 {
  margin-top: -15px;
}
.mt-30 {
  margin-top: -30px;
}
.ml40 {
    margin-left: 40px;}
.ml20 {
    margin-left: 20px;}

/*內間距*/
.pd5 {
  padding: 5px !important;
}
.pd10 {
  padding: 10px !important;
}
.pd15 {
  padding: 15px !important;
}
.pd30 {
  padding: 30px !important;
}
.pd50 {
  padding: 50px !important;
}
.pd80 {
  padding: 80px !important;
}
.ph5 {
  padding: 0 5px !important;
}
.ph10 {
  padding: 0 10px !important;
}
.ph15 {
  padding: 0 15px !important;
}
.ph20 {
  padding: 0 20px !important;
}
.ph30 {
  padding: 0 30px !important;
}
.ph50 {
  paddin: 0 50px !important;
}
.ph80 {
  padding: 0 80px !important;
}
.ph100 {
  padding: 0 100px !important;
}
.pv5 {
  padding: 5px 0 !important;
}
.pv10 {
  padding: 10px 0 !important;
}
.pv15 {
  padding: 15px 0 !important;
}
.pv20 {
  padding: 20px 0 !important;
}
.pv30 {
  padding: 30px 0!important;
}
.pv50 {
  padding: 50px 0 !important;
}
.pv80 {
  padding: 80px 0 !important;
}
/*框線*/
.bd-solid {
  border: 1px solid #ccc;
}
.bd-dashed {
  border: 1px dashed #ccc;
}
.bd-dotted {
  border: 1px dotted #ccc;
}
.bd-bottom-solid {
  border-bottom: 1px solid #ccc;
}
.bd-bottom-dashed {
  border-bottom: 1px dashed #ccc;
}
.bd-bottom-dotted {
  border-bottom: 1px dotted #ccc;
}
.bd-gray {
  border-color: #999 !important;
}
.bd-green {
  border-color: #01b6ad !important;
}
.bd-blue {
  border-color: #008fc7 !important;
}
.bd-yellow {
  border-color: #ffcc33 !important;
}
.bd-orange {
  border-color: #ff8500 !important;
}
.bd-red {
  border-color: #ff3300 !important;
}
.bd-pink {
  border-color: #ff6666 !important;
}
/*背景色*/
.bg-pink {	
  background-color: #fde1e1!important;	
}	
.bg-green {	
  background-color: #aeebcf!important;	
}	
.bg-blue {	
  background-color: #eafced!important;	
}
.bg-bluegreen {
  background-image: -ms-linear-gradient(top, #2AD2B8 0%, #146da2 100%);
  background-image: -moz-linear-gradient(top, #2AD2B8 0%, #146da2 100%);
  background-image: -o-linear-gradient(top, #2AD2B8 0%, #146da2 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2AD2B8), color-stop(100, #146da2));
  background-image: -webkit-linear-gradient(top, #2AD2B8 0%, #146da2 100%);
  background-image: linear-gradient(to bottom, #2AD2B8 0%, #146da2 100%);
}
/*按鈕*/
.btn {	
  display: inline-block;	
  vertical-align: middle !important;	
  margin: 10px 5px;  	
}
a:link.btn, a:visited.btn {	
  color: #2fb153;	
  background-color: #fff;	
  border: 1px solid #2fb153;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  padding: 12px 20px;
  border-radius:10px;
}
a:hover.btn {	
  color: #2fb153;	
  background-color: none;	
  border: 1px solid #2fb153;	
  border-radius:10px;	
}
.btn-dark {
  display: inline-block;
  vertical-align: middle !important;
  margin: 10px 5px;
}
a:link.btn-dark, a:visited.btn-dark {
  color: #fff;
  background-color: #0070c0;	
  border: 1px solid #0070c0;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  padding: 10px 20px;
  border-radius:10px;
}
a:hover.btn-dark {
  color: #fff;
  background-color: #0070c0;	
  border: 1px solid #0070c0;	
  border-radius:10px;
}
.btn-promo {
  display: inline-block;
  vertical-align: middle !important;
  margin: 10px 5px; 
}
a:link.btn-promo, a:visited.btn-promo {
  color: #fff;
  background-color: #ffc000;	
  border: 1px solid #ffc000;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  padding: 10px 20px;
  border-radius:10px;
}
a:hover.btn-promo {
  color: #ffc;
  background-color: #ffc000;	
  border: 1px solid #ffc000;	
  border-radius:10px;
}
/* Grid */
.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter {
  display: inline-block;
  float: left;
  margin: 0 0 0 30px;
  text-align: center;
}
.first {
  margin-left: 0;
  clear: left;
}
.one_quarter {
  width: 22.69938650306748%;
}
.one_third {
  width: 31.28834355828221%;
}
.one_half, .two_quarter {
  width: 48.46625766871166%;
}
.two_third {
  width: 65.6441717791411%;
}
.three_quarter {
  width: 74.23312883435584%;
}
.block {
  display: block;
}
.clearfix {
  clear: both !important;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/*POPUP*/ 
.h1 {font-weight:600; font-size:20px; color:#666; text-align: center; line-height: 240%;}

.preformance { width:100%; margin:0 auto; padding:50px;}
.p-intro {width:90%; margin:0 auto; color:#666; font-size:16px; text-align: center; line-height:180%;  }
.p-date {width:90%; margin:0 auto; color:#999; font-size:13px; text-align: center; line-height:180%;  }
.preformance { width:100%; padding:10px 5px;}

.p-table { width:80%; margin:0 auto; border:1px solid #ccc; font-size:16px;color:#999; margin:0 auto 10px auto;}
.p-table th { background-color:#f4f4f4; padding:5px; }
.p-table td { background-color:#fff; padding:5px; text-align: center;}

.chart { width:50%; margin:0 auto 10px auto;}
.chart .title  {background-color:#ddd; width:100%; margin:0 auto; font-size:14px; font-weight:bold;line-height: 240%;text-align: center;}
.chart img {border:1px solid #ddd; width:100%; }  

/*tabset*/
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

.tabset {  width:90%; margin:0 auto; text-align:center; line-height: 190%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;  }
.tabset > label {
  position: relative;
  display: inline-block;
  padding: 25px 50px 15px 50px;
  border: 3px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600; color:#666;
  font-size:20px;  line-height:100%; letter-spacing: 4px;
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; 
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px; 
  height: 4px;
  background: #fff;  
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: #02d7f3; 
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #fff;   
}

.tabset > input:checked + label {
  border-color: #02d7f3;  color: #02d7f3; 
  border-bottom: 3px solid #fff; border-top-left-radius: 10px; border-top-right-radius: 10px;
  margin-bottom: -3px;
}

.tab-panel {
  padding: 20px 10px; font-size:16px; letter-spacing: 1px;
  border-top: 3px solid #02d7f3; 
} 
.pie1, .pie2, .pie3, .pie4 {width:260px; height:260px; display:block;  margin:8px auto 12px auto;}
.pie1 {background: url("../img/estmate/pie_1.png") no-repeat left top;
	background-size: 100%; }
.pie2 {background: url("../img/estmate/pie_2.png") no-repeat left top;
	background-size: 100%; }
.pie3 {background: url("../img/estmate/pie_3.png") no-repeat left top;
	background-size: 100%; }
.pie4 {background: url("../img/estmate/pie_4.png") no-repeat left top;
	background-size: 100%; }

.tabset  input { border:0; border-bottom:2px solid #02d7f3; padding:5px 10px; margin:0 5px;  font-size:18px; letter-spacing: 2px; height:34px;
-webkit-box-sizing: border-box; color:#333;  min-width: 250px;
-moz-box-sizing: border-box;
box-sizing: border-box; } 

::placeholder { /* CSS 3 標準 */ 
  color: #999; font-size:16px; font-weight:100;
} 
::-webkit-input-placeholder { /* Chrome, Safari */ 
  color: #999; font-size:16px; font-weight:100;
} 
:-ms-input-placeholder { /* IE 10+ */ 
  color: #999; font-size:16px; font-weight:100;
}
::-moz-placeholder { /* Firefox 19+ */ 
  color: #999; font-size:16px; font-weight:100;
  opacity: 1; 
}

/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 13em;
  height: 2.5em;
  line-height: 2.5; 
  overflow: hidden; 
  border:2px solid #02d7f3; 
  margin:3px auto;
}
select {
  flex: 1;
  padding: 0 10px;
  background-color: #e8f4fe; border:0;
  color: #666;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 15px;
  background: #02d7f3;
  cursor: pointer;
  pointer-events: none;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #eee;
}