/*font-----------------------------------------------------------------------------------*/
html { font-family: Verdana, 'Microsoft JhengHei', '微軟正黑體', sans-serif; } 
/*@font-face {
  font-family: 'cwTeXHei';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format('opentype');
}*/

/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  font-size: 16px;
  color: #4a4a4a;
}
img {
  margin: 0;
}
p,
ul,
ol,
h1,
h2 {
  margin: 0;
  padding: 0;
}
.scrollContainer {
  width: calc(100% + 25px);
  /*height: 100vh;*/ height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.scrollContent {
  width: 100%;
  margin-top: 56px;
  background: url('../svg/invalid-name-geometry.svg') #011b4e center;
}
.content {
  max-width: 680px;
  padding: 11px 0 40px;
  margin: 0 auto;
}
.content > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content > ul li {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: solid 1px rgba(73, 255, 251, 0.3);
  font-size: 16px;
  font-weight: 300;
  color: rgba(73, 255, 251, 0.3);
}
.content > ul li.active {
  border: solid 1px #49fffb;
  color: #49fffb;
}
.content > ul li + li {
  margin-left: 28px;
  position: relative;
}
.content > ul li + li:before {
  content: '';
  position: absolute;
  top: calc(49%);
  left: -19px;
  width: 10px;
  height: 2px;
  opacity: 0.3;
  border-radius: 2px;
  background-color: #49fffb;
}
.content > ul li.active + li:before,
.content > ul li + li.active:before {
  opacity: 1;
}
.content .note {
  margin-top: 12px;
  display: flex;
}
.content .note .mask {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #2fb153;
  overflow: hidden;
}
.content .note p {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  flex: 1;
  min-height: 64px;
  display: flex;
  padding: 8px 15px;
  border: 1px solid #2fb153;
  margin-left: 12px;
  position: relative;
  font-size: 16px;
  background-color: white;
}
.content .note p span {
  display: inline-block;
  margin: auto auto auto 0;
}
.content .note p span a {
  color: #2fb153;
  text-decoration: underline;
}
.content .note p:before,
.content .note p:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: calc(50% - 4px);
  left: -5px;
  border-style: solid;
  border-width: 4px 4px 4px 0;
  border-color: transparent #2fb153 transparent transparent;
}
.content .note p:after {
  left: -4px;
  border-color: transparent white transparent transparent;
}
.content .dialog {
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 8px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 25px 92px 33px;
  background-color: white;
  margin-top: 16px;
}
.content .dialog .text.field {
  display: flex;
  flex-direction: column;
  position: relative;
}
.content .dialog .text.field label {
  color: #7f7f7f;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
}
.content .dialog .text.field > div {
  display: flex;
  align-items: center;
}
.content .dialog .text.field > div input {
  flex: 1;
  padding-bottom: 5px;
  margin-top: 5px;
  color: black;
  border: none;
  border-bottom: 1px solid #c0c0c0;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
}
.content .dialog .text.field > div input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: 1;
  color: #c0c0c0;
}
.content .dialog .text.field > div input::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1;
  color: #c0c0c0;
}
.content .dialog .text.field > div input:-ms-input-placeholder {
  /* IE 10+ */
  opacity: 1;
  color: #c0c0c0;
}
.content .dialog .text.field > div input:-moz-placeholder {
  /* Firefox 18- */
  opacity: 1;
  color: #c0c0c0;
}
.content .dialog .text.field > div input:focus,
.content .dialog .text.field > div input.active {
  padding-bottom: 4px;
  border-bottom: 2px solid #2fb153;
}
.content .dialog .text.field > div span {
  margin-left: 8px;
}
.content .dialog .text.field img {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 18px;
}
.content .dialog .text.field p {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: 1px;
  color: #2fb153;
}
.content .dialog .text.field.error input {
  padding-bottom: 4px;
  border-bottom: 2px solid #f77ebc;
}
.content .dialog .text.field.error p {
  color: #f77ebc;
}
.content .dialog .text.field.disabled label {
  color: #c0c0c0;
}
.content .dialog .text.field.disabled input {
  color: #c0c0c0;
  background-color: transparent;
}
.content .dialog .select.field label {
  color: #7f7f7f;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
}
.content .dialog .select.field > div {
  outline: none;
  position: relative;
}
.content .dialog .select.field > div.active > p img {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.content .dialog .select.field > div > p {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2px;
  border-bottom: 1px solid #c0c0c0;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #000000;
}
.content .dialog .select.field > div > p.placeholder {
  color: #c0c0c0;
}
.content .dialog .select.field > div > p img {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.content .dialog .select.field > div ul {
  z-index: 1;
  max-height: 200px;
  overflow: auto;
  width: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 27px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.content .dialog .select.field > div ul li {
  cursor: pointer;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: #ffffff;
}
.content .dialog .select.field > div ul li span {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  letter-spacing: 1px;
  color: #000000;
}
.content .dialog .select.field > div ul li:hover,
.content .dialog .select.field > div ul li.active {
  background-color: #f5f5f5;
}
.content .dialog .select.field > div ul li + li {
  border-top: 1px solid #e0e0e0;
}
.content .dialog .select.field > p {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: 1px;
  color: #2fb153;
}
.content .dialog .radio.field h1 {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  color: #7f7f7f;
}
.content .dialog .radio.field h1 + div {
  margin-top: 10px;
}
.content .dialog .radio.field > p {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: 1px;
  color: #2fb153;
}
.content .dialog .radio.field > p + div {
  margin-top: 10px;
}
.content .dialog .radio.field .inline input[type="radio"],
.content .dialog .radio.field .block input[type="radio"],
.content .dialog .radio.field .select input[type="radio"] {
  display: none;
}
.content .dialog .radio.field .inline input[type="radio"] + label,
.content .dialog .radio.field .block input[type="radio"] + label,
.content .dialog .radio.field .select input[type="radio"] + label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #2fb153;
  margin-top: 3px;
  position: relative;
}
.content .dialog .radio.field .inline input[type="radio"]:checked + label:before,
.content .dialog .radio.field .block input[type="radio"]:checked + label:before,
.content .dialog .radio.field .select input[type="radio"]:checked + label:before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: '';
  width: 12px;
  height: 12px;
  background-color: #2fb153;
  position: absolute;
  left: 3px;
  top: 3px;
}
.content .dialog .radio.field .inline {
  display: flex;
}
.content .dialog .radio.field .inline label + label {
  margin-left: 10px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #000000;
}
.content .dialog .radio.field .inline div {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}
.content .dialog .radio.field .inline div input {
  padding-bottom: 1px;
  border: none;
  border-bottom: 1px solid #c0c0c0;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #000000;
}
.content .dialog .radio.field .inline div input:focus,
.content .dialog .radio.field .inline div input.active {
  padding-bottom: 0;
  border-bottom: 2px solid #2fb153;
}
.content .dialog .radio.field .inline div input.error {
  padding-bottom: 0;
  border-bottom: 2px solid #f77ebc;
}
.content .dialog .radio.field .inline div p {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: 0.5px;
  color: #f77ebc;
}
.content .dialog .radio.field .block {
  display: flex;
}
.content .dialog .radio.field .block > div {
  flex: 1;
  margin-left: 10px;
}
.content .dialog .radio.field .block > div label {
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #000000;
}
.content .dialog .radio.field .block > div div {
  display: flex;
}
.content .dialog .radio.field .block > div div input {
  flex: 1;
  padding-bottom: 1px;
  border: none;
  border-bottom: 1px solid #c0c0c0;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #000000;
}
.content .dialog .radio.field .block > div div input:focus,
.content .dialog .radio.field .block > div div input.active {
  padding-bottom: 0;
  border-bottom: 2px solid #2fb153;
}
.content .dialog .radio.field .block > div div input.error {
  padding-bottom: 0;
  border-bottom: 2px solid #f77ebc;
}
.content .dialog .radio.field .block > div div span {
  margin-left: 8px;
}
.content .dialog .radio.field .block > div p {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: 0.5px;
  color: #f77ebc;
}
.content .dialog .radio.field .select label + label {
  position: relative;
  top: -4px;
  margin-left: 6px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #000000;
}
.content .dialog .radio.field .select > div {
  margin-left: 30px;
  position: relative;
  outline: none;
}
.content .dialog .radio.field .select > div.active > p img {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.content .dialog .radio.field .select > div > p {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2px;
  border-bottom: 1px solid #c0c0c0;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #000000;
}
.content .dialog .radio.field .select > div > p img {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.content .dialog .radio.field .select > div ul {
  z-index: 1;
  max-height: 200px;
  overflow: auto;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 27px;
  width: 100%;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.content .dialog .radio.field .select > div ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 40px;
  padding: 0 17px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  letter-spacing: 1px;
  color: #000000;
  background-color: #ffffff;
}
.content .dialog .radio.field .select > div ul li.active,
.content .dialog .radio.field .select > div ul li:hover {
  background-color: #f5f5f5;
}
.content .dialog .radio.field .select > div ul li + li {
  border-top: 1px solid #e0e0e0;
}
.content .dialog .radio.field > div + div {
  margin-top: 18px;
}
.content .dialog .checkbox.field h1 {
  margin-bottom: 11px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  color: #7f7f7f;
}
.content .dialog .checkbox.field > p {
  margin-top: -7px;
  margin-bottom: 11px;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: 1px;
  color: #2fb153;
}
.content .dialog .checkbox.field input[type="checkbox"] {
  display: none;
}
.content .dialog .checkbox.field > div input[type="checkbox"] + label {
  cursor: pointer;
  position: relative;
  top: 3px;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: solid 1px #2fb153;
}
.content .dialog .checkbox.field > div input[type="checkbox"] + label img {
  display: none;
}
.content .dialog .checkbox.field > div input[type="checkbox"]:checked + label {
  position: relative;
  background-color: #2fb153;
}
.content .dialog .checkbox.field > div input[type="checkbox"]:checked + label img {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline;
}
.content .dialog .checkbox.field > div input[type="checkbox"] + label + label {
  margin-left: 11px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #000000;
}
.content .dialog .checkbox.field .inline {
  min-width: 131px;
  display: inline-flex;
  margin-right: 7px;
  margin-bottom: 16px;
}
.content .dialog .checkbox.field .block {
  display: flex;
  width: 100%;
  margin-bottom: 16px;
}
.content .dialog .checkbox.field .block > div {
  flex: 1;
  margin-left: 8px;
  display: inline-block;
}
.content .dialog .checkbox.field .block > div input {
  width: 100%;
  padding-bottom: 1px;
  border: none;
  border-bottom: 1px solid #c0c0c0;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #000000;
}
.content .dialog .checkbox.field .block > div input:focus,
.content .dialog .checkbox.field .block > div input.active {
  padding-bottom: 0;
  border-bottom: 2px solid #2fb153;
}
.content .dialog .checkbox.field .block > div input.error {
  padding-bottom: 0;
  border-bottom: 2px solid #f77ebc;
}
.content .dialog .checkbox.field .block > div p {
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.67;
  color: #f77ebc;
}
.content .dialog .field + .field {
  margin-top: 24px;
}
.content .dialog .buttons {
  margin-top: 40px;
  text-align: center;
}
.content .dialog .buttons a {
  display: inline-block;
  width: 140px;
  height: 48px;
  border: solid 1px #01b1b1;
  border-radius: 100px;
  line-height: 48px;
  background-color: #ffffff;
  color: #01b1b1;
}
.content .dialog .buttons .color {
  border: none;
  background-image: linear-gradient(to right, #093e7e, #2ad2b8);
  color: white;
}
.content .dialog .buttons a + a {
  margin-left: 40px;
}
.content .read-more {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #f5f5f5;
}
.content .read-more > span {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 32px;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  color: black;
}
.content .read-more > span img {
  margin-left: 8px;
}
.content .read-more > span.active img {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.content .read-more > div {
  display: none;
  padding: 8px 32px 24px;
}
.content .read-more > div > ol {
  width: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #4a4a4a;
  padding-left: 13px;
}
.content .read-more > div > ol > li > ol {
  padding: 0;
  list-style-type: none;
  counter-reset: section;
}
.content .read-more > div > ol > li > ol > li {
  display: flex;
}
.content .read-more > div > ol > li > ol > li:before {
  counter-increment: section;
  content: '(' counter(section) ') ';
}
.content.kyper .note .mask {
  background-color: #279fbc;
}
.content.kyper .note p {
  border: 1px solid #279fbc;
}
.content.kyper .note p a {
  color: #279fbc;
}
.content.kyper .note p:before {
  border-color: transparent #279fbc transparent transparent;
}
.content.kyper .dialog .text.field > div input:focus,
.content.kyper .dialog .text.field > div input.active {
  border-bottom-color: #279fbc;
}
.content.kyper .dialog .text.field:not(.error) p {
  color: #279fbc;
}
.content.kyper .dialog .select.field > p {
  color: #279fbc;
}
.content.kyper .dialog .radio.field > p {
  color: #279fbc;
}
.content.kyper .dialog .radio.field .inline input[type="radio"] + label,
.content.kyper .dialog .radio.field .block input[type="radio"] + label,
.content.kyper .dialog .radio.field .select input[type="radio"] + label {
  border-color: #279fbc;
}
.content.kyper .dialog .radio.field .inline input[type="radio"]:checked + label:before,
.content.kyper .dialog .radio.field .block input[type="radio"]:checked + label:before,
.content.kyper .dialog .radio.field .select input[type="radio"]:checked + label:before {
  background-color: #279fbc;
}
.content.kyper .dialog .radio.field .inline div input:focus,
.content.kyper .dialog .radio.field .inline div input.active {
  border-bottom-color: #279fbc;
}
.content.kyper .dialog .radio.field .block > div div input:focus,
.content.kyper .dialog .radio.field .block > div div input.active {
  border-bottom-color: #279fbc;
}
.content.kyper .dialog .checkbox.field > p {
  color: #279fbc;
}
.content.kyper .dialog .checkbox.field > div input[type="checkbox"] + label {
  border-color: #279fbc;
}
.content.kyper .dialog .checkbox.field > div input[type="checkbox"]:checked + label {
  background-color: #279fbc;
}
.content.kyper .dialog .checkbox.field .block > div input:focus,
.content.kyper .dialog .checkbox.field .block > div input.active {
  border-bottom-color: #279fbc;
}

/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media screen and (max-width: 992px) {
  .scrollContainer {
    width: 100vw;
  }
  .content {
    max-width: none;
    padding-left: 44px;
    padding-right: 44px;
  }
  .content input {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
  }
}

/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media screen and (max-width: 600px) {
  .scrollContent {
    margin-top: 48px;
  }
  .content {
    padding-left: 8px;
    padding-right: 8px;
  }
  .content .note {
    margin-top: 35px;
    position: relative;
  }
  .content .note .mask {
    z-index: 1;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -25px;
    left: 0;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }
  .content .note .mask img {
    width: 26px;
  }
  .content .note p {
    padding: 24px 16px 15px;
    margin-left: 0;
  }
  .content .note p:before,
  .content .note p:after {
    content: none;
  }
  .content .dialog {
    padding: 25px 16px 24px;
    margin-top: 12px;
  }
  .content .dialog .text.field img {
    right: 0;
  }
  .content .dialog .select.field.detail > div ul {
    max-height: 300px;
  }
  .content .dialog .select.field.detail > div ul li {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    height: 60px;
  }
  .content .dialog .checkbox.field .inline {
    min-width: 125px;
  }
  .content .dialog .buttons {
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
  }
  .content .dialog .buttons a {
    flex: 1;
  }
  .content .dialog .buttons a + a {
    margin-left: 8px;
  }
}
