/*font-----------------------------------------------------------------------------------*/
html { font-family: Verdana, 'Microsoft JhengHei', '微軟正黑體', sans-serif; }
/*@font-face {
  font-family: 'cwTeXHei';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format('opentype');
}*/

/*color-------------------------------------------------------------------------------------*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  position: relative !important;
  width: 100%;
  height: auto;
  background: #f6f6f6 url(../svg/blue_bg.svg) center center no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body footer {
  display: none;
}
body .report {
  overflow: hidden;
  margin: 98px 0 42px;
  max-width: 960px;
  width: 100%;
  background-color: #ffffff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
body .report .header { /*20180723*/
  position: relative;
  background-color: #5f7cd1;
  padding: 25px 0 40px 0; 
  height: 80px;  
}
body .report .header h1 {
  font-size: 28px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
}
body .report .header h3 {
  position: absolute;
  right: 24px;
  bottom: 6px;
  font-size: 12px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: right;
  color: #fff;
}
body .report .summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 72px 55px;
}
body .report .summary h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.11;
  letter-spacing: 1.5px;
  text-align: center;
  color: #4a4a4a;
  margin-bottom: 6px;
}
body .report .summary ol {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 52px;
}
body .report .summary ol li {
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: 1px;
  text-align: center;
  color: #4a4a4a;
}
body .report .summary .card_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
body .report .summary .card_container .card {
  margin-right: 40px;
  width: 240px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #4668cb;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4668cb), color-stop(1, #6ac6fb));
  background: -ms-linear-gradient(bottom, #4668cb, #6ac6fb);
  background: -moz-linear-gradient(center bottom, #4668cb 0%, #6ac6fb 100%);
  background: -o-linear-gradient(#6ac6fb, #4668cb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ac6fb', endColorstr='#4668cb', GradientType=0);
}
body .report .summary .card_container .card > div {
  background-color: #ffffff;
  width: 238px;
  height: 198px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
body .report .summary .card_container .card > div label {
  display: block;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-align: center;
  color: #4a4a4a;
}
body .report .summary .card_container .card > div h4 {
  position: relative;
}
body .report .summary .card_container .card > div h4 span {
  font-size: 100px;
  font-weight: 500;
  line-height: 90px;
  letter-spacing: 0;
  text-align: center;
  color: #4668cb;
}
body .report .summary .card_container .card > div h4 span:last-child {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1.5px;
  text-align: left;
  color: #4a4a4a;
  position: absolute;
  bottom: 0;
  right: -14px;
}
body .report .summary .card_container .card > div img {
  position: absolute;
  top: -20px;
  left: calc(50% - 20px);
}
body .report .summary .card_container .card.pink {
  background: #f99cb1;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f99cb1), color-stop(1, #ffb9c9));
  background: -ms-linear-gradient(bottom, #f99cb1, #ffb9c9);
  background: -moz-linear-gradient(center bottom, #f99cb1 0%, #ffb9c9 100%);
  background: -o-linear-gradient(#ffb9c9, #f99cb1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb9c9', endColorstr='#f99cb1', GradientType=0);
  margin-right: 0;
}
body .report .summary .card_container .card.pink h4 span {
  color: #f77ebc;
}
body .report .summary .card_container .card.pink h4 span:last-child {
  right: -35px;
}
body .report .summary .memo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .report .summary .memo div {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  transform-origin: center left;
  max-width: 258px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 2px;
  text-align: left;
  color: #ffffff;
  background-color: #4668cb;
  position: relative;
  margin-left: 12px;
  margin-bottom: 17px;
  margin-right: 125px;
  padding: 16px 16px 16px 21px;
}
body .report .summary .memo div:before {
  content: "\A";
  border-style: solid;
  border-width: 3px 3px 3px 0;
  border-color: transparent #4668cb transparent transparent;
  position: absolute;
  top: 36px;
  left: -3px;
}
body .report .allocation {
  font-size: 14px!important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 95px;
  margin: 0 72px 0;
  background: url(../svg/invalid-name12.svg) bottom right no-repeat;
}
body .report .allocation h2 {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.11;
  letter-spacing: 1.5px;
  text-align: center;
  color: #4a4a4a;
  padding-bottom: 16px;
  margin-bottom: 24px;
  border-bottom: solid 1px #f0f0f0;
}
body .report .allocation .list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 8px;  
  font-size:14px!important;
}
body .report .allocation .list .item {
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 1px;
  color: #4a4a4a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2px; 
}
body .report .allocation .list .item span {
  display: block;
  padding: 8px 0 10px 16px;
  flex: 1 1 80%;
  margin-right: 2px;
  font-size:14px!important;
}
body .report .allocation .list .item span:last-child {
  flex: 1 1 20%;
  margin-right: 0;
  text-align: center;
  padding-left: 0;
}
body .report .allocation .list .item.title span {
  background-color: #f0f0f0 !important;
  padding: 9px 0;
  text-align: center;
}
body .report .allocation .list .item:last-child {
  margin-bottom: 0;
}
body .report .allocation .list .item:nth-child(odd) span {
  background-color: #f6f6f6;
}
body .report .allocation .list .item:nth-child(even) span {
  background-color: #ffffff;
}
body .report .allocation > h5 {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43 !important;
  letter-spacing: 1px;
  text-align: left;
  color: #949494;
  background: url('../svg/lightbulb-16-px.svg') 0 2px no-repeat;
  line-height: 16px;
  padding-left: 20px;
  margin-bottom: 16px;
}
body .report .allocation > h5 > ol {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}
body .report .allocation .sample {
  width: 100%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: #f6f6f6;
  padding: 8px;
}
body .report .allocation .sample h5 {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43 !important;
  letter-spacing: 1px;
  text-align: left;
  color: #4a4a4a;
}
body .report .allocation .sample ol {
  margin: 0;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43 !important;
  letter-spacing: 1px;
  text-align: left;
  color: #4a4a4a;
}
body .report .allocation .sample ol ol { 
  counter-reset: item;
  list-style: none;
  text-indent: -24px;
  padding-left: 24px;
}
body .report .allocation .sample ol ol li {  
  counter-increment: item; 
}
body .report .allocation .sample ol ol li:before {
  content: "(" counter(item, decimal) ") ";
}
body .report .under {
  height: 32px;
  background-color: #6783d5;
}
body .report .allocation .sample ol ol ol li {   
	counter-increment: item; margin-left:10px; padding-right:20px; } 
body .report .allocation .sample ol ol ol li:before {
  content: " " counter(item, disc) " "; margin-left:12px; 
}

/*color-------------------------------------------------------------------------------------*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media screen and (max-width: 992px) {
  body {
    position: relative !important;
    width: 100%;
    height: auto;
    padding: 0 25px;
  }
  body .report {
    margin: 82px 0 32px;
    max-width: 100%;
  }
  body .report .header {
    position: relative;
    background-color: #5f7cd1;
    padding: 25px 0 40px 0;
  }
  body .report .summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 24px 52px;
  }
  body .report .summary ol {
    margin-bottom: 44px;
  }
  body .report .summary .card_container {
    margin-bottom: 32px;
  }
  body .report .summary .memo div {
    margin-right: 0;
  }
  body .report .allocation {
    padding: 0 0 96px;
    margin: 0 24px 0;
  }
  body .report .allocation h2 {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.11;
    letter-spacing: 1.5px;
    text-align: center;
    color: #4a4a4a;
    padding-bottom: 16px;
    margin-bottom: 24px;
    border-bottom: solid 1px #f0f0f0;
  }
  body .report .allocation .list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 8px;
  }
  body .report .allocation .list .item {
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 1px;
    color: #4a4a4a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 2px;
  }
  body .report .allocation .list .item span {
    display: block;
    padding: 8px 0 10px 16px;
    flex: 1 1 80%;
    margin-right: 2px;
  }
  body .report .allocation .list .item span:last-child {
    flex: 1 1 20%;
    margin-right: 0;
    text-align: center;
    padding-left: 0;
  }
  body .report .allocation .list .item.title span {
    background-color: #f0f0f0 !important;
    padding: 9px 0;
    text-align: center;
  }
  body .report .allocation .list .item:last-child {
    margin-bottom: 0;
  }
  body .report .allocation .list .item:nth-child(odd) span {
    background-color: #f6f6f6;
  }
  body .report .allocation .list .item:nth-child(even) span {
    background-color: #ffffff;
  }
  body .report .allocation > h5 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43 !important;
    letter-spacing: 1px;
    text-align: left;
    color: #949494;
    background: url('../svg/lightbulb-16-px.svg') 0 2px no-repeat;
    line-height: 16px;
    padding-left: 20px;
    margin-bottom: 16px;
  }
  body .report .allocation .sample {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #f6f6f6;
    padding: 8px;
  }
  body .report .allocation .sample h5 {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43 !important;
    letter-spacing: 1px;
    text-align: left;
    color: #4a4a4a;
  }
  body .report .allocation .sample ol {
    margin: 0;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43 !important;
    letter-spacing: 1px;
    text-align: left;
    color: #4a4a4a;
  }
  body .report .under {
    height: 32px;
    background-color: #6783d5;
  }
}

/*color-------------------------------------------------------------------------------------*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media screen and (max-width: 600px) {
  body {
    padding: 0;
  }
  body .report {
    margin: 48px 0 0;
    max-width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  body .report .header {
    position: relative;
    background-color: #5f7cd1;
    padding: 18px 0 30px 0!important;  
  }
  body .report .header h1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 8px;
  }
  body .report .header h3 {
    position: relative;
    right: auto;
    bottom: auto;
    font-size: 12px;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
  }
  body .report .summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 16px 25px;
  }
  body .report .summary ol {
    margin-bottom: 36px;
  }
  body .report .summary .card_container {
    flex-direction: column;
    margin-bottom: 32px;
  }
  body .report .summary .card_container .card {
    margin-right: 0;
  }
  body .report .summary .card_container .card.pink {
    margin-top: 36px;
  }
  body .report .summary .memo img {
    margin-left: -7px;
    width: 93px;
  }
  body .report .summary .memo div {
    margin-left: 8px;
    margin-right: -2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    padding: 12px 12px 12px 15px;
  }
  body .report .allocation {
    padding: 0 0 72px;
    margin: 0 16px 0;
    background-size: 270px auto;
  }
  body .report .allocation h2 {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.11;
    letter-spacing: 1.5px;
    text-align: center;
    color: #4a4a4a;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: solid 1px #f0f0f0;
  }
  body .report .allocation .list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 6px;
  }
  body .report .allocation .list .item {
    height: 64px;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 1.5;
    color: #4a4a4a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1px;
    padding: 8px 0 8px 16px;
  }
  body .report .allocation .list .item > span {
    height: 20px;
    width: 100%;
    display: block;
    padding: 0;
    flex: 1;
    margin-right: 2px;
    margin-bottom: 4px;
  }
  body .report .allocation .list .item > span > span {
    height: 20px;
    padding: 0;
    display: inline-block;
  }
  body .report .allocation .list .item > span:last-child {
    flex: 1;
    margin-right: 0;
    text-align: left;
    padding-left: 0;
  }
  body .report .allocation .list .item.title {
    display: none;
  }
  body .report .allocation .list .item:last-child {
    margin-bottom: 0;
  }
  body .report .allocation .list .item:nth-child(odd) {
    background-color: #f6f6f6;
  }
  body .report .allocation .list .item:nth-child(odd) span {
    background-color: transparent;
  }
  body .report .allocation .list .item:nth-child(even) {
    background-color: #ffffff;
  }
  body .report .allocation .list .item:nth-child(even) span {
    background-color: transparent;
  }
  body .report .allocation > h5 {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px !important;
    letter-spacing: 1px;
    text-align: left;
    color: #949494;
    background: url('../svg/lightbulb-16-px.svg') 0 2px no-repeat;
    line-height: 16px;
    padding-left: 20px;
    margin-bottom: 16px;
  }
  body .report .allocation .sample {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #f6f6f6;
    padding: 16px 8px;
  }
  body .report .allocation .sample h5 {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px !important;
    letter-spacing: 1px;
    text-align: left;
    color: #4a4a4a;
  }
  body .report .allocation .sample ol {
    margin: 0;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px !important;
    letter-spacing: 1px;
    text-align: left;
    color: #4a4a4a;
  }
  body .report .under {
    height: 32px;
    background-color: #6783d5;
  }
}
