/*font-----------------------------------------------------------------------------------*/
html { font-family: Verdana, 'Microsoft JhengHei', '微軟正黑體', sans-serif; }
/*@font-face {
  font-family: 'cwTeXHei';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format('opentype');
}*/

/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.scrollContent {
  background-image: url(../svg/blue_bg.svg);
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  background-color: #011b4e;
  padding-top: 56px;
}
.scrollContent .main {
  width: 100vw;
  min-height: calc(100vh - 111px - 56px);
  display: flex;
  flex-direction: column;
}
.scrollContent .main .schedule {
  width: 680px;
  margin: 11px auto 20px;
  display: flex;
  flex-direction: column;
}
.scrollContent .main .schedule .step {
  width: 92px;
  margin: 0 auto 0;
  font-size: 0;
  justify-content: center;
}
.scrollContent .main .schedule .step span {
  font-size: 16px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #49fffb;
  color: #49fffb;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 28px;
}
.scrollContent .main .schedule .step span:nth-child(1):after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 2px;
  background: #49fffb;
  position: absolute;
  right: -19px;
  top: 15px;
  border-radius: 1px;
}
.scrollContent .main .schedule .step span:nth-child(2) {
  opacity: .3;
  margin-left: 28px;
}
.scrollContent .main .schedule .finish-topic {
  width: 288px;
  height: 8px;
  border-radius: 4px;
  margin: 32px auto 0;
  position: relative;
  background-color: rgba(73, 255, 251, 0.3);
}
.scrollContent .main .schedule .finish-topic div:nth-child(1) {
  width: 100%;
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  -webkit-mask-image: -webkit-radial-gradient(#ffffff, #000000);
}
.scrollContent .main .schedule .finish-topic div:nth-child(1) span {
  width: 100%;
  height: 8px;
  background-color: #49fffb;
  position: absolute;
  left: -100%;
  transition: .5s;
}
.scrollContent .main .schedule .finish-topic div:nth-child(2) {
  position: absolute;
  transition: .5s;
  background-color: #49fffb;
  width: 40px;
  height: 28px;
  color: #316fc9;
  left: 0;
  top: calc(50% - 14px);
  border-radius: 15px;
  text-align: center;
  line-height: 28px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}
.scrollContent .main section {
  display: inline-block;
  width: 680px;
  max-width: calc(100vw - 88px);
  background: #FFF;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
}
.scrollContent .main section .topics-box {
  width: calc(100% + 45px);
  padding-right: 45px;
  height: 384px;
  padding-top: 24px;
  overflow-y: scroll;
}
.scrollContent .main section .topics-box .topic {
  padding: 0 40px;
  width: 100%;
  height: 360px;
}
.scrollContent .main section .topics-box .topic p {
  line-height: 24px;
  color: #7f7f7f;
  margin: 0 0 8px;
  padding-left: 20px;
  position: relative;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 16px;
}
.scrollContent .main section .topics-box .topic p span {
  position: absolute;
  left: 0;
}
.scrollContent .main section .topics-box .topic .option {
  width: 100%;
  height: 304px;
}
.scrollContent .main section .topics-box .topic .option div {
  -webkit-tap-highlight-color: transparent;
  transition: .5s;
  width: 280px;
  border-radius: 40px;
  color: #316fc9;
  border: 1px solid #316fc9;
  padding: 8px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 74px;
}
.scrollContent .main section .topics-box .topic .option div img {
  width: 48px;
  height: 48px;
  background-color: #316fc9;
  border-radius: 50%;
  margin-right: 18px;
  position: absolute;
  left: 8px;
  top: 8px;
}
.scrollContent .main section .topics-box .topic .option div.select {
  background-color: #316fc9;
  color: #FFF;
}
.scrollContent .main section .topics-box .topic + .topic {
  display: none;
}
.scrollContent .main section .topics-box .topic.col-1 .option div {
  clear: both;
  float: left;
  padding: 0 0 0 44px;
  height: 48px;
  line-height: 48px;
}
.scrollContent .main section .topics-box .topic.col-1 .option div + div {
  margin-top: 16px;
}
.scrollContent .main section .topics-box .topic.col-1 .option div.select:before {
  content: '';
  width: 48px;
  height: 48px;
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 0px;
  background-image: url('../svg/sucess.svg');
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}
.scrollContent .main section .topics-box .topic.col-2 .option div {
  float: left;
  height: 64px;
  line-height: 46px;
}
.scrollContent .main section .topics-box .topic.col-2 .option div:nth-child(even) {
  float: right;
}
.scrollContent .main section .topics-box .topic.col-2 .option div:nth-child(n+3) {
  margin-top: 16px;
}
.scrollContent .main section .topics-box .topic.col-2 .option div.select:before {
  content: '';
  width: 48px;
  height: 48px;
  position: absolute;
  display: inline-block;
  left: 8px;
  top: 8px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('../svg/sucess.svg');
  background-position: center;
  background-size: cover;
}
.scrollContent .main section .error_info {
  width: 100%;
  color: #f77ebc;
  font-size: 12px;
  text-align: center;
  font-weight: 300;
  letter-spacing: .5px;
  margin-top: -104px;
  opacity: 0;
  transition: .5s;
}
.scrollContent .main section .btns {
  width: 100%;
  display: flex;
}
.scrollContent .main section .btns a {
  -webkit-tap-highlight-color: transparent;
  margin: 41px auto 24px;
  border-radius: 100px;
  cursor: pointer;
  text-align: center;
  line-height: 48px;
  display: inline-block;
  width: 140px;
  font-weight: lighter;
  letter-spacing: 1px;
}
.scrollContent .main section .btns a:nth-child(1) {
  margin-right: 0;
  color: #01b1b1;
  border: 1px solid #01b1b1;
}
.scrollContent .main section .btns a:nth-child(2) {
  margin-left: 40px;
  background-image: linear-gradient(90deg, #093e7e, #2ad2b8);
  color: #FFF;
}
.scrollContent .main section .notice {
  width: 100%;
  height: 32px;
  overflow-y: hidden;
  -webkit-tap-highlight-color: transparent;
  background-color: #f5f5f5;
  border-radius: 0 0 8px 8px;
  letter-spacing: 1px;
  padding: 0 40px;
  transition: .5s;
}
.scrollContent .main section .notice h2 {
  text-align: center;
  cursor: pointer;
  line-height: 32px;
  font-size: 12px;
  font-weight: 300;
}
.scrollContent .main section .notice h2:after {
  content: '';
  display: inline-block;
  width: 0;
  transition: .5s;
  transform-origin: 50% 33%;
  height: 0;
  border-top: 5px solid #000;
  border-right: 5px solid transparent;
  border-bottom: 1.5px solid transparent;
  border-left: 5px solid transparent;
  margin-left: 15px;
}
.scrollContent .main section .notice ol {
  margin: 9px 0 16px;
  line-height: 20px;
  padding-left: 24px;
  font-size: 12px;
  font-weight: 300;
}
.scrollContent .main section .notice.open h2:after {
  transform: rotateZ(180deg);
}
@media screen and (max-width: 1300px) {
  .scrollContent .main {
    min-height: calc(100vh - 140px - 56px);
  }
}

/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media screen and (max-width: 992px) {
  .scrollContent .main {
    min-height: calc(100vh - 224px - 56px);
  }
}
@media screen and (max-width: 727px) {
  .scrollContent .main .schedule {
    width: 100%;
  }
  .scrollContent .main .schedule .finish-topic {
    margin-top: 33px;
    width: calc(100% - 16px - 16px);
  }
  .scrollContent .main section {
    margin: 0 auto 24px;
    max-width: calc(100vw - 16px);
  }
  .scrollContent .main section .topics-box {
    height: 489px;
  }
  .scrollContent .main section .topics-box .topic {
    padding: 0 16px;
    height: 465px;
    position: relative;
  }
  .scrollContent .main section .topics-box .topic .option div {
    width: 100%;
    padding-left: 56px;
  }
  .scrollContent .main section .topics-box .topic .option div + div {
    margin-top: 12px;
  }
  .scrollContent .main section .topics-box .topic.col-2 .option div {
    height: 48px;
    line-height: 32px;
  }
  .scrollContent .main section .topics-box .topic.col-2 .option div img {
    width: 32px;
    height: 32px;
  }
  .scrollContent .main section .topics-box .topic.col-2 .option div:nth-child(n+3) {
    margin-top: 12px;
  }
  .scrollContent .main section .topics-box .topic.col-2 .option div.select:before {
    width: 32px;
    height: 32px;
  }
  .scrollContent .main section .topics-box .topic .error_info {
    width: calc(100% - 32px);
    position: absolute;
    bottom: 112px;
    margin: 0;
  }
  .scrollContent .main section .topics-box .topic .btns {
    width: calc(100% - 16px);
    position: absolute;
    bottom: 0;
    margin-left: -8px;
    margin-right: -8px;
  }
  .scrollContent .main section .topics-box .topic .btns a:nth-child(2) {
    margin-left: 8px;
  }
}

/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media screen and (max-width: 600px) {
  .scrollContent {
    padding-top: 48px;
  }
}
