/*font-----------------------------------------------------------------------------------*/
html { font-family:  'Microsoft JhengHei', '微軟正黑體', Verdana, sans-serif;}

/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  font-size: 16px;
  color: #4a4a4a;
}
img {
  margin: 0;
}
p,
ul,
ol,
h1,
h2 {
  margin: 0;
  padding: 0;
}
.scrollContainer {
  width: calc(100% + 25px);
  /*height: 100vh;*/ height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.scrollContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding-top: 56px;
  background: url('../svg/invalid-name-geometry.svg') #011b4e center;
}
.content-qa {
  display:block;
  width: 100%; 
  padding: 20px 40px 40px 40px;
  margin: 0 auto;
}
.content-qa > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-qa > ul li {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 2px solid  rgba(51, 204, 204, 0.6);
  font-size: 16px;
  font-weight: 300;
  color: rgba(51, 204, 204, 0.6);
}
.content-qa > ul li.active {
  border: 2px solid  #3cc;
  color: #3cc;
}
.content-qa > ul li + li {
  margin-left: 28px;
  position: relative;
}
.content-qa > ul li + li:before {
  content: '';
  position: absolute;
  top: calc(49%);
  left: -19px;
  width: 10px;
  height: 2px;
  opacity: 0.6;
  border-radius: 2px;
  background-color: #3cc;
}
.content-qa > ul li.active + li:before,
.content-qa > ul li + li.active:before {  opacity: 1; }
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media screen and (max-width: 992px) {
  .scrollContainer { width: 100%;  }
  .content-qa {
    max-width: none;
    padding-left: 44px;
    padding-right: 44px;   }
}

/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media screen and (max-width: 600px) {
  .scrollContent {
    padding-top: 48px;
  }
  .content-qa {
    padding-left: 8px;
    padding-right: 8px;
  }
  }

/*20210818*/
.faq-wrap {width:99%; margin:0 auto; background-color: #fff; border-radius:8px; padding:20px; line-height: 160%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; } 

.faq-wrap button { border:0; }
.faq-wrap a:link.faq-go, a:visited.faq-go , a:hover.faq-go { display:block; float:right; width:150px; background-color:#1d7ba6; color:#fff!important; text-align: center; font-size:14px; padding:5px; margin:8px 0 0 0;
border-radius:5px; 
text-decoration: none;
-webkit-box-sizing: border-box;  
-moz-box-sizing: border-box;
box-sizing: border-box; }
.faq-wrap ul, .faq-wrap ol { margin:0 0 0 -10px; }
.faq-wrap li, .faq-wrap li { margin:0 0 5px 28px; }
.faq-wrap a:link, .faq-wrap a:visited, .faq-wrap a:hover { text-decoration: underline; color:#39c;  }

.tab { display:block; width:100%; margin:0 auto; padding:9px 15px; background-color:#76bcdc; color:#fff; text-align: left; font-size:16px; cursor:pointer; 
-webkit-box-sizing: border-box; border-bottom:1px solid #fff!important; letter-spacing: 1.5px;
-moz-box-sizing: border-box;
box-sizing: border-box; }

.tab.faq {background-color:#fff!important; border-bottom:1px solid #ccc!important; color:#666!important; font-size:14px; }

/*TAB*/
#myDIV-A, #myDIV-B, #myDIV-C, #myDIV-D, #myDIV-E, #myDIV-F, #myDIV-G, #myDIV-H,   
#myDIV1, #myDIV2, #myDIV3, #myDIV4, #myDIV5, #myDIV6, #myDIV7, #myDIV8  { display:block; width:100%; margin:0 auto; padding:10px 0; background-color:#fff; color:#333; text-align: left;  overflow: auto; zoom: 1;
-webkit-box-sizing: border-box;  
-moz-box-sizing: border-box;
box-sizing: border-box; } 

/*TAB-FAQ*/
 #myDIV-I, #myDIV-J, #myDIV-K, #myDIV-L, #myDIV-M
 { display:block; width:100%; margin:0 auto; padding:15px; background-color:#f4f4f4; color:#333; text-align: left; font-size:14px; clear:both; overflow: auto; zoom: 1;
-webkit-box-sizing: border-box;  
-moz-box-sizing: border-box;
box-sizing: border-box; } 

.QA { display:block; width:100%; margin:0 auto; padding:5px 15px; background-color:#fff; border-bottom:1px solid #ccc!important; color:#666; text-align: left; font-size:14px; cursor:pointer;    
-webkit-box-sizing: border-box;  
-moz-box-sizing: border-box;
box-sizing: border-box; }  

#QA-DIV1, #QA-DIV2, #QA-DIV3, #QA-DIV4, #QA-DIV5, #QA-DIV6, #QA-DIV7, #QA-DIV8, #QA-DIV9, #QA-DIV10, #QA-DIV11, #QA-DIV12, #QA-DIV13, #QA-DIV14 , #QA-DIV15 , #QA-DIV16 , #QA-DIV17 , #QA-DIV18 , #QA-DIV19 , #QA-DIV20 , #QA-DIV21, #QA-DIV22, #QA-DIV23, #QA-DIV24, #QA-DIV25, #QA-DIV26, #QA-DIV27, #QA-DIV28, #QA-DIV29, #QA-DIV30, #QA-DIV31, #QA-DIV32, #QA-DIV33, #QA-DIV34, #QA-DIV35, #QA-DIV36, #QA-DIV37, #QA-DIV38  { display:block; width:100%; margin:0 auto; padding:15px; background-color:#f4f4f4; color:#333; text-align: left; font-size:14px; clear:both; overflow: auto; zoom: 1;
-webkit-box-sizing: border-box;  
-moz-box-sizing: border-box;
box-sizing: border-box; } 

.em { font-weight:600; color:#2c97d5; }
.QA-notice { display:block; width: calc(100% + 40px); border-radius:2px; background-color: #eee; font-size:14px; color:#333; margin:30px auto -20px -20px; padding:20px; line-height: 180%;
-webkit-box-sizing: border-box; border-radius: 0 0 8px 8px;
-moz-box-sizing: border-box;
box-sizing: border-box; }
.QA-notice ul, .QA-notice ol { margin:0 0 0 -10px; }
.QA-notice li, .QA-notice li { margin:0 0 5px 28px; }


.QA-btn-wrap { width:100%; position:relative!important; text-align: center;  } 
.QA-btn-L, .QA-btn-R { display:inline-block; width:35%; height:50px; text-align: center; font-size:16px; color:#333; background-color: #ffc80e; padding:15px 3px; margin:0 10px; border-radius:5px;  } 
a:link.QA-btn-L, a:visited.QA-btn-L, a:hover.QA-btn-L { text-decoration:none;  }

.search {   width: 100%;  position: relative;  display: flex; margin:35px auto; }

.searchTerm {
  width: 100%;
  border: 2px solid #1d7ba6;
  border-right: none;
  padding: 5px 12px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #666;
  font-size:15px; }

.searchTerm:focus{   color: #000; }

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #1d7ba6;  
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  background:#1d7ba6 url(../img/icon/QA-search.png) no-repeat center center;
  background-size: 20px; } 

@media screen and (max-width: 768px) {
.tab { padding:9px 15px;  font-size:16px;  letter-spacing: 0; }  
.QA-btn-wrap { width:101%; position:fixed!important; bottom:0!important; margin-left:-2.5%; }
.QA-btn-L, .QA-btn-R { display:block; float:left; width:50%; margin:0; border-right:1px solid #fff; border-radius:0;  }
.QA-btn-R { border-right:0!important; }
}






