/*20181205*/
.clearfix {clear:both;}
header .nav_container nav .w3-bar-item { 
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  color: white;
  padding: 0;
  margin-left: 20px;
  cursor: pointer;
  line-height: 18px;
  height: 20px; }

.event_KV {display: block; margin:0 auto;  
  width: 1000px;
  height: 417px; 
  background: url(../img/event/event_KV.png) no-repeat;
  background-size: 1000px; }  

.top_section_event {  
  text-align: center; line-height: 180%;
  min-height: 360px!important;
  align-items: center;
  padding: 80px 0 0 0;
  background: #011b4e;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #011b4e), color-stop(1, #0f549d));
  background: -ms-linear-gradient(bottom, #011b4e, #0f549d);
  background: -moz-linear-gradient(center bottom, #011b4e 0%, #0f549d 100%);
  background: -o-linear-gradient(#0f549d, #011b4e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f549d', endColorstr='#011b4e', GradientType=0); }

.why_section_event {
  background: #0f549d; line-height: 180%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0f549d), color-stop(1, #2ad3b8));
  background: -ms-linear-gradient(bottom, #0f549d, #2ad3b8);
  background: -moz-linear-gradient(center bottom, #0f549d 0%, #2ad3b8 100%);
  background: -o-linear-gradient(#2ad3b8, #0f549d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2ad3b8', endColorstr='#0f549d', GradientType=0);
  padding: 20px 0 60px;}

.top_section_event h2 { font-size:24px; line-height:160%; width:90%; margin:15px auto 0 auto; }
.why_section_event h2 { color:#fff; font-size:32px; line-height:160%; width:90%; margin:15px auto 0 auto; }
.why_section_event table {background-color:none; width:50%; margin-top:15px; }
.why_section_event th {background-color: #eee; width:33.3%; padding:10px; text-align:center; margin:1px; font-size:16px; color:#777; border-radius:15px 15px 0 0; }
.why_section_event td {background-color: #fff; padding:10px; text-align:center; margin:1px; border-bottom:1px dotted #ccc; font-size:18px; } 

table.friend-list { background-color:none!important; width:50%; border:1px solid #5fb5f1; margin-top:5px; border-bottom:0px; line-height: 240%; }
.friend-list th { background-color:#5fb5f1!important; width:50%; text-align: center; color:#093978; }
.friend-list td { background-color:none!important; width:50%; text-align: center; color:#fff; border-bottom:1px solid #5fb5f1; font-size:18px; } 

.copy-text-wrap {margin:3px auto 15px auto; width:510px;}
.copy-text {border:1px solid #ccc; width:425px; height:60px; display:block; float:left; resize: none; border-radius:5px; background-color: #eee; padding:5px; overflow: hidden; line-height: 160%; }  
.copy-text-btn {border:1px solid #ccc; width:80px; height:60px; font-size:14px; display:block; float:right; border-radius:5px; background-color: #5fb5f1; border:0; color:#093978; }

.login-btn {border:2px solid #fcfcfc!important; width:350px; height:80px; font-size:20px; display:inline-block; border-radius:50px; background-color: #5fb5f1; border:0; color:#093978; font-weight:500; margin: 5px; }

.w90pct {width:90%;}
.w80pct {width:80%;}
.mt30 {margin-top:30px!important;}
.mt60 {margin-top:60px!important;}
.mt-80 {margin-top:-80px!important;}
.h-10 {height:10px!important;}
.h-30 {height:30px!important;}
.h-80 {height:80px!important;}
.top_section .w3-center h1 span.strong { display: inline-block; color:#a2fdee; }
.f-b {font-weight:800!important;}
.f-n {font-weight:normal!important;} 
.f-aqua {color:#49fefa;}
.f-blue {color:#79c6fb;}
.f-yellow {color:#feffaa;} 
.f-white {color:#fff;}
.f-green {color:#0ca05c;}
.f-18 {font-size:18px;}
.f-24 {font-size:24px;}
.f-30 {font-size:30px;}
.txt-content {font-size:18px; width:90%; margin:0 auto;}
.txt-note {font-size:16px; color:#bbb; width:90%; margin:0 auto; line-height: 240%;}

.btn_play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
  width: 64px;
  height: 64px;
  padding: 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%; }
.btn_play:before {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 0 16px 27.7px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  top: 50%;
  left: 56%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 
.event_KV {display: block; margin:-20px auto 0 auto;  
  width: 375px;
  height: 328px; 
  background: url(../img/event/event_KV_M.png) no-repeat;
  background-size: 375px; } 
.top_section_event h2 { font-size:20px; }
.why_section_event h2 { color:#fff; font-size:26px; width:90%; margin:0 auto; }
.why_section_event table {background-color:none; width:90%; }
.why_section_event th { font-size:14px; }
.why_section_event td { font-size:16px; }
.txt-content {font-size:16px;  width:85%; }
.txt-note {font-size:14px; color:#ccc; width:85%;}
table.friend-list {  width:90%; }
.friend-list td { font-size:16px; }
.copy-text-wrap {margin:3px auto 15px auto; width:320px;}
.copy-text {border:1px solid #ccc; width:320px; height:60px; display:block; resize: none; border-radius:5px; background-color: #eee; padding:5px; overflow: hidden; }
.copy-text-btn {border:1px solid #ccc; width:320px; height:40px; font-size:14px; display:block; border-radius:5px; background-color: #5fb5f1; border:0; margin-top:5px; }
.notice-wrap { margin:0 auto; width:90%!important;}
#notice-content th { font-size:12px; border-radius:15px 15px 0 0; }
#notice-content td { font-size:14px; background-color: #fff; border-radius:0 0 15px 15px; }
} /*iphone 6.7.8, plus in portrait*/
 
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (orientation : landscape) { 
.event_KV {display: block; margin:0 auto;  
  width: 100%;
  height: 300px; 
  background: url(../img/event/event_KV.png) no-repeat;
  background-size: 100%; }
} /*iphoneX in landscape*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
.event_KV {display: block; margin:0 auto;  
  width: 100%;
  height: 417px; 
  background: url(../img/event/event_KV.png) no-repeat;
  background-size: 100%; } 
} /*iPad9.7 in portrait*/

@media screen and (min-width: 830px) and (max-width: 1151px){
.event_KV {display: block; margin:0 auto;  
  width: 100%;
  height: 417px; 
  background: url(../img/event/event_KV.png) no-repeat;
  background-size: 100%; } 
} /*ThinkPad 830*/



/* Notice  */
.notice-wrap { margin:0 auto; width:80%;} 
#show-notice { 
	color:#333;
	text-align: left;
	display:block;
	width:100%; 
	padding: 10px;
	margin-top: 30px;
	position: relative;
	cursor: pointer;
	border: 1px solid #cccccc;
    background:#ccc url(../img/event/left-arrowDown-dark.png) no-repeat 80px 20px;
	background-size: 11px 7px; }  
#notice-content {
	margin-top: -1px; 
	padding: 10px 30px 10px 10px;
	width:100%; 
	border: 1px solid #cccccc;
	background-color:#ddd;
	color: #333;
    text-align: left;}
#notice-content a:link, #notice-content a:visited, #notice-content a:hover {color:#0066cc; font-weight:600; text-decoration: underline;}
.none { display: none; }
#notice-content table { width:100%; }
#notice-content th { background-color: #ccc; color:#333; padding:5px; text-align:center; border-radius:15px 15px 0 0; }
#notice-content td { background-color: #fff; color:#333; padding:5px; text-align:center; border-bottom:1px solid #ccc; border-radius:0 0 0 0; }
#notice-content li li {list-style-type: disc; margin-left:-25px;}
