/*font-----------------------------------------------------------------------------------*/
html { font-family: Verdana, 'Microsoft JhengHei', '微軟正黑體', sans-serif; } 
/*@font-face {
  font-family: 'cwTeXHei';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format('opentype');
}*/

/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  font-size: 16px;
  color: #4a4a4a;
}
* {
  box-sizing: border-box;
}
p,
ul {
  margin: 0;
  font-weight: 300;
}
img {
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
.scrollContent > .content > .title nav > a.cancel {
    width: 90px;
 }
.pickmeup {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}
.pickmeup .pmu-instance {
  width: 252px;
  height: auto;
  padding: 5px 20px 16px;
}
.pickmeup .pmu-instance nav {
  align-items: center;
}
.pickmeup .pmu-instance .pmu-today {
  background: transparent;
}
.pickmeup .pmu-instance .pmu-month {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #404040;
}
.pickmeup .pmu-instance .pmu-button {
  color: #404040;
}
.pickmeup .pmu-instance .pmu-button:hover {
  background: #316fc9;
  color: white;
}
.pickmeup .pmu-instance .pmu-button.pmu-disabled {
  color: #c0c0c0;
}
.pickmeup .pmu-instance .pmu-button.pmu-not-in-month {
  color: transparent;
}
.pickmeup .pmu-instance .pmu-button.pmu-selected {
  background: #316fc9;
  color: white;
}
.pickmeup .pmu-instance .pmu-day-of-week *,
.pickmeup .pmu-instance .pmu-days * {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
}
.pickmeup .pmu-instance .pmu-prev {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background: url(../svg/black.svg) center no-repeat;
}
.pickmeup .pmu-instance .pmu-prev:hover {
  background: url(../svg/black.svg) center no-repeat;
}
.pickmeup .pmu-instance .pmu-next {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  background: url(../svg/black.svg) center no-repeat;
}
.pickmeup .pmu-instance .pmu-next:hover {
  background: url(../svg/black.svg) center no-repeat;
}
.scrollContainer {
  width: calc(100vw + 25px);
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.scrollContent {
  padding-top: 56px;
  padding-right: 25px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url('../svg/invalid-name-geometry.svg') #011b4e center;
}
.scrollContent > .content {
  flex: 1 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  width: calc(100% - 48px);
  max-width: 1280px;
  margin: 20px auto;
  box-sizing: content-box;
}
.scrollContent > .content > a {
  display: flex;
}
.scrollContent > .content > a img {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.scrollContent > .content > .title {
  margin-top: 20px;
  display: flex;
}
.scrollContent > .content > .title .mask {
  align-self: flex-start;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  background: #316fc9;
}
.scrollContent > .content > .title .mask img {
  width: 64px;
  height: 64px;
}
.scrollContent > .content > .title .name {
  margin-left: 24px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
.scrollContent > .content > .title .name .edit {
  display: flex;
  align-items: flex-start;
}
.scrollContent > .content > .title .name .edit span {
  display: inline-block;
  padding-top: 1px;
  padding-left: 1px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #ffffff;
}
.scrollContent > .content > .title .name .edit input {
  display: none;
  width: 180px;
  padding-bottom: 1px;
  border: none;
  border-bottom: 2px solid white;
  background: none;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #ffffff;
}
.scrollContent > .content > .title .name .edit img {
  cursor: pointer;
  margin-left: 8px;
}
.scrollContent > .content > .title .name .counter {
  display: none;
}
.scrollContent > .content > .title .name.active .counter {
  width: 180px;
  display: block;
  margin-top: 4px;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: 0.5px;
  text-align: right;
  color: #ffffff;
}
.scrollContent > .content > .title > nav {
  display: flex;
  align-items: flex-start;
}
.scrollContent > .content > .title > nav > a,
.scrollContent > .content > .title > nav .update > span {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 32px;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.2px;
  color: #ffffff;
}
.scrollContent > .content > .title > nav > a:nth-child(1) {
  background-color: #e94875;
}
.scrollContent > .content > .title > nav > a:nth-child(2) {
  background-color: #316fc9;
}
.scrollContent > .content > .title > nav > a + a {
  margin-left: 16px;
}
.scrollContent > .content > .title > nav .update {
  margin-left: 16px;
  position: relative;
  outline: none;
}
.scrollContent > .content > .title > nav .update span {
  background-color: #316fc9;
}
.scrollContent > .content > .title > nav .update ul {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: none;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 32px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.scrollContent > .content > .title > nav .update ul li a {
  width: 92px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  letter-spacing: 1px;
  color: #404040;
}
.scrollContent > .content > .title > nav .update ul li + li {
  border-top: 1px solid #e0e0e0;
}
.scrollContent > .content > .info {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 16px;
  margin-top: 8px;
  background-color: #eaf7ed;
}
.scrollContent > .content > .info .top {
  display: flex;
}
.scrollContent > .content > .info .top .block .field {
  display: flex;
}
.scrollContent > .content > .info .top .block .field span:first-child {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: 1px;
  color: #7f7f7f;
}
.scrollContent > .content > .info .top .block .field span:last-child {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: 1px;
  color: #404040;
}
.scrollContent > .content > .info .top .block .field span:last-child mark {
  background: transparent;
  color: #2fb153;
}
.scrollContent > .content > .info .top .block:first-child .field span:first-child {
  width: 106px;
}
.scrollContent > .content > .info .top .block:first-child .field span:last-child {
  width: 217px;
}
.scrollContent > .content > .info .top .block:last-child .field span:first-child {
  width: 136px;
}
.scrollContent > .content > .info .more {
  margin-top: 5px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  letter-spacing: 1px;
  color: #404040;
}
.scrollContent > .content > .info .more img {
  margin-left: 8px;
  transition: 0.3s;
}
.scrollContent > .content > .info .more.active img {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.scrollContent > .content > .info .bottom {
  margin-top: 12px;
  display: flex;
}
.scrollContent > .content > .info .bottom:not(.active) {
  display: none;
}
.scrollContent > .content > .info .bottom .block .field {
  display: flex;
}
.scrollContent > .content > .info .bottom .block .field span:first-child {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: 1px;
  color: #7f7f7f;
}
.scrollContent > .content > .info .bottom .block .field span:last-child {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 1px;
  color: #404040;
}
.scrollContent > .content > .info .bottom .block:nth-child(1) .field span:first-child {
  width: 106px;
}
.scrollContent > .content > .info .bottom .block:nth-child(1) .field span:last-child {
  width: 176px;
}
.scrollContent > .content > .info .bottom .block:nth-child(2) .field span:first-child {
  width: 136px;
}
.scrollContent > .content > .info .bottom .block:nth-child(2) .field span:last-child {
  width: 181px;
}
.scrollContent > .content > .info .bottom .block:nth-child(3) .field span:first-child {
  width: 115px;
  flex-shrink: 0;
}
.scrollContent > .content > .info .bottom .block + .block {
  margin-left: 40px;
  position: relative;
}
.scrollContent > .content > .info .bottom .block + .block:before {
  content: '';
  display: block;
  width: 1px;
  height: 40px;
  background-color: #279fbc;
  position: absolute;
  top: calc(50% - 20px);
  left: -40px;
}
.scrollContent > .content .tabs {
  margin-top: 32px;
  display: flex;
}
.scrollContent > .content .tabs .tab { /*20210129*/
  cursor: pointer;
  width: 160px;
  padding-bottom: 8px;
  font-size: 15px; 
  font-weight: 900;
  line-height: 1.44;
  letter-spacing: 1px;
  color: #1bd188;
  text-align: center; margin:0 3px;
}
.scrollContent > .content .tabs .tab:not(.active) {
  opacity: 1; color: #ccc; border-bottom: 4px solid #ccc;
}
.scrollContent > .content .tabs .tab.active {
  padding-bottom: 6px;
  border-bottom: 4px solid #1bd188;
}
.scrollContent > .content section.invest .date {
  margin-top: 24px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  letter-spacing: 1px;
  color: #ffffff;
}
.scrollContent > .content section.invest .cards {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
}
.scrollContent > .content section.invest .cards .card {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  flex: 1 0 0%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 123px;
  max-width: 300px;
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  /*-webkit-flex: 100%; 				/*20190605*/
  /*-ms-flex: 100%;					/*20190605*/
  /*display: -webkit-flex;			/*20190605*/
  /*display: -ms-flexbox;				/*20190605*/
  /*-webkit-justify-content: center;	/*20190605*/
  /*-webkit-align-items: flex-start;	/*20190605*/
}
.scrollContent > .content section.invest .cards .card img {
  margin-top: 43px;
}
.scrollContent > .content section.invest .cards .card div {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-top: 29px;
}
.scrollContent > .content section.invest .cards .card div h1 {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  letter-spacing: 1px;
  color: #404040;
}
.scrollContent > .content section.invest .cards .card div h2 {
  margin-top: 4px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 1px;
}
.scrollContent > .content section.invest .cards .card div span {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: 1px;
  color: #7f7f7f;
}
.scrollContent > .content section.invest .cards .card:nth-child(1),
.scrollContent > .content section.invest .cards .card:nth-child(2) {
  background-color: #fdfced;
  border: solid 2px #fac343;
}
.scrollContent > .content section.invest .cards .card:nth-child(1) div h2,
.scrollContent > .content section.invest .cards .card:nth-child(2) div h2 {
  color: #fac343;
}
.scrollContent > .content section.invest .cards .card:nth-child(3).plus,
.scrollContent > .content section.invest .cards .card:nth-child(4).plus {
  background-color: #d7e3f4;
  border: solid 2px #316fc9;
}
.scrollContent > .content section.invest .cards .card:nth-child(3).plus div h2,
.scrollContent > .content section.invest .cards .card:nth-child(4).plus div h2 {
  color: #316fc9;
}
.scrollContent > .content section.invest .cards .card:nth-child(3).minus,
.scrollContent > .content section.invest .cards .card:nth-child(4).minus {
  background-color: #ffeef7;
  border: solid 2px #f77ebc;
}
.scrollContent > .content section.invest .cards .card:nth-child(3).minus div h2,
.scrollContent > .content section.invest .cards .card:nth-child(4).minus div h2 {
  color: #f77ebc;
}
.scrollContent > .content section.invest .cards .card:nth-child(n+2) {
  margin-left: 2.109375%;
}
.scrollContent > .content section.invest > .info {
  margin-top: 8px;
  text-align: right;
}
.scrollContent > .content section.invest > .info p {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  letter-spacing: 1px;
  color: #ffffff;
}
.scrollContent > .content section.invest > .info p img {
  width: 13px;
  margin-left: 5px;
}
.scrollContent > .content section.invest .location {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 40px 40px 16px;
  margin-top: 24px;
  background-color: white;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.scrollContent > .content section.invest .location > .title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #f0f0f0;
}
.scrollContent > .content section.invest .location > .title h2 {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.44;
  letter-spacing: 1px;
  color: #4a4a4a;
}
.scrollContent > .content section.invest .location > .title h2 span {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  letter-spacing: 1px;
  color: #7f7f7f;
}
.scrollContent > .content section.invest .location .pie {
  margin-top: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.scrollContent > .content section.invest .location .pie .list_body {
  position: relative;
  width: 100%;
  /*.memo {
                            margin-top: 10px;
                            h5 {
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 1.43 !important;
                                letter-spacing: 1px;
                                text-align: left;
                                color: @background-gray3;
                                background: url('../svg/lightbulb-16-px.svg') no-repeat;
                                line-height: 16px;
                                padding-left: 20px;
                                margin-bottom: 4px;
                            }
                        }*/
}
.scrollContent > .content section.invest .location .pie .list_body .pie_item_container {
  width: 100%;
  padding: 0;
  margin: 0;
  min-height: 14px;
  margin-bottom: 14px;
}
.scrollContent > .content section.invest .location .pie .list_body .pie_item_container div {
  float: left;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.scrollContent > .content section.invest .location .pie .list_body .pie_item_container div span {
  outline: none;
  display: block;
  white-space: nowrap;
  margin-right: 24px;
  padding-left: 8px;
  cursor: pointer;
  border-left: solid 14px;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 1px;
  text-align: left;
  height: 14px;
  color: #4a4a4a;
}
.scrollContent > .content section.invest .location .pie .list_body .pie_item_container div span:last-child {
  margin-right: 0;
}
.scrollContent > .content section.invest .location .pie .list_body .list {
  position: relative;
  width: 100%;
}
.scrollContent > .content section.invest .location .pie .list_body .list .item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 2px;
  position: relative;
}
.scrollContent > .content section.invest .location .pie .list_body .list .item > span {
  display: block;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 1px;
  text-align: right;
  color: #4a4a4a;
  padding: 9px 21px 9px 0;
  margin-right: 2px;
}
.scrollContent > .content section.invest .location .pie .list_body .list .item > span .small_title {
  display: none;
}
.scrollContent > .content section.invest .location .pie .list_body .list .item > span:nth-child(1) {
  flex: 1 1 auto;
  text-align: left;
  padding: 9px 0 9px 21px;
  border-left: solid 16px #ffffff;
}
.scrollContent > .content section.invest .location .pie .list_body .list .item > span:nth-child(2) {
  flex-shrink: 0;
  width: 80px;
}
.scrollContent > .content section.invest .location .pie .list_body .list .item > span:nth-child(3) {
  flex-shrink: 0;
  width: 140px;
}
.scrollContent > .content section.invest .location .pie .list_body .list .item > span:nth-child(4) {
  flex-shrink: 0;
  width: 140px;
}
.scrollContent > .content section.invest .location .pie .list_body .list .item > span:nth-child(5) {
  flex-shrink: 0;
  width: 140px;
}
.scrollContent > .content section.invest .location .pie .list_body .list .item > span:nth-child(6) {
  flex-shrink: 0;
  width: 140px;
  padding: 9px 0;
  text-align: center;
}
.scrollContent > .content section.invest .location .pie .list_body .list .item > span:nth-child(7) {
  flex-shrink: 0;
  width: 140px;
  margin-right: 0;
}
.scrollContent > .content section.invest .location .pie .list_body .list .item.active {
  z-index: 2;
}
.scrollContent > .content section.invest .location .pie .list_body .list .item.active > span {
  -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
}
.scrollContent > .content section.invest .location .pie .list_body .list .item:last-child {
  margin-bottom: 0;
}
.scrollContent > .content section.invest .location .pie .list_body .list .title {
  position: relative;
  height: 34px;
  width: 100%;
  display: flex;
}
.scrollContent > .content section.invest .location .pie .list_body .list .title .item {
  z-index: 2;
}
.scrollContent > .content section.invest .location .pie .list_body .list .title .item > span {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
}
.scrollContent > .content section.invest .location .pie .list_body .list .title .item > span:first-child {
  border-left: solid 16px #ffffff;
}
.scrollContent > .content section.invest .location .pie .list_body .list .under {
  padding-top: 102px;
}
.scrollContent > .content section.invest .location .pie .list_body .list .under span:first-child {
  border-left: solid 16px;
}
.scrollContent > .content section.invest .location ul {
  margin-top: 16px;
}
.scrollContent > .content section.invest .location ul li {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: 1px;
  color: #4a4a4a;
}
.scrollContent > .content section.invest .location .info {
  align-self: flex-end;
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  letter-spacing: 1px;
  color: #404040;
}
.scrollContent > .content section.invest .location .info img {
  margin-left: 5px;
  width: 13px;
  cursor: pointer;
}
.scrollContent > .content section.record {
  display: none;
}
.scrollContent > .content section.record > div {
  margin-top: 24px;
  border-radius: 8px;
  background: white;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}
.scrollContent > .content section.record > div nav {
  display: flex;
  align-items: flex-start;
}
.scrollContent > .content section.record > div nav > span {
  cursor: pointer;
  margin-top: 11px;
  padding: 5px 24px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  letter-spacing: 1px;
  color: #7f7f7f;
}
.scrollContent > .content section.record > div nav > span.active {
  cursor: default;
  color: #316fc9;
}
.scrollContent > .content section.record > div nav > span + span {
  border-left: 1px solid #c0c0c0;
}
.scrollContent > .content section.record > div nav > div {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
}
.scrollContent > .content section.record > div nav > div.readonly .range {
  margin-top: 15px;
}
.scrollContent > .content section.record > div nav > div.readonly .range span {
  width: auto;
  padding-bottom: 0;
  border-bottom: none;
}
.scrollContent > .content section.record > div nav > div.readonly .range span img {
  display: none;
}
.scrollContent > .content section.record > div nav > div.readonly .range button {
  display: none;
}
.scrollContent > .content section.record > div nav > div.readonly p {
  display: none;
}
.scrollContent > .content section.record > div nav > div.readonly button {
  display: none;
}
.scrollContent > .content section.record > div nav > div .range {
  display: flex;
  margin-top: 11px;
  align-items: flex-end;
  margin-bottom: 4px;
}
.scrollContent > .content section.record > div nav > div .range > span {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 124px;
  align-items: center;
  padding-bottom: 2px;
  border-bottom: 1px solid #c0c0c0;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #000000;
}
.scrollContent > .content section.record > div nav > div .range > span img {
  transition: 0.3s;
  width: 24px;
}
.scrollContent > .content section.record > div nav > div .range > span:nth-child(1) {
  margin-right: 16px;
}
.scrollContent > .content section.record > div nav > div .range > span:nth-child(2) {
  margin-left: 16px;
}
.scrollContent > .content section.record > div nav > div .range > span.active {
  padding-bottom: 1px;
  border-bottom: 2px solid #316fc9;
}
.scrollContent > .content section.record > div nav > div .range > span.active img {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.scrollContent > .content section.record > div nav > div .range button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
  width: 64px;
  height: 32px;
  border-radius: 16px;
  border: solid 1px #316fc9;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: 1px;
  text-align: center;
  color: #316fc9;
  background: white;
}
.scrollContent > .content section.record > div nav > div p {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: 1px;
  color: #7f7f7f;
}
.scrollContent > .content section.record > div nav > div p.error {
  color: #f77ebc;
}
.scrollContent > .content section.record > div nav > div button {
  display: none;
}
.scrollContent > .content section.record > div > p {
  margin-top: 28px;
  margin-right: 52px;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 1px;
  text-align: right;
  color: #7f7f7f;
}
.scrollContent > .content section.record > div ul li .plus {
  color: #316fc9 !important;
}
.scrollContent > .content section.record > div ul li .minus {
  color: #f77ebc !important;
}
.scrollContent > .content section.record > div ul li.type1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px 52px 16px 24px;
  flex-wrap: wrap;
}
.scrollContent > .content section.record > div ul li.type1 div h1 {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  letter-spacing: 1px;
  color: #7f7f7f;
}
.scrollContent > .content section.record > div ul li.type1 div h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #404040;
}
.scrollContent > .content section.record > div ul li.type1 span {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: right;
  color: #316fc9;
}
.scrollContent > .content section.record > div ul li.type1 p {
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: 1px;
  text-align: right;
  color: #7f7f7f;
}
.scrollContent > .content section.record > div ul li.type2 > .summary {
  padding: 16px 52px 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.scrollContent > .content section.record > div ul li.type2 > .summary > div {
  position: relative;
}
.scrollContent > .content section.record > div ul li.type2 > .summary > div h1 {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  letter-spacing: 1px;
  color: #7f7f7f;
}
.scrollContent > .content section.record > div ul li.type2 > .summary > div h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #404040;
}
.scrollContent > .content section.record > div ul li.type2 > .summary span {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: right;
  color: #404040;
}
.scrollContent > .content section.record > div ul li.type2 > .summary img {
  cursor: pointer;
  position: absolute;
  top: 37px;
  right: 24px;
  transition: 0.3s;
}
.scrollContent > .content section.record > div ul li.type2 > .table {
  padding: 16px 52px 8px 40px;
  background: rgba(49, 111, 201, 0.04);
}
.scrollContent > .content section.record > div ul li.type2 > .table .head {
  display: flex;
}
.scrollContent > .content section.record > div ul li.type2 > .table .head span {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  letter-spacing: 1px;
  color: #7f7f7f;
}
.scrollContent > .content section.record > div ul li.type2 > .table .head span:nth-child(1) {
  flex: 1 1 auto;
}
.scrollContent > .content section.record > div ul li.type2 > .table .head span:nth-child(n + 2) {
  flex-shrink: 0;
  width: 194px;
  text-align: right;
}
.scrollContent > .content section.record > div ul li.type2 > .table .row {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
}
.scrollContent > .content section.record > div ul li.type2 > .table .row span:nth-child(1) {
  flex: 1 1 auto;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.38;
  letter-spacing: 1.1px;
  color: #404040;
}
.scrollContent > .content section.record > div ul li.type2 > .table .row span:nth-child(n + 2) {
  flex-shrink: 0;
  width: 194px;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: 1.1px;
  text-align: right;
  color: #7f7f7f;
}
.scrollContent > .content section.record > div ul li.type2 > .table .row + .row {
  border-top: 1px solid #e0e0e0;
}
.scrollContent > .content section.record > div ul li.type2.active > .summary img {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.scrollContent > .content section.record > div ul li.type3 {
  padding: 16px 52px 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.scrollContent > .content section.record > div ul li.type3 div:first-child h1 {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  letter-spacing: 1px;
  color: #7f7f7f;
}
.scrollContent > .content section.record > div ul li.type3 div:first-child h2 {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #404040;
}
.scrollContent > .content section.record > div ul li.type3 div:first-child p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  letter-spacing: 1px;
  color: #404040;
}
.scrollContent > .content section.record > div ul li.type3 div:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.scrollContent > .content section.record > div ul li.type3 div:last-child span:first-child {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #f77ebc;
}
.scrollContent > .content section.record > div ul li.type3 div:last-child span:last-child {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  letter-spacing: 1.2px;
  color: #7f7f7f;
}
.scrollContent > .content section.record > div ul li + li {
  border-top: 1px solid #e0e0e0;
}
.scrollContent > .content section.record > div .no-data {
  padding: 76px 0;
  text-align: center;
}
.scrollContent > .content section.record > div .no-data h2 {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: 1px;
  color: #316fc9;
}
.scrollContent > .content section.record > p {
  margin-top: 40px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}
.scrollContent > .content section.record > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 48px;
  border-radius: 100px;
  border: solid 1px #2ad3b8;
  margin: 24px auto 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1px;
  background-color: transparent;
  color: #2ad3b8;
}
.scrollContent > .content.kyper > .info {
  background-color: #e9f5f8;
}
.scrollContent > .content.kyper > .info .top .block .field span:last-child mark {
  color: #279fbc;
}
.scrollContent > .content.kyper > .info .bottom .block + .block:before {
  background-color: #279fbc;
}
@media screen and (max-width: 1300px) {
  .scrollContent > .content section.invest .cards {
    flex-wrap: wrap; 
    /*display: -webkit-flex; /*20190605*/
  }
  .scrollContent > .content section.invest .cards .card {
    min-width: calc(50% - 30px);
    max-width: none;
  }
  .scrollContent > .content section.invest .cards .card:nth-child(n+2) {
    margin-left: 0;
  }
  .scrollContent > .content section.invest .cards .card:nth-child(2n) {
    margin-left: 30px;
  }
  .scrollContent > .content section.invest .cards .card:nth-child(-n+2) {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 1230px) {
  .scrollContent > .content section.invest .location > .pie .list_body .pie_item_container {
    /*overflow-y: hidden;
	                                overflow-x: hidden;*/
  }
  .scrollContent > .content section.invest .location > .pie .list_body .pie_item_container div span {
    -webkit-tap-highlight-color: transparent;
    display: block;
    cursor: pointer;
    border-left: solid 16px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-align: left;
    height: 16px;
    opacity: .32;
  }
  .scrollContent > .content section.invest .location > .pie .list_body .pie_item_container div span.active {
    opacity: 1;
  }
  .scrollContent > .content section.invest .location > .pie .list_body .list .item {
    max-height: 54px;
    overflow: hidden;
    padding: 8px 12px;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-left: solid 16px;
    transition: max-height 0.3s;
  }
  .scrollContent > .content section.invest .location > .pie .list_body .list .item > span {
    min-height: 20px;
    padding: 4px 0;
    margin-right: 0;
  }
  .scrollContent > .content section.invest .location > .pie .list_body .list .item > span .small_title {
    display: inline;
  }
  .scrollContent > .content section.invest .location > .pie .list_body .list .item > span:first-child {
    border: none;
  }
  .scrollContent > .content section.invest .location > .pie .list_body .list .item > span:nth-child(1) {
    padding: 4px 0;
  }
  .scrollContent > .content section.invest .location > .pie .list_body .list .item > span:nth-child(2) {
    width: auto;
    text-align: left;
  }
  .scrollContent > .content section.invest .location > .pie .list_body .list .item > span:nth-child(3) {
    width: auto;
    text-align: left;
  }
  .scrollContent > .content section.invest .location > .pie .list_body .list .item > span:nth-child(4) {
    width: auto;
    text-align: left;
  }
  .scrollContent > .content section.invest .location > .pie .list_body .list .item > span:nth-child(5) {
    width: auto;
    text-align: left;
  }
  .scrollContent > .content section.invest .location > .pie .list_body .list .item > span:nth-child(6) {
    width: auto;
    text-align: left;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .scrollContent > .content section.invest .location > .pie .list_body .list .item > span:nth-child(7) {
    width: auto;
    text-align: left;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .scrollContent > .content section.invest .location > .pie .list_body .list .item:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 18px;
    right: 15px;
    transition: .7s;
    border-top: 5px solid #000;
    border-right: 5px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 5px solid transparent;
  }
  .scrollContent > .content section.invest .location > .pie .list_body .list .item.open {
    max-height: 200px;
  }
  .scrollContent > .content section.invest .location > .pie .list_body .list .item.open:after {
    transform: rotateZ(180deg);
  }
  .scrollContent > .content section.invest .location > .pie .list_body .list .item.active {
    -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
  }
  .scrollContent > .content section.invest .location > .pie .list_body .list .item.active > span {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .scrollContent > .content section.invest .location > .pie .list_body .list .title {
    display: none;
  }
}
@media screen and (min-width: 1050px) {
  .scrollContent > .content > .info .bottom .block .field span br {
    display: none;
  }
}

/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media screen and (max-width: 992px) {
  .scrollContainer {
    width: 100%;
  }
  .scrollContent {
    padding-right: 0;
  }
  .scrollContent > .content > .title .name {
    position: relative;
  }
  .scrollContent > .content > .title .name input {
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
  }
  .scrollContent > .content > .title .name .more {
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.57;
    letter-spacing: 1px;
    color: #ffffff;
  }
  .scrollContent > .content > .title .name .more img {
    margin-left: 8px;
    transition: 0.3s;
  }
  .scrollContent > .content > .title .name .more.active img {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .scrollContent > .content > .info {
    display: none;
  }
  .scrollContent > .content > .info.active {
    display: flex;
  }
  .scrollContent > .content > .info .top,
  .scrollContent > .content > .info .bottom {
    width: 50%;
  }
  .scrollContent > .content > .info .top {
    flex-direction: column;
  }
  .scrollContent > .content > .info .top .block:first-child .field span:first-child,
  .scrollContent > .content > .info .top .block:last-child .field span:first-child {
    width: 129px;
  }
  .scrollContent > .content > .info .top .block:first-child .field span:last-child,
  .scrollContent > .content > .info .top .block:last-child .field span:last-child {
    width: auto;
  }
  .scrollContent > .content > .info .bottom {
    margin-top: 0;
    flex-direction: column;
  }
  .scrollContent > .content > .info .bottom:not(.active) {
    display: flex;
  }
  .scrollContent > .content > .info .bottom .block + .block {
    margin-left: 0;
  }
  .scrollContent > .content > .info .bottom .block + .block:before {
    content: none;
  }
  .scrollContent > .content > .info .bottom .block:nth-child(1) .field span:first-child,
  .scrollContent > .content > .info .bottom .block:nth-child(2) .field span:first-child,
  .scrollContent > .content > .info .bottom .block:nth-child(3) .field span:first-child {
    width: 160px;
  }
  .scrollContent > .content > .info .bottom .block:nth-child(1) .field span:last-child,
  .scrollContent > .content > .info .bottom .block:nth-child(2) .field span:last-child,
  .scrollContent > .content > .info .bottom .block:nth-child(3) .field span:last-child {
    width: auto;
  }
  .scrollContent > .content section.invest .cards .card {
    justify-content: flex-start;
    /*-webkit-justify-content: center; /*20190605*/
    padding-left: 10vw;
  }
  .scrollContent > .content section.record > div nav {
    padding-right: 25px;
  }
  .scrollContent > .content section.record > div nav > div {
    margin-left: 16px;
  }
  .scrollContent > .content section.record > div nav > div .range {
    position: relative;
  }
  .scrollContent > .content section.record > div nav > div .range span {
    justify-content: space-between;
  }
  .scrollContent > .content section.record > div nav > div .range button {
    position: absolute;
    right: 0;
    top: 35px;
  }
  .scrollContent > .content section.record > div nav > div p {
    width: 212px;
  }
  .scrollContent > .content section.record > div ul li.type2 .table .head span:nth-child(n + 2) {
    width: 99px;
  }
  .scrollContent > .content section.record > div ul li.type2 .table .row span:nth-child(n + 2) {
    width: 99px;
  }
}
@media screen and (max-width: 780px) {
  .scrollContent > .content section.record > div nav {
    padding-right: 0;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .scrollContent > .content section.record > div nav > span {
    padding: 5px 0 3px;
    width: 25%;
    text-align: center;
  }
  .scrollContent > .content section.record > div nav > div {
    width: 100%;
    align-items: flex-start;
  }
  .scrollContent > .content section.record > div nav > div .range span {
    width: 118px;
  }
}
@media screen and (max-width: 700px) {
  .scrollContent > .content > .info {
    flex-direction: column;
  }
  .scrollContent > .content > .info .top,
  .scrollContent > .content > .info .bottom {
    width: auto;
  }
  .scrollContent > .content > .info .top {
    padding-bottom: 16px;
    border-bottom: 1px solid #279fbc;
    margin-bottom: 16px;
  }
  .scrollContent > .content > .info .top .block:first-child .field span:first-child,
  .scrollContent > .content > .info .top .block:last-child .field span:first-child {
    width: 136px;
  }
  .scrollContent > .content > .info .bottom .block:nth-child(1) .field span:first-child,
  .scrollContent > .content > .info .bottom .block:nth-child(2) .field span:first-child,
  .scrollContent > .content > .info .bottom .block:nth-child(3) .field span:first-child {
    width: 136px;
  }
  .scrollContent > .content > .info .bottom .block:nth-child(1):nth-child(2),
  .scrollContent > .content > .info .bottom .block:nth-child(2):nth-child(2),
  .scrollContent > .content > .info .bottom .block:nth-child(3):nth-child(2) {
    padding-bottom: 16px;
    border-bottom: 1px solid #279fbc;
    margin-bottom: 16px;
  }
}

/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media screen and (max-width: 600px) {
  .scrollContent {
    padding-top: 48px;
  }
  .scrollContent > .content {
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
    width: calc(100% - 16px);
  }
  .scrollContent > .content > a {
    margin-top: 12px;
  }
  .scrollContent > .content > .title {
    position: relative;
  }
  .scrollContent > .content > .title .mask img {
    width: 48px;
    height: 48px;
  }
  .scrollContent > .content > .title .name .plan {
    margin-top: -22px;
  }
  .scrollContent > .content > .title nav {
    position: absolute;
    right: 0;
    top: -44px;
  }
  .scrollContent > .content > .title nav > a,
  .scrollContent > .content > .title nav .update > span {
    width: 56px;
    height: 24px;
  }
  
  .scrollContent > .content > .title nav > a + a {
    margin-left: 8px;
  }
  .scrollContent > .content > .title nav .update {
    margin-left: 8px;
  }
  .scrollContent > .content > .title nav .update ul {
    top: 24px;
  }
  .scrollContent > .content > .tabs {
    margin-left: -8px;
    margin-right: -8px;
  }
  .scrollContent > .content > .tabs .tab {
    width: 50%;
  }
  .scrollContent > .content section.invest .cards {
    flex-direction: column;
  }
  .scrollContent > .content section.invest .cards .card {
    min-width: auto;
    justify-content: flex-start;
    /*-webkit-align-items: flex-start; /*20190605*/
    padding-left: 16%;
  }
  .scrollContent > .content section.invest .cards .card:nth-child(-n+2) {
    margin-bottom: 0;
  }
  .scrollContent > .content section.invest .cards .card:nth-child(2n) {
    margin-left: 0;
  }
  .scrollContent > .content section.invest .cards .card:nth-child(n+2) {
    margin-top: 16px;
  }
  .scrollContent > .content section.invest > .info {
    margin-top: 3px;
  }
  .scrollContent > .content section.invest .location {
    padding-left: 24px;
    padding-right: 24px;
  }
  .scrollContent > .content section.invest .location > .title h2 {
    flex-direction: column;
    align-items: flex-start;
  }
  .scrollContent > .content section.invest .location > .title h2 span {
    margin-left: 0;
    margin-top: 16px;
  }
  .scrollContent > .content section.invest .location .pie .list_body .list .item > span:nth-child(1) {
    max-width: calc(100% - 30px);
    overflow: hidden;
    line-height: 18px;
  }
  .scrollContent > .content section.invest .location .pie .list_body .list .item > span.readmore {
    position: absolute;
    top: 8px;
    right: 36px;
    background-color: transparent;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 35%);
    width: 40px;
    height: 15px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    padding-left: 10px;
    opacity: 1;
    transition: .3s;
  }
  .scrollContent > .content section.invest .location .pie .list_body .list .item.open span.readmore {
    opacity: 0;
  }
  .scrollContent > .content section.record > div nav > div {
    margin-left: 0;
    align-items: center;
  }
  .scrollContent > .content section.record > div nav > div .range button {
    display: none;
  }
  .scrollContent > .content section.record > div nav > div > p {
    width: 276px;
  }
  .scrollContent > .content section.record > div nav > div > button {
    display: inline-block;
    cursor: pointer;
    align-self: center;
    width: 64px;
    height: 32px;
    margin-top: 8px;
    border-radius: 16px;
    border: solid 1px #316fc9;
    background-color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.57;
    letter-spacing: 1px;
    text-align: center;
    color: #316fc9;
  }
  .scrollContent > .content section.record > div > p {
    margin-right: 16px;
    margin-top: -4px;
  }
  .scrollContent > .content section.record > div ul {
    margin-top: 0;
  }
  .scrollContent > .content section.record > div ul li.type1 {
    padding: 16px;
  }
  .scrollContent > .content section.record > div ul li.type1 div h1 {
    font-size: 12px;
    line-height: 1.67;
  }
  .scrollContent > .content section.record > div ul li.type1 div h2 {
    font-size: 14px;
    line-height: 1.57;
  }
  .scrollContent > .content section.record > div ul li.type1 span {
    font-size: 14px;
    line-height: 1.57;
  }
  .scrollContent > .content section.record > div ul li.type2 > .summary {
    padding: 16px 16px 24px;
  }
  .scrollContent > .content section.record > div ul li.type2 > .summary > div h1 {
    font-size: 12px;
    line-height: 1.67;
  }
  .scrollContent > .content section.record > div ul li.type2 > .summary > div h2 {
    font-size: 14px;
    line-height: 1.57;
  }
  .scrollContent > .content section.record > div ul li.type2 > .summary span {
    font-size: 14px;
    line-height: 1.57;
  }
  .scrollContent > .content section.record > div ul li.type2 > .summary img {
    top: auto;
    right: 16px;
    bottom: 0;
  }
  .scrollContent > .content section.record > div ul li.type2 > .summary.no-price {
    padding-bottom: 16px;
  }
  .scrollContent > .content section.record > div ul li.type2 > .summary.no-price img {
    bottom: 16px;
  }
  .scrollContent > .content section.record > div ul li.type2 .table {
    padding: 8px 16px 8px 32px;
  }
  .scrollContent > .content section.record > div ul li.type2 .table .head {
    display: none;
  }
  .scrollContent > .content section.record > div ul li.type2 .table .row {
    flex-direction: column;
  }
  .scrollContent > .content section.record > div ul li.type2 .table .row span:nth-child(1) {
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 1px;
  }
  .scrollContent > .content section.record > div ul li.type2 .table .row span:nth-child(n+2) {
    width: auto;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 1px;
    text-align: left;
  }
  .scrollContent > .content section.record > div ul li.type2 .table .row span:nth-child(n+2) span {
    margin-right: 23px;
    text-align: left;
    font-size: 12px;
    line-height: 1.67;
    color: #7f7f7f;
    width: 65px;
    display: inline-block;
  }
  .scrollContent > .content section.record > div .no-data {
    padding: 24px 0;
  }
}


/*零錢/消費投資*/

.link-udl {text-decoration: underline;}
.tal { text-align:left;}
.tac { text-align:center;}
.tar { text-align:right;}
.f-12 {font-size:12px!important;}
.f-13 {font-size:13px!important;}
.f-14 {font-size:14px!important;}
.f-gray {color:#ccc!important;}
.f-white {color:#fff;}
.f-green {color:#15bd7a!important;}
.mt-15 {margin-top:-15px!important;}
.mt5 {margin-top:5px!important;}
.mt10 {margin-top:10px!important;}
.mt20 {margin-top:20px!important;}
.mt30 {margin-top:30px!important;}
.mb5{margin-bottom:5px!important;}
.mb10{margin-bottom:10px!important;}
.mb30{margin-bottom:30px!important;}
.mr30{margin-right:30px!important;}
.ml10{margin-left:10px!important;}


.pc-show {display:show;}
.mo-show {display:none;}
@media screen and (max-width: 768px) { 
.pc-show {display:none;}
.mo-show {display:show;}
}   

.pv5{padding-top:5px; padding-bottom:5px;}
.ph5{padding-left:5px; padding-right:5px;}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.divide {border-bottom:1px solid #ccc;  width:98%!important; margin:12px auto!important; }

/*progress bar*/ 
.tree-bg{
  width: 345px;  margin:-75px 0 0 3px!important;  /*border:1px solid yellow;*/
  height: 70px;  
  background: url( "../img/estmate/tree.png") no-repeat 10px top;
  background-size: 250px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; }

.animated-progress { 
  width: 280px; display: block; float:left;   
  height: 24px; 
  margin: 50px 0 0 0!important; 
  border: 4px solid #15bd7a;
  background-color:#15bd7a;
  position: relative; border-top-left-radius: 8px; border-top-right-radius: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.animated-progress span {  
  height: 100%;
  display: block;
  width: 0; border-radius: 4px!important;
  color: #02e1fe!important; font-size:12px; line-height: 10px; overflow: hidden;
  position: absolute;
  text-align: end;
  padding-right: 5px; }

.progress-blue span {
  background-color: #02e1fe; } 

a:link.watering , a:hover.watering , a:visited.watering  { width: 50px;  height: 25px;  display: block;  float:right;  border-radius:12px; background-color:#e94875; margin:42px 5px 0 5px; text-align:center; line-height: 220%;  font-size:12px; font-weight:bold; color:#fff;   text-decoration:none;  
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; } 

.progress { width:100%; display:block; margin: 5px 10px 0 10px!important; color:#000; font-size:14px!important; line-height: 100%!important; clear:both; 
-webkit-box-sizing: border-box!important;
-moz-box-sizing: border-bo!x;
box-sizing: border-box!important;  }
.progress .numL { font-size:36px!important; font-weight:bold!important; color:#00d7f3!important; }
.progress .numM { font-size:17px!important; color:#666!important; }

.cards .card-green {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; 
  display: block; 
  min-height: 290px; 
  width:300px; 
 background-color: #fff; 
 border:4px solid #15bd7a!important;  
 margin:60px 0 0 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; 
}
@media screen and (max-width: 768px) { 
.cards .card-green {  width:100%; 
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;  }
}  

.cards .card-green img {
  display: block; float:left;
  margin: 47px 10px 0 25%;
}
.cards .card-green div {
  display: block; float:left;
  margin:20px 0 10px 16px;  
}
.cards .card-green div h1 {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  letter-spacing: 1px;
  color: #404040;
}
.cards .card-green div h2 {
  margin-top: 4px; color:#316fc9;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 1px;
}
.cards .card-green div span {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: 1px;
  color: #7f7f7f;
}
.cards .card-green .detail-wrap { width:100%; clear:both; margin-top:3px; }
.cards .card-green .details { width:30%; font-size:13px; text-align-last: center; diaplay:inline-block; border-right:1px solid #ccc; 
padding:5px; margin:0; 
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; }
.cards .card-green .details span { color:#316fc9;  font-size: 18px;  font-weight: 500;  line-height: 180%;  letter-spacing: 1px; }
.cards .card-green .details:last-child {  border-right:0; }

.table .row { font-size:14px!important; line-height: 180%; width:100%;   } 
.table .row .row-L  { display: block; float:left; width:90px; text-align: left;   }
.table .row .row-R  { display: block; float:left; width:180px; text-align: left;  color:#15bd7a;  }

@media screen and (max-width: 768px) { 
.table .row { font-size:13px!important; line-height: 180%; width:95%;  }
.table .row .row-L  { display: block; float:left; width:49%; text-align: left;   }
.table .row .row-R  { display: block; float:left; width:49%; text-align: right;  color:#15bd7a; }
}  

a:link.del-btn , a:hover.del-btn , a:visited.del-btn  { width: 50px;  height: 25px;  display: block;  float:right;  border-radius:3px; background-color:#0070c0; margin:0 30px 0 5px; text-align:center; line-height: 220%;  font-size:12px; font-weight:bold; color:#fff;   text-decoration:none;  
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; }
a:link.del-btn.disabled , a:hover.del-btn.disabled , a:visited.del-btn.disabled  {  background-color:#999;  }

.scrollContent > .content > .info .top .block.smallChnage  {  width: 33%;  } 
@media screen and (max-width: 768px) { 
.scrollContent > .content > .info .top .block.smallChnage  {  width: 100%;  } 
}  

.scrollContent > .content > .info .top .block:first-child .field span:first-child,
.scrollContent > .content > .info .top .block:nth-child(2) .field span:first-child,  
.scrollContent > .content > .info .top .block:nth-child(3) .field span:first-child,  
.scrollContent > .content > .info .top .block:last-child .field span:first-child {  width: 136px; } 
}

@media screen and (max-width: 768px) { 
  .scrollContent > .content > .info .top .block:first-child .field span:first-child,
  .scrollContent > .content > .info .top .block:nth-child(2) .field span:first-child,
  .scrollContent > .content > .info .top .block:last-child .field span:first-child {
    width: 136px;  }
}  

/*20201202 tab*/
/*---------2 tabs-----------*/
.tab-container {
  width: 100%;  
  margin:8px auto 0 auto;
  text-align: left; 
  clear:both;
}
.tab-btn {
  display: inline-block;  
  font-size: 16px;
  font-weight: bold;
  color: #ccc;
  padding: 5px;
  transition: 0.3s;
  cursor: pointer;
 width: calc(50% - 4px);
  text-align: center;  
  border-bottom:4px solid #b4b3b3;
  margin:0 2px;
} 
@media screen and (max-width: 768px) { 
.tab-container { margin: 10px auto 0 auto; }
.tab-btn { font-size: 15px!important; padding: 5px!important; } 
}    

.tab-content {   
  padding: 0;
  display: none;
  text-align: left;
  line-height: 160%;
  font-size: 16px; 
  transition: 0.3s;
}

#active-content {
  display: block;
} 
#active-tab {
  color: #1bd188; border-bottom:4px solid #15bd7a;
  -webkit-animation-name: notice;
  -webkit-animation-duration: 300ms;
  -moz-animation-name: notice;
  -moz-animation-duration: 300ms;
  animation-name: notice;
  animation-duration: 300ms;
} 
