@charset "utf-8";
/* CSS Document */

/*font-----------------------------------------------------------------------------------*/
html { font-family:  'Microsoft JhengHei', '微軟正黑體', Verdana, sans-serif; }

/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  font-size: 16px; 
  color: #4a4a4a;
}
img {
  margin: 0;
}
p,
ul,
ol,
h1,
h2 {
  margin: 0;
  padding: 0;
}
mark {
  background-color: transparent;
}
.scrollContainer {
  width: calc(100% + 25px); 
  /*height: 100vh;*/ height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.scrollContent { 
  padding-top: 56px;  
  padding-right: 25px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url('../svg/invalid-name-geometry.svg') #011b4e center;
}
.content {
  flex: 1 0 auto;
  width: 100%;
  max-width: 1040px;
  margin: 36px auto;
}
.content .new-plan {
  z-index: 2;
  position: fixed;
  right: -100%;
  bottom: 80px;
}
.content .new-plan img {
  width: 80px;
  position: absolute;
  top: -56px;
  left: calc(50% - 40px);
}
.content .new-plan a {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 3px;
  text-align: center;
  color: #ffffff;
  background-color: #e94875;
  -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
}
.content > h1 { 
  border-bottom: 4px solid #2cb3d2;
  margin-bottom: 16px; margin-top:20px;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
}
.content nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.content nav span {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  letter-spacing: 1px;
  color: #ffffff;
}
.content nav span mark {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 5px;
  padding: 1px 8px;
  border: 1px solid #f4f4f4;
  margin-left: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
  letter-spacing: 1px;
  color: #fff;
}
.content nav img {
  cursor: pointer;
}
.content .summary { 
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  min-height: 116px;
  display: flex;
  padding: 16px 0 16px;
  background-color: white;
}
.content .summary div { 
  flex: 1 0 0%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.content .summary div h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 180%;
  height: 30px;
  letter-spacing: 1px;
  color: #7f7f7f;
}
@media screen and (max-width: 768px) {
.content .summary div h2 { line-height: 120%; height: 30px; text-align: center;   }
.content .summary div > span.plus, .content .summary div > span.minus  { margin-top: 4px!important;  text-align: center; }
.content .summary div > span { font-size: 20px;  text-align: center; }
.content .summary .total { font-size: 12px!important; }
}     

.content .summary div > span {
  margin-top: 8px;  
  font-size: 38px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 1px;
  color: #404040;  text-align: center;
}
.content .summary .total { 
  width:100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 220%; padding:0 2px 0 0;
  color: #666;  text-align: center;
}
.content .summary div > span.plus { 
  color: #316fc9; 
}
.content .summary div > span.minus { 
  color: #f77ebc; 
}
.content .summary div > span.none {
  margin-top: 8px;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 1px;
  text-align: center;
  color: #404040;
}
.content .summary div > span span:nth-child(1) {
  font-size: 30px;
  line-height: 1.47;
}
.content .summary div > span span:nth-child(3) {
  font-size: 24px;
  line-height: 1.83;
  letter-spacing: normal;
}
.content .summary div > h3 {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: 1px;
  color: #7f7f7f;
}
.content .summary div + div {
  position: relative;
}
.content .summary div + div:before {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  content: '';
  display: block;
  width: 1px;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e0e0e0;
}
.content .sort {  
  margin-top: 0;
  text-align: right;
  position: relative;
  width:30px;
  float:right;
}
.content .sort img {
  cursor: pointer;
}
.content .sort ul {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: none;
  z-index: 2;
  overflow: hidden;
  position: absolute;
  top: 24px;
  right: 0;
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.content .sort ul li {
  cursor: pointer;
  width: 122px;
  height: 40px;
  padding-top: 9px;
  padding-left: 16px;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 1px;
  color: #404040;
  background-color: white;
  text-align: left;
}
.content .sort ul li.active,
.content .sort ul li:hover {
  background-color: #f5f5f5;
}
.content .sort ul li + li {
  border-top: 1px solid #e0e0e0;
}
.content .cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}
/*NANO NO1*/
.content .cards .card {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  width: 30.76%;
  min-height: 168px;
  border: 0px solid #2fb153;
  background-color: #fff; 
}
.content .cards .card:not( :nth-child(3n + 1)) {
  margin-left: 3.84%;
}
.content .cards .card:nth-child(n + 4) {
  margin-top: 40px;
}
.content .cards .card > h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 16px;
  background-color: #eaf7ed;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: 1px;
  color: #2fb153;
}
.content .cards .card > h2 span {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  letter-spacing: 1px;
  text-align: right;
  color: #7f7f7f;
}
.content .cards .card > a {
  display: flex;
  align-items: flex-start;
  margin-top: 8px;
  padding: 0 16px;
}
.content .cards .card > a .mask {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  background-color: #72bb86;
}
.content .cards .card.no2 > a .mask {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  background-color: #038ece;
}
.content .cards .card > a .mask img {
  height: 40px;
}
.content .cards .card > a .title {
  flex: 1 1 auto;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content .cards .card > a .title h3 {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  letter-spacing: 1px;
  color: #404040;
}
.content .cards .card > a .title span {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 2px 8px;
  border: 1px solid #c0c0c0;
  font-size: 12px;
  font-weight: 500;
  color: #c0c0c0;
}
.content .cards .card > a > img {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  flex-shrink: 0;
  margin-top: 8px;
  cursor: pointer;
  height: 24px;
}
.content .cards .card > div {
  padding-bottom: 8px;
  margin-top: 8px;
  display: flex;
}
.content .cards .card > div div {
  flex: 1 0 0%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.content .cards .card > div div h2 {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: 1px;
  color: #7f7f7f;
}
.content .cards .card > div div > span {
  margin-top: 4px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 1px;
  color: #404040;
}
.content .cards .card > div div > span.plus {
  margin-top: 14px;
  color: #316fc9;
}
.content .cards .card > div div > span.minus {
  margin-top: 14px;
  color: #f77ebc;
}
.content .cards .card > div div > span.none {
  margin-top: 7px;
  font-size: 16px;
  line-height: 1.75;
}
.content .cards .card > div div > span span:nth-child(1) {
  font-size: 16px;
  line-height: 1.75;
}
.content .cards .card > div div > span span:nth-child(3) {
  font-size: 12px;
  line-height: 2.33;
  letter-spacing: normal;
}
.content .cards .card > div div > h3 {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: 1px;
  color: #7f7f7f;
}
.content .cards .card > div div + div {
  position: relative;
}
.content .cards .card > div div + div:before {
  content: '';
  display: block;
  width: 1px;
  height: 68px;
  position: absolute;
  top: 4px;
  left: 0;
  background-color: #e0e0e0;
}
.content .cards .card.disabled > a .mask {
  background-color: #b3b3b3;
}
.content .cards .card.no2.disabled > a .mask {
  background-color: #b3b3b3;
}
.content .cards .card.kyper {
  border-color: #279fbc;
}
.content .cards .card.kyper > h2 {
  background-color: rgba(39, 159, 188, 0.1);
  color: #279fbc;
}
/*NANO NO2*/
.content .cards .card.no2 { 
  border: 0px solid  #2cb3d2; 
}
.content .cards .card.no2 > h2 { 
  background-color: #daecf7; 
  color: #269cc7;
}
.content .cards .card.no2.disabled  {
  background-color: #fff;
} 

.video-expert {width:97%; height:97%;}

/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media screen and (max-width: 992px) {
  .scrollContainer {
    width: auto;
  }
  .scrollContent {
    max-width: none;
    padding-left: 44px;
    padding-right: 44px;
  }
  .content .cards .card {
    width: 47.05%;
  }
  .content .cards .card:not( :nth-child(3n + 1)) {
    margin-left: 0%;
  }
  .content .cards .card:not( :nth-child(2n + 1)) {
    margin-left: 5.88%;
  }
  .content .cards .card:nth-child(n + 3) {
    margin-top: 40px;
  }
}
@media screen and (max-width: 650px) {
  .content .sort {
    margin-top: 0;
  }
  .content .cards .card {
    width: 100%;
  }
  .content .cards .card:not( :nth-child(3n + 1)) {
    margin-left: 0%;
  }
  .content .cards .card:not( :nth-child(2n + 1)) {
    margin-left: 0%;
  }
  .content .cards .card:not( :nth-child(n + 1)) {
    margin-left: 0%;
  }
  .content .cards .card:nth-child(n + 3) {
    margin-top: 0px;
  }
  .content .cards .card:nth-child(n + 2) {
    margin-top: 16px;
  }
}

/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media screen and (max-width: 600px) {
  .scrollContent {
    padding-top: 48px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .content {
    margin-top: 16px;
  }
  .content .new-plan img {
    width: 60px;
    top: -42px;
    left: calc(50% - 30px);
  }
  .content .new-plan a {
    width: 70px;
    height: 70px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.22;
    letter-spacing: 2px;
  }
  .content .summary {
    min-height: 0;
  }
  .content .summary div {
    padding-left: 16px;
    text-align: left;
  }
  .content .summary div > span {
    margin-top: 4px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: 1px;
  }
  .content .summary div > span.plus,
  .content .summary div > span.minus {
    margin-top: 13px;
  }
  .content .summary div > span span:nth-child(1) {
    font-size: 20px;
    line-height: 1.6;
  }
  .content .summary div > span span:nth-child(3) {
    font-size: 12px;
    line-height: 2.67;
    letter-spacing: normal;
  }
  .content .summary div:nth-child(1) {
    flex-grow: 50%;
  }
  .content .summary div:nth-child(2) {
    flex-grow: 50%;
  }
  .content .summary div + div:before {
    height: calc(100% - 8px);
    top: 4px;
  }
  .content .cards .card > div div {
    padding-left: 16px;
    text-align: left;
  }
  .content .cards .card > div div:nth-child(1) {
    flex-grow: 50%;
  }
  .content .cards .card > div div:nth-child(2) { 
    flex-grow: 50%;
  } 
}

  /*20200605*/
.reminder-wrap {display:block; width:100%; clear:both;}
.reminder  {display:inline-block; width:calc(100% - 95px); min-height:30px; font-size:14px!important; color:#666; text-align: left; line-height:160%; font-size:15px; background-color:#f2f4ff; padding:10px; border-radius: 8px; 
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; }
@media screen and (max-width: 768px) {  
.reminder  { font-size:13px;  } 
}
.reminder-cube {display:inline-block; width:90px; height:90px; background: url(../img/Robot_png/robot.png) no-repeat left top;
background-size:90px; position:relative; left:10px; top:20px; } 

/*20200731*/
.btns {
  width: 400px;
  display: flex;
  padding: 0; margin: 15px auto -50px auto;
}
.btns a {
  -webkit-tap-highlight-color: transparent;
  margin: 0 auto; 
  cursor: pointer;
  text-align: center;
  line-height: 48px;
  display: inline-block;
  width: 140px;
  font-weight: lighter;
  letter-spacing: 1px;
  border-radius: 10px;
  border:1px solid #3aced6;
  box-shadow: 0px 0px 8px 0px rgba(117,233,239,1); /* (線框)*/
  /*border-radius: 100px; 
   background-image: linear-gradient(120deg, #093e7e, #2ad2b8); ***(漸層)*/
  /*border-radius: 100px; 
   background-color: #279fbc; ***(綠)*/
  color:#fff;
  font-weight:600;
} 
@media screen and (max-width: 600px) {
.btns { 
    width: 85%; 
    margin: 15px 60px -60px auto;
    display: flex;}
.btns a { margin: auto; }
}

/*20201202*/
a.lesson-wrap { display:block; width:430px; margin: 0 auto; padding:0; line-height: 130%; color:#fff;  }
.lesson-wrap .thumbnail { text-align: center; }
.lesson-wrap .thumbnail.video img { width:430px; height:320px; margin: 5px auto 0 auto; border:1px solid #999; 
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; }  
.lesson-wrap .thumbnail img { width:430px; height:200px; margin: 5px auto 0 auto; border:1px solid #999;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; }

@media screen and (max-width: 768px) {  
a.lesson-wrap { display:block; width:100%; }
.lesson-wrap .thumbnail.video img { width:98%; height:73%; }
.lesson-wrap .thumbnail img { width:98%; height:46%; }
}  
.lesson-wrap .date {font-size:12px; color:#ccc;}
.lesson-wrap .tt {font-size:15px; font-weight:bold; margin: 0 0 5px 0; }
.lesson-wrap .preamble {font-size:13px; color:#f4f4f4;
overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical; } 

/*20201202 tab*/
/*---------2 tabs-----------*/
.tab-container {
  width: 100%;  
  margin: -10px auto 0 auto;
  text-align: left;
}
.tab-btn {
  display: inline-block;  
  font-size: 16px;
  font-weight: bold;
  color: #c1c1c1;
  padding: 5px;
  transition: 0.3s;
  cursor: pointer;
 width: calc(50% - 4px);
  text-align: center;  
  border-bottom:4px solid #c1c1c1;
  margin:0 2px;
} 
@media screen and (max-width: 768px) { 
.tab-container { margin: -15px auto 0 auto!important; }
.tab-btn { font-size: 15px!important; padding: 5px!important; } 
}    

.tab-content {
  color: #fff;
  padding: 0;
  display: none;
  text-align: left;
  line-height: 160%;
  font-size: 16px; 
  transition: 0.3s;
}

#active-content {
  display: block;
} 
#active-tab {
  color: #4acdec; border-bottom:4px solid #2cb3d2;
  -webkit-animation-name: notice;
  -webkit-animation-duration: 300ms;
  -moz-animation-name: notice;
  -moz-animation-duration: 300ms;
  animation-name: notice;
  animation-duration: 300ms;
} 

/*---------3 tabs-----------*/
.tabset {margin:-15px 0 0 0;  }
.tabset > input[type="radio"] {
  position: absolute; 
  left: -200vw;}
.tabset .tab-panel { display: none;  padding:10px 0; }

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) { display: block;}

.tabset > label {
  position: relative;  
  width: calc(33.4% - 4px);
  display: inline-block;
  font-size: 16px; 
  color: #c1c1c1;
  text-align: center;
  padding: 5px;
  transition: 0.3s;
  border-bottom:4px solid #c1c1c1;    
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; }  

@media screen and (max-width: 768px) {  
.tabset > label { font-size: 14px!important; padding: 8px 0 6px 0!important; }  
}    

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  border-bottom:4px solid #38b9d7; color: #4acdec; }

.tabset > input:checked + label { 
  border-bottom:4px solid #38b9d7;  color: #4acdec; }
 /*20201202 tab end*/


 
/*20210528*/
.share {
    width: 100%; font-weight: 800;
    text-align: left; padding:0; margin:7px 0 0 0;
    border-top: 1px dotted #53868e;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
.share a img { width: 28px;  margin: 5px 12px 0 0; }
@media screen and (max-width: 768px) { 
.share a img { width: 22px; margin: 5px 8px 0 0; }
}   

/*20210820*/ 
.more { display:block; width:100%; height:30px; text-align: center; background-color: #fff; margin:-10px auto 10px auto; padding-bottom:20px;  border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; 
-webkit-box-sizing: border-box; border-top:1px solid #eee;
-moz-box-sizing: border-box;
box-sizing: border-box;  }
.extend { height:100px; display:block; width:100%!important; background-color: #fff; margin:-20px auto 50px auto; padding:10px 0; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; 
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;  } 
/*.extend-grid.sum-L { width:50%; height:115px; display:block; float:left; } 
.extend-grid.sum-R { width:50%; height:115px; display:block; float:right;  font-size:14px; color:#bababa; text-align: center; line-height: 140%; border-right:0px solid #ddd; padding:0 10px 0 10px; 
-webkit-box-sizing: border-box;  
-moz-box-sizing: border-box;
box-sizing: border-box; } */
.extend-grid.bonus { width:100%; height:110px; background-color: #f3f6fe;  padding:10px;   }
.extend-grid.bonus.left { width:50%; display:block; float:left; border-bottom-left-radius: 8px; text-align: center;  }
.extend-grid.bonus.right { width:50%; display:block; float:right; border-bottom-right-radius: 8px; text-align: center;  }
.extend-grid .tt { display:block; height:25px; font-size:13px; color:#7f7f7f;  }
.extend-grid.bonus .tt { display:block; height:45px; }
.extend-grid .h3 { display:block; font-size:24px!important; font-weight:400; color:#666; margin-bottom:8px;  }
.extend-grid .h3-value { font-size:24px!important; font-weight:400; color:#316fc9;  }
.extend-grid .h3-pct { font-size:18px!important; font-weight:400; color:#316fc9; }

@media screen and (max-width: 768px) {
.more { margin:-10px auto 10px auto; } 
.extend { height:100px;  margin:-20px auto 40px auto; }
/*.extend-grid.sum-L, .extend-grid.sum-R  { height:100px; }*/
.extend-grid {  height:60px; font-size:12px!important; text-align: left; line-height: 140%;  padding:0 10px 0 16px; } 
.extend-grid.bonus {  height:90px;  padding:15px 10px 0 16px;  }
.extend-grid .tt { display:block; height:25px; }
.extend-grid .h3 { font-size:17px!important; }
.extend-grid .h3-value { font-size:18px!important; }
.extend-grid .h3-pct { font-size:13px!important; } 
.extend-grid.bonus .tt { height:40px; }
.card-no1, .card-no2  { margin-left:-80px!important;  }
} 

.card-no1 { display:inline-block; min-width:70px; font-size:12px!important; font-weight:800; padding:1px 8px!important; border-radius:2px;  background-color:#6ab27e; color:#fff!important; text-align: center; letter-spacing: 0px!important; margin-left:-40px;  }
.card-no2 { display:inline-block; min-width:70px; font-size:12px!important; font-weight:800; padding:1px 8px!important; border-radius:2px;  background-color:#269cc7; color:#fff!important;  text-align: center; letter-spacing: 0px!important; margin-left:-40px; }

.promo-no1, .promo-no2 { display:block; min-width:120px; font-size:15px; font-weight:400; line-height: 210%;  padding:15px 3px; text-align: center; border-radius:8px; margin:15px auto; 
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; }
.promo-no1 .link-udl, .promo-no2 .link-udl { display: inline-block; margin:0 5px; text-decoration:underline!important; font-size:15px!important; font-weight:400!important; color:#1d8acf!important; }
.promo-no1 {  border:2px solid #2fb153; color:#000; background-color: #dcf4e2; }
.promo-no2 {  border:2px solid #269cc7; color:#000; background-color: #d4f0fe; }
.promo-no1 span { font-weight:600; font-size:20px; color:#2fb153;  }
.promo-no2 span { font-weight:600; font-size:20px; color:#269cc7; }
a:link.promo-no1 , a:visited.promo-no1 , a:hover.promo-no1,a:link.promo-no2 , a:visited.promo-no2 , a:hover.promo-no2  { text-decoration:none; }  

 





 
