@charset "utf-8";
/* CSS Document */

/*font-----------------------------------------------------------------------------------*/
html { font-family:  'Microsoft JhengHei', '微軟正黑體', Verdana, sans-serif; }

/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  position: relative !important;
  width: 100%;
  height: auto;
  background-image: linear-gradient(to top, #011b4e, #0f549d);
}
body header {
  background-image: none;
  background-color: #0f549d;
}
body .frame1 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .frame1 .robotHeadContainer {
  /*width: 190px;
            height: 190px;*/
  max-width: 190px;
  max-height: 190px;
  width: calc(100vh * .2);
  height: calc(100vh * .2);
  margin-bottom: 30px;
  background-color: #91e3e1;
  visibility: hidden;
  -webkit-border-radius: calc(100vh * .2);
  -moz-border-radius: calc(100vh * .2);
  border-radius: calc(100vh * .2);
}
body .frame1 .robotHeadContainer .robotHead {
  visibility: hidden;
  width: 100%;
  height: 100%;
}
body .frame1 .welcomeMessage {
  visibility: hidden;
  position: relative;
  background: transparent;
  border: 2px solid #ffffff;
  padding: 25px;
  text-align: center;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 1.5px;
  color: #ffffff;
  margin-bottom: calc(100vh * .078);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
body .frame1 .welcomeMessage:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-bottom-color: #19407d;
  border-width: 5px;
  margin-left: -5px;
}
body .frame1 .welcomeMessage:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-bottom-color: #ffffff;
  border-width: 8px;
  margin-left: -8px;
}
body .frame1 .startBtn {
  margin-top: 0;
  visibility: hidden;
  cursor: pointer;
  border: none;
  padding: 6px 25px;
  margin-bottom: calc(100vh * .078);
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  border-radius: 34px;
  min-height: 48px;
  outline: none;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2.5px;
  text-align: center;
  color: #4668cb;
  background-color: #ffffff;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
body .frame1 .startBtn:hover {
  color: #ffffff;
  background-color: #90a4e0;
}
body .frame2 {
  display: none;
  width: 100%;
  height: 100%;
}
body .frame2 .summary {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 334px;
  height: calc(100vh - 56px);
  background-color: rgba(0, 0, 0, 0.32);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
body .frame2 .summary input {
  min-width: 154px;
  min-height: 48px;
  margin-top: 40px;
  margin-bottom: 59px;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;
  background-color: #316fc9;
  padding: 6px 25px;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
body .frame2 .summary input:hover {
  color: #ffffff;
  background-color: #90a4e0;
}
body .frame2 .summary ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
body .frame2 .summary ul li {
  margin: 0 44px calc((100vh - 56px) * .02);
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}
body .frame2 .dialog {
  margin-top: 56px;
  width: calc(100vw - 334px);
  min-height: calc(100vh - 56px);
  height: calc(100% - 56px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
body .frame2 .dialog ul {
  width: 100%;
  margin: 0;
  max-width: 1000px;
  /*padding: 48px 70px calc(~"100vh * (252/1080)") 233px;
                padding: 48px 70px 40px calc(~"100vw * (233/1920)");*/
  padding: 48px 40px 40px 40px;
  list-style: none;
}
body .frame2 .dialog ul .go {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
body .frame2 .dialog ul .go input {
  visibility: hidden;
  cursor: pointer;
  border: none;
  width: 384px;
  height: 86px;
  padding: 27px 0 27px;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  border-radius: 34px;
  margin-top: 25px;
  outline: none;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  background: url('../svg/cta-outline-378.svg') no-repeat center center;
  background-size: 378px 86px;
  text-indent: -60px;
}
body .frame2 .dialog ul .talk {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 19px;
}
body .frame2 .dialog ul .talk .avatar {
  visibility: hidden;
  width: 64px;
  height: 64px;
}
body .frame2 .dialog ul .talk .message {
  display: none;
  visibility: hidden;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 2px;
  margin-top: 2px;
  padding: 18px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
body .frame2 .dialog ul .talk .message input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 0 10px;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 2px;
  border: none;
  background-color: transparent;
  outline: none;
  min-width: 200px;
  max-width: 525px;
  text-align: center;
  border-bottom: solid 3px #4668cb;
  color: #4668cb;
}
body .frame2 .dialog ul .talk .message input::-ms-clear {
  display: none;
}
body .frame2 .dialog ul .talk .message.typeing {
  display: block;
}
body .frame2 .dialog ul .talk .message.typeing img {
  width: 50px;
  height: auto;
  margin: 0 auto;
}
body .frame2 .dialog ul .talk .sticker {
  width: 103px;
  height: 89px;
  margin-left: 19px;
}
body .frame2 .dialog ul .talk.robot .message {
  transform-origin: center left;
  max-width: 35%;
  text-align: left;
  color: #404040;
  background-color: #ffffff;
  position: relative;
  margin-left: 19px;
}
body .frame2 .dialog ul .talk.robot .message > span {
  color: #316fc9;
}
body .frame2 .dialog ul .talk.robot .message.error {
  color: #f77ebc;
}
body .frame2 .dialog ul .talk.robot .message:before {
  content: "\A";
  border-style: solid;
  border-width: 3px 3px 3px 0;
  border-color: transparent #ffffff transparent transparent;
  position: absolute;
  top: 7px;
  left: -3px;
}
body .frame2 .dialog ul .talk.user {
  flex-direction: row-reverse;
}
body .frame2 .dialog ul .talk.user .message {
  transform-origin: center right;
  max-width: 70%;
  text-align: left;
  color: #4668cb;
  background-color: #ffd87c;
  position: relative;
  margin-right: 19px;
}
body .frame2 .dialog ul .talk.user .message:before {
  content: "\A";
  border-style: solid;
  border-width: 3px 0 3px 3px;
  border-color: transparent transparent transparent #ffd87c;
  position: absolute;
  top: 7px;
  right: -3px;
}
body .frame2 .dialog ul .optionList {
  outline: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 730px;
  margin-top: 7px;
  margin-left: 83px;
  margin-bottom: 16px;
}
body .frame2 .dialog ul .optionList .option {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 350px;
  margin-bottom: 16px;
}
body .frame2 .dialog ul .optionList .option .icon {
  pointer-events: none;
  width: 80px;
  height: 80px;
  margin-right: 24px;
}
body .frame2 .dialog ul .optionList .option .icon img {
  width: 80px;
  height: 80px;
}
body .frame2 .dialog ul .optionList .option .icon .check {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background-color: rgba(145, 227, 225, 0.7);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
body .frame2 .dialog ul .optionList .option .icon .check img {
  width: 80px;
  height: 60px;
}
body .frame2 .dialog ul .optionList .option .iconText {
  pointer-events: none;
  min-height: 80px;
  min-width: 80px;
  width: 80px;
  height: 80px;
  margin-right: 24px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
body .frame2 .dialog ul .optionList .option .iconText span {
  width: 80px;
  display: block;
  font-size: 14px;
  line-height: 2.86;
  letter-spacing: 1.8px;
  text-align: center;
  color: #ffffff;
}
body .frame2 .dialog ul .optionList .option .iconItem {
  pointer-events: none;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 2px;
  text-align: center;
  padding: 12px 32px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .frame2 .dialog ul .optionList .option .iconItem .height-center span {
  -webkit-transition: color 0.3s ease-in-out, color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, color 0.3s ease-in-out;
}
body .frame2 .dialog ul .optionList .option .iconItem .height-center span.nowrap {
  white-space: nowrap;
}
body .frame2 .dialog ul .optionList .option .iconItem .height-center span.colortext {
  color: #ffd975;
}
body .frame2 .dialog ul .optionList .option .text {
  pointer-events: none;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: 1.5px;
  color: #ffffff;
}
body .frame2 .dialog ul .optionList .option.plus {
  max-width: 400px;
}
body .frame2 .dialog ul .optionList .option.plus .text {
  max-width: 255px;
}
body .frame2 .dialog ul .optionList .option.tiny {
  width: auto;
}
body .frame2 .dialog ul .optionList .option.tiny .iconItem {
  min-width: 247px;
}
body .frame2 .dialog ul .optionList .option.active .icon .check {
  opacity: 1;
}
body .frame2 .dialog ul .optionList .option.active .iconText {
  background-color: #91e3e1;
}
body .frame2 .dialog ul .optionList .option.active .iconItem {
  color: #316fc9;
  background-color: #91e3e1;
}
body .frame2 .dialog ul .optionList .option.active .iconItem .height-center span.colotext {
  color: #e94875;
}
body .frame2 .dialog ul .optionList .option.hover {
  cursor: pointer;
}
body .frame2 .dialog ul .optionList.nowarp {
  flex-direction: column;
  flex-wrap: nowrap;
}
body .waveBg_f {
  bottom: 0;
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: calc(100vh * (224/1080));
  background-image: url(../svg/lineage.svg);
  background-repeat: repeat-x;
  background-size: auto 100%;
  pointer-events: none;
}
body .waveBg_b {
  bottom: 0;
  z-index: -1;
  position: fixed;
  width: 100vw;
  /*height: 182px;*/
  height: calc(100vh * (182/1080));
  background-image: url(../svg/wave-back.svg);
  background-repeat: repeat-x;
  background-size: auto 100%;
}

/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media screen and (max-width: 992px) {
  body {
    height: auto;
  }
  body .frame1 .robotHeadContainer {
    width: 150px;
    height: 150px;
    margin-bottom: 40px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    border-radius: 75px;
  }
  body .frame1 .robotHeadContainer .robotHead {
    width: 150px;
    height: 150px;
    min-height: 150px;
    min-width: 150px;
  }
  body .frame1 .welcomeMessage {
    line-height: 40px;
  }
  body .frame1 .startBtn {
    padding: 13px 35px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
  }
  body .frame2 .mobileReset {
    opacity: 0;
    z-index: 1;
    position: fixed;
    top: 96px;
    right: 16px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    border: none;
    outline: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    background-color: #316fc9;
    padding: 13px 10px;
    -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  }
  body .frame2 .dialog {
    margin-top: 80px;
    width: 100%;
    min-height: calc(100vh - 80px);
    height: auto;
  }
  body .frame2 .dialog ul {
    padding: 24px 42px;
  }
  body .frame2 .dialog ul .talk .avatar {
    visibility: hidden;
    width: 50px;
    height: 50px;
  }
  body .frame2 .dialog ul .talk .message {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.6px;
    margin-top: 2px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  body .frame2 .dialog ul .talk .message input {
    max-width: 450px;
  }
  body .frame2 .dialog ul .talk .message.typeing img {
    object-fit: contain;
    -o-object-fit: contain;
    width: 40px;
    margin: 0;
  }
  body .frame2 .dialog ul .talk.robot .message {
    max-width: 70%;
  }
  body .frame2 .dialog ul .talk.user .message {
    max-width: 70%;
  }
  body .frame2 .dialog ul .optionList {
    flex-wrap: nowrap;
    flex-direction: column;
    margin-left: 68px;
  }
  body .frame2 .dialog ul .optionList .option .icon {
    width: 60px;
    height: 60px;
    margin-right: 24px;
  }
  body .frame2 .dialog ul .optionList .option .icon img {
    width: 60px;
    height: 60px;
  }
  body .frame2 .dialog ul .optionList .option .icon .check {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
  }
  body .frame2 .dialog ul .optionList .option .icon .check img {
    width: 60px;
    height: 45px;
  }
  body .frame2 .dialog ul .optionList .option .text {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 1.5px;
  }
}

/*color-------------------------------------------------------------------------------------*/
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media screen and (max-width: 600px) {
  body .frame1 .robotHeadContainer {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
  }
  body .frame1 .robotHeadContainer .robotHead {
    width: 100px;
    height: 100px;
    min-height: 100px;
    min-width: 100px;
  }
  body .frame1 .welcomeMessage {
    position: relative;
    background: transparent;
    border: 2px solid #ffffff;
    padding: 6px 22px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: calc(100vh * .2);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  body .frame1 .startBtn {
    cursor: pointer;
    border: none;
    padding: 2px 26px;
    margin-bottom: 0;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    min-height: 32px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2.1px;
  }
  body .frame2 .mobileReset {
    top: 64px;
  }
  body .frame2 .dialog {
    margin-top: 48px;
    min-height: calc(100vh -48px);
  }
  body .frame2 .dialog ul {
    padding: 16px;
  }
  body .frame2 .dialog ul .go {
    margin-bottom: 40px;
  }
  body .frame2 .dialog ul .go input {
    width: 264px;
    height: 68px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
    padding: 19px 0 19px;
    margin-top: 41px;
    background: url('../svg/250.svg') no-repeat center center;
    background-size: 250px 68px;
    text-indent: -15px;
  }
  body .frame2 .dialog ul .talk {
    margin-bottom: 16px;
  }
  body .frame2 .dialog ul .talk .avatar {
    width: 30px;
    height: 30px;
  }
  body .frame2 .dialog ul .talk .message {
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 1.5px;
    margin-top: 2px;
    padding: 5px 10px;
    min-height: 20px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  body .frame2 .dialog ul .talk .message input {
    margin: 0 5px;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 1.5px;
    border: none;
    background-color: transparent;
    outline: none;
    min-width: 60px;
    box-sizing: border-box;
    /*max-width: 198px;*/
    max-width: calc(100vw - 142px);
    -webkit-overflow-scrolling: auto;
    text-align: center;
    border-bottom: solid 2px #4668cb;
    color: #4668cb;
  }
  body .frame2 .dialog ul .talk .message.typeing img {
    width: 35px;
    height: 24px;
  }
  body .frame2 .dialog ul .talk .sticker {
    width: 54px;
    height: 47px;
  }
  body .frame2 .dialog ul .talk.robot .message {
    margin-left: 7px;
    max-width: 76%;
  }
  body .frame2 .dialog ul .talk.user .message {
    margin-right: 7px;
    max-width: 76%;
  }
  body .frame2 .dialog ul .optionList {
    flex-direction: column;
    margin-top: 7px;
    margin-left: 0;
    margin-bottom: 16px;
  }
  body .frame2 .dialog ul .optionList .option {
    width: 100%;
    max-width: 100%;
    margin-bottom: 8px;
    -webkit-tap-highlight-color: transparent;
  }
  body .frame2 .dialog ul .optionList .option .icon {
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
  body .frame2 .dialog ul .optionList .option .icon img {
    width: 40px;
    height: 40px;
  }
  body .frame2 .dialog ul .optionList .option .icon .check {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
  body .frame2 .dialog ul .optionList .option .icon .check img {
    width: 40px;
    height: 30px;
  }
  body .frame2 .dialog ul .optionList .option .iconText {
    min-height: 54px;
    min-width: 54px;
    width: 54px;
    height: 54px;
    margin-right: 13px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
  }
  body .frame2 .dialog ul .optionList .option .iconText span {
    width: 54px;
    display: block;
    font-size: 12px;
    line-height: 40px;
    letter-spacing: 1px;
  }
  body .frame2 .dialog ul .optionList .option .iconItem {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.5px;
    padding: 6px 25px;
    margin-left: 37px;
    margin-right: 37px;
    max-width: 350px;
  }
  body .frame2 .dialog ul .optionList .option .text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.5px;
  }
  body .frame2 .dialog ul .optionList .option.plus {
    max-width: 100%;
    margin-bottom: 16px;
  }
  body .frame2 .dialog ul .optionList .option.plus .text {
    max-width: 230px;
  }
  body .frame2 .dialog ul .optionList .option.tiny {
    width: 100%;
    max-width: 100%;
    margin-bottom: 16px;
  }
}
